<footer class="footer">
    <%- typeof praice != 'undefined' ? praice : '' %>
    <div class="footer__item-img">
        <picture>
            <source srcset="img/footer/Logo-1.webp" type="image/webp">
            <img loading="lazy" class="footer__img" src="img/footer/Logo-1.jpg"  alt="логотип похороны в минске" width="298" height="100">
        </picture>
    </div>
    <div class="footer__item">
        <div class="footer__title">адрес</div>
        <div class="footer__text">г.Минск</div>
        <div class="footer__text">пр-т Партизанский 5</div>
    </div>
    <div class="footer__item">
        <div class="footer__title">телефоны</div>
        <a class="footer__text" href="tel:+375447695139">+375447695139</a>
        <a class="footer__text" href="tel:+375295057052">+375295057052</a>
    </div>
    <div class="footer__item">
        <div class="footer__title">часы работы</div>
        <div class="footer__text">24 часа</div>
        <div class="footer__text">круглосуточно</div>
    </div>
</footer>
<!-- end  -->
</div>
<script src="dist/bundle.js?v=2.6"></script>