<header class="header">
    <div class="header__up">
        <div class="header__logo">
            <img class="header__logo-img" src="img/home/logo-new.png" alt="логотип сайта похороны в минске" width="100" height="100">
        </div>
        <h1 class="header__title"><span>Ритуальные услуги в Минске</span></h1>
        <a href="tel:+375447695139" class="header__tel">тел.+375 44 769 51 39</a>
    </div>
    <div class="header__down">
        <div class="header__burger">
            <div class="header__button">
                <span></span>
            </div>
        </div>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__line">
                    <a href="/" class="header__link">главная</a>
                </li>                      
                <li class="header__line">
                    <a href="#" class="header__link  _sub">услуги</a>
                    <ul class="header__list-sub">
                        <li class="header__line-sub">
                            <a href="burial" class="header__link-sub">Захоронение</a>
                        </li>
                        <li class="header__line-sub">
                            <a href="cremation" class="header__link-sub">Кремация</a>
                        </li>
                        <li class="header__line-sub">
                            <a href="ritual-agent" class="header__link-sub">Ритуальный агент</a>
                        </li>
                        <li class="header__line-sub">
                            <a href="copter-graves" class="header__link-sub">Копка могилы</a>
                        </li>
                        <li class="header__line-sub">
                            <a href="rent-catatal" class="header__link-sub">Аренда катафалка</a>
                        </li>
                        <li class="header__line-sub">
                            <a href="loaders" class="header__link-sub">Носильщик гроба</a>
                        </li>
                        <li class="header__line-sub">
                            <a href="cargo-200" class="header__link-sub">Груз 200</a>
                        </li>
                        <li class="header__line-sub">
                            <a href="production-of-monuments" class="header__link-sub">Помощь в изготовлении памятников</a>
                        </li>
                    </ul>
                </li>
                <li class="header__line">
                    <a href="#" class="header__link  _sub">товары</a>
                    <ul class="header__list-sub">
                        <li class="header__line-sub">
                            <a href="shop-coffins" class="header__link-sub">Гробы</a>
                        </li>
                        <li class="header__line-sub">
                            <a href="shop-wreaths" class="header__link-sub">Венки ритуальные</a>
                        </li>
                        <li class="header__line-sub">
                            <a href="shop-baskets" class="header__link-sub">Корзины ритуальные</a>
                        </li>
                        <li class="header__line-sub">
                            <a href="shop-crosses" class="header__link-sub">Кресты</a>
                        </li>
                        <li class="header__line-sub">
                            <a href="shop-clothes" class="header__link-sub">Одежда</a>
                        </li>
                        <li class="header__line-sub">
                            <a href="shop-payment" class="header__link-sub">Доставка и оплата</a>
                        </li>
                    </ul>
                </li>
                <li class="header__line">
                    <a href="information" class="header__link">важная информация</a>
                </li>
                <li class="header__line">
                    <a href="morgues-in-minsk" class="header__link">морги в минске</a>
                </li>
                <li class="header__line">
                    <a href="reviews" class="header__link">отзывы</a>
                </li>
                <li class="header__line">
                    <a href="contacts" class="header__link">контакты</a>
                </li>
            </ul> 
        </nav>
    </div>
</header>