<!--* pop-up заказ звонка  -->
<div class="order-call">
    <div class="order-call__body">
        <div class="order-call__x">
            <img src="img/popup/x.png" alt="натяжные потолки в гомеле">
        </div>
        <div class="order-call__logo">
            <img src="img/home/logo-new.png" alt="логотип">
        </div>
        <div class="order-call__title">Заказать расчёт</div>
        <div class="order-call__text">Оставьте заявку и мы свяжемся с Вами<br>в ближайшее время.</div>
        <form class="order-call__form" action="order_call.php" method="POST" name="popup">
            <input type="text" class="order-call__name" placeholder="Ваше имя" name="name" autocomplete="off">
            <div class="order-call__tel-div _grey">
                <input type="tel" class="order-call__tel" placeholder="Ваш телефон" name="tel" autocomplete="off">
            </div>
            <div class="order-call__button">заказать</div>
        </form>
        <div class="order-call__email">
            <img src="img/popup/email.png" alt="письмо">
        </div>
    </div>
</div>
<!--* анимация отправки письма -->
<div class="anime-meil">
    <div class="anime-meil__body">
        <div class="anime-meil__box">
            <div class="anime-meil__meil">
                <img src="img/popup/email.png" alt="письмо">
            </div>
            <div class="anime-meil__text">отправка письма...</div>
        </div>
    </div>
</div>