.wrapper-data {
    margin: 0 auto;
    @media (max-width: 1200px){
        min-width: 700px;
    }
    @media (max-width: 700px){
        min-width: 100%;
    }
}

.curent-data {
    padding: 10px 0px 20px 0px;
    margin: 0 auto;
    width: 500px;
    @media (max-width: 700px){
       width: 90%;
    }
    // .curent-data__body
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px 20px 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    // .curent-data__curent
    &__curent {
        color: #5B5B5B;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 17px;
        line-height: 120%;
        &.pointer {
            cursor: pointer;
        }
        & span {
            font-weight: 500;
        }
    }
    // .curent-data__menu
    &__menu {
        cursor: pointer;
        & img {
            object-fit: cover;
            width: 40px;
            height: 40px;
        }
    }
}

.user {
    display: block;
    margin: 10px auto 20px auto;
    width: 500px;
    position: relative;
    @media (max-width: 700px){
        width: 90%;
     }
    // .user__body
    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
    }
    // .user__name
    &__name {
        text-align: center;
        color: #5B5B5B;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 17px;
        line-height: 130%;
        padding: 0px 0px 10px 0px;
        & span {
            font-weight: 400;
            font-size: 15px;
            text-decoration: underline;
        }
    }
    &__down {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    // .user__today-exit
    &__today-exit {
        color: #5B5B5B;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        & span {
            font-weight: 500;
            font-size: 18px;
            display: flex;
            justify-content: center;
        }
    }
    // .user__all-exit
    &__all-exit {
        color: #5B5B5B;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        & span {
            font-weight: 500;
            font-size: 18px;
            display: flex;
            justify-content: center;
        }
    }
}

.data-pop-up {
    display: none;
    position: fixed;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    // .data-pop-up__body
    &__body {
        padding: 20px;
    }
    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 30px;
        height: 30px;
        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            opacity: .35;
            cursor: pointer;
        }
    }
    &__form {
        width: 400px;
        height: 400px;
        background:#fff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;

        position: relative;
        @media (max-width: 1020px){
            width: 90vw;
        }
    }
    // .data-pop-up__lable
    &__lable {
        font-family: 'Montserrat';
        font-size: 20px;
        color: #5B5B5B;
        margin: 0px 0px 3px 0px;
    }
    // .data-pop-up__input
    &__input {
        font-family: 'Montserrat';
        font-size: 24px;
        color: #5B5B5B;
        text-align: center;
        box-shadow: rgba(50, 50, 93, 0.35) 0px 2px 5px -1px, rgba(0, 0, 0, 0.4) 0px 1px 3px -1px;
        margin: 0px 0px 20px 0px;
        padding: 5px 0px 5px 0px;
        @media (max-width: 1020px){
            width: 80vw;
        }
    }
    // .data-pop-up__button
    &__button {
        margin: 20px 0px 0px 0px;
        font-family: 'Montserrat';
        font-size: 20px;
        color: #5B5B5B;
        background-color: #fff;
        padding: 10px 20px 10px 20px;
        box-shadow: rgba(50, 50, 93, 0.35) 0px 2px 5px -1px, rgba(0, 0, 0, 0.4) 0px 1px 3px -1px;
    }
}

.tc-blue {
    color: #d25d5d;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
}

.back-settings {
    margin: 10px auto 20px auto;
    width: 500px;
    @media (max-width: 700px){
        width: 90%;
    }
    // .back-settings__body
    &__body {
        padding: 10px 0px 10px 0px;
        box-shadow: rgba(50, 50, 93, 0.35) 0px 2px 5px -1px, rgba(0, 0, 0, 0.4) 0px 1px 3px -1px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .back-settings__img

    &__img {
        width: 40px;
        padding: 5px;
        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            opacity: .7;
        }
    }

    // .back-settings__text

    &__text {
        font-family: 'Montserrat';
        font-size: 17px;
        color: #5B5B5B;
        font-weight: 500;
    }
}


