body{
    &.active{
        overflow: hidden;
    }
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    overflow: hidden;

    position: relative;
}
.header {
    margin: 20px 0px 20px 0px;
    @media (max-width: 1020px){
        margin: 20px 0px 0px 0px;
    }

    &__up {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        height: 50px;

        margin: 0px 0px 20px 0px;
        @media (max-width: 1020px){
            flex-direction: column;
            height: auto;
        }
    }

    &__logo {
        flex: 0 1 20%;

        height: 100%;
        @media (max-width: 1020px){
            flex: 0 1 auto;
            height: 40px;
            margin: 10px 0px 10px 0px;
        }
    }

    &__logo-img {
        object-fit: contain;
        height: 100%;

        padding: 0px 0px 0px 20px;
        @media (max-width: 1020px){
            padding: 0;
        }
    }

    &__title {
        flex: 0 1 60%;
        display: flex;
        justify-content: center;

        font-family: 'Montserrat';
        font-size: 30px;
        font-weight: 500;
        color: $color_golg;
        
        margin: -30px 0px 0px 0px;      

        & span{
            position: relative;

            text-align: center;
            
            @media (max-width: 1910px){
                font-size: calc(23px + 7 * (100vw - 750px) / 1180);
            }
            @media (max-width: 750px){
                font-size: 23px;
                padding: 0px 10px 0px 10px;
            }

            &::before{
                position: absolute;
                content: '';
                bottom: -20px;
                left: 50%;
                transform: translate(-50%, 0);
                width: 50%;
                height: 2px;
                background-color: $color_golg;
                @media (max-width: 1020px){
                    bottom: -10px;
                }
            }
        }
        @media (max-width: 1020px){
            flex: 0 1 auto;
            margin: 0px 0px 20px 0px;
            font-size: 2rem;
        }     
    }

    &__tel {
        flex: 0 1 20%;
        text-align: end;
        font-family: 'Montserrat';
        font-size: 1.3rem;
        font-weight: 500;
        color: $color_text;

        padding: 0px 20px 0px 0px;
        @media (max-width: 1020px){
            flex: 0 1 auto;
            padding: 0px;
            font-size: 1.5rem;
        }
    }

    //= блок меню 
    &__burger{
        display: none;
        background-color: $color_golg;
        height: 50px;

        @media (max-width: 1020px){
            display: block;          
            &.active{
                border-bottom: #fff 1px solid;
            }
            &.fix-burger{
                position: fixed;
                top: 0;
                left: 0;
                z-index: 500;

                width: 100%;
                
            }
        }
    }

    //= кнопка меню 
    &__button{
        position: relative;

        width: 45px;
        height: 50px;

        margin: 0px 0px 0px 20px;
        &.active span{
            transform: rotate(45deg) ;

            top: 23px;
            left: 0px;
        }
        &.active::before{
            transform: scale(0);
        }
        &.active::after{
            transform: rotate(-45deg) ;

            top: 23px;
            left: 0px;
        }
        & span{
            position: absolute;
            top: 10px;
            left: 0px;
    
            height: 3px;
            width: 45px;
    
            background-color: #fff;
            transition:all 0.3s ease;
        }
        &::before{
            content: '';
            position: absolute;
            top: 23px;
            left: 0;

            height: 3px;
            width: 45px;

            background-color: #fff;
            transition:all 0.3s ease;
        }
        &::after{
            content: '';

            position: absolute;
            top: 35px;
            left: 0;

            height: 3px;
            width: 45px;

            background-color: #fff;
            transition:all 0.3s ease;
        }
    }
    
    &__down {
        position: relative;
    }
    
    &__list {
        display: flex;
        justify-content: center;
        column-gap: 30px;
        
        @media (max-width: 1020px){
            flex-direction: column;
            justify-content: space-between;
            
            position: absolute;
            top: 50px;
            left: 0;
            z-index: 500;
            width: 100%;

            overflow: auto;
            
            &.fix-burger{
                position: fixed;
            }
        }
    }

    &__line {
        position: relative;
        
        @media (max-width: 1020px){

            height: 0px;
            padding: 0px;
            border-bottom: #ccc 0px solid;
            background-color: $color_golg;
            transition:all 0.2s ease;

            &.active{
                height: 100%;
                padding: 15px 0px 15px 20px;
                border-bottom: #fff 1px solid;
                &.active-sub{
                    padding: 15px 0px 0px 20px;
                }
            }
        }
    }

    &__link {
        font-family: 'Montserrat';
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 600;
        color: $color_text;
        transition:all 0.2s ease;

        @media (max-width: 1400px){
            font-size: 1.3rem;
        }
        @media (max-width: 1200px){
            font-size: 1.2rem;
        }
        @media (max-width: 1020px){
            font-size: 0rem;
            color: #fff;
            &._sub{
                pointer-events: none;
            }
        }
        &.active{
            padding: 0;
            font-size: 1.2rem;
        }
        &._sub{
            position: relative;
            margin: 0px 5px 0px 0px;

            &::after{
                content: '';
                position: absolute;
                top: 4px;
                right: -17px;
                width: 15px;
                height: 15px;

                background: url("../img/sub-icon.png") 0 0 / cover no-repeat;
                @media (max-width: 1020px){
                    background: url("../img/sub-icon-white.png") 0 0 / cover no-repeat;
                    top:4px;
                    right: -18px;

                    height: 0px;
                    width: 0px;
                }
            }
            &.active::after{
                height: 12px;
                width: 12px;
            }
        }

        &:hover{
            color: $color_golg;
            @media (max-width: 1020px){
                color: #fff;
            }
            &::before{
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $color_golg;
                
                transition:all 0.3s ease;
            }
        }

    }

    &__list-sub{
        display: flex;
        justify-content: center;
        flex-direction: column;
        transition:all 0.3s ease;

        &.hover-sub{
            position: absolute;
            top: 18px;
            left: 0;
            z-index: 100;
            & *:not(:last-child){
                border-bottom: #fff 1px solid;
            }
        }
        @media (max-width: 1020px){
            &.active-sub{
                padding-top: 10px;
            }
            & *:not(:last-child){
                &.active-sub{
                    border-bottom: #fff 1px solid;
                }
            }
        }
    }

    &__line-sub{
        width: 0;
        height: 0;
        
        &.hover-sub{
            padding: 15px 10px 15px 10px;
            height: auto;
            width: auto;
            background-color: $color_golg;
        }
        @media (max-width: 1020px){
            padding: 0px;
            border-bottom: #ccc 0px solid;
            height: 0;
            transition:all 0.2s ease;
            &.active-sub{
                padding: 15px 0px 15px 0px;
                height: 100%;
                width: auto;
            }
        }
    }

    &__link-sub{
        font-family: 'Montserrat';
        text-transform: uppercase;
        line-height: 160%;
        font-size: 0rem;
        font-weight: 500;
        color: #fff;
        position: relative;
        transition:all 0.3s ease;

        &.hover-sub{
            font-size: 1.1rem;
            white-space: nowrap;
        }

        @media (max-width: 1020px){
        &.active-sub{
            font-size: 1.1rem;
        }
    }
    }
}

.main{
    flex: 1 1 auto;
}