$color_golg: #ba9f5a;
$color_text: #5B5B5B;
$color_blue: #07111d;

@import '__null';
@import '__header';
@import '__main';
@import '__burial';
@import '__cremation';
@import '__ritual-agent';
@import '__shop-coffins';
@import '__shop-wreaths';
@import '__shop-baskets';
@import '__shop-crosses';
@import '__shop-clothes';
@import '__shop-payment';
@import '__information';
@import '__morgues-in-minsk';
@import '__reviews';
@import '__contacts';
@import '__calc';
@import '__footer';
@import '__popup', '__admin', '__data-start', '__data-users';
