<!doctype html>
<html lang="ru">

<!--* head -->
<%- include('./modules/head.ejs') %>

<body>

    <!--* google-tag-noscript -->
    <%- include('./modules/google-tag-noscript.ejs') %>

    <div class="wrapper">

        <!--* heder -->
        <%- include('./modules/header.ejs') %>

        <!-- main code -->
        <!--= main -->
        <main class="main">
            <!-- шапка -->
            <div class="heder-page heder-page_margin">
                <h1 class="heder-page__title">ADMIN</h1>
                <div class="heder-page__img">
                    <picture>
                        <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                        <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                        <source srcset="img/home/grob.webp" type="image/webp">
                        <img src="img/home/grob.jpg" alt="фото гроба">
                    </picture>
                </div>
            </div>
    
            <!--= Form-Admin -->
            <div class="form-body">
                <form class="form-admin" name="admin">
                    <label class="form-admin__label" for="textPrace">Текст пособия</label>
                    <textarea name="textPrace" class="form-admin__input" type="text" id="textPrace" rows="3"></textarea>
                    <label class="form-admin__label" for="prace">Cумма пособия</label>
                    <input name="prace" class="form-admin__input" type="text" id="prace">
                    <label class="form-admin__label" for="year">Текуший год</label>
                    <input name="year" class="form-admin__input" type="text" id="year">
    
                    <button class="form-admin__button" type="submit" >отправить</button>
                </form>
            </div>
    
            </main>

        <!--* footer -->
        <%- include('./modules/footer.ejs') %>

</body>
</html>