<!doctype html>
<html lang="ru">

<!--* head -->
<%- include('./modules/head.ejs') %>

<body>

    <!--* google-tag-noscript -->
    <%- include('./modules/google-tag-noscript.ejs') %>

    <div class="wrapper">

        <!--* heder -->
        <%- include('./modules/header.ejs') %>

        <!-- main code -->
        <!--= main -->
        <main class="main">

            <!-- шапка -->
            <div class="heder-page heder-page_margin">
                <h1 class="heder-page__title">Пособие на погребение</h1>
                <div class="heder-page__img">
                    <picture>
                        <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                        <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                        <source srcset="img/home/grob.webp" type="image/webp">
                        <img src="img/home/grob.jpg" alt="фото гроба">
                    </picture>
                </div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Подготовка и проведение похорон требует определенных затрат, которые компенсируются целевым пособием. Выплачивается оно единовременно после предъявления определенного пакета документов. Начисляется пособие на погребение в соответствии с положением республиканского законодательства.</div>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Как оформить пособие на погребение?</div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Для этого требуется документальное подтверждение о том, что человек умер. Права льготы получает ответственный организатор захоронения. Если же прибегают к бесплатному погребению, обеспечивается которое государством, то пособие не полагается.</div>
            </div>
            <!-- IMG: -->
            <div class="text-img container">
                <picture>
                    <source srcset="img/__burial-allowance/1-500.webp" type="image/webp" media="(max-width: 750px)">
                    <source srcset="img/__burial-allowance/1-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                    <source srcset="img/__burial-allowance/1.webp" type="image/webp">
                    <img src="img/__burial-allowance/1.jpg" alt="кремация">
                </picture>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Размер пособия в Минске на захоронение</div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Согласно законодательству РБ размер пособия приравнивается к среднему заработку в республике. Если же усопший является бывшим сотрудником следственных, контролирующих ведомств или же военным, то сумма пособия на захоронения будет выше. Оно начисляется в соответствии с размером пенсии за месяц. Размер пособия постоянно растет, такая тенденция сохраняется и в 2022 году. Сейчас оно составляет <span data-prace="">1476,3</span> руб.</div>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Компенсация затрат обосновывается следующим:</div>
            </div>
            <!-- UL-LI: -->
            <div class="text-page container">
                <div class="text-page_margin">
                    <ul class="text__list">
                        <li class="text__line">Документом, который подтверждает личность заявителя;</li>
                        <li class="text__line">Заявлением ответственного лица;</li>
                        <li class="text__line">Справкой о кончине человека;</li>
                        <li class="text__line">Свидетельством о смерти или рождении, если усопший;</li> 
                        <li class="text__line">Несовершеннолетний;</li> 
                        <li class="text__line">Справкой о прохождении обучения.</li>           
                    </ul>
                </div>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Документы для получения пособия</div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Каждому усопшему по закону предоставляется бесплатный участок на территории кладбища. Для этого требуется предоставить врачебное или гербовое свидетельство, а также заявление организатора похорон. Если же погребение планируется проводить в закрытом некрополе, то документы комплектуются в родственной могиле. Это свидетельство о смерти, заявление, документы, подтверждающие родство с погребенным ранее. Для захоронения урны требуется внесение оплаты за место в колумбарии. Если же урна будет захоронена в могиле родственника, то место предоставляется бесплатно. Единственный нюанс – необходимо подтверждение родства.</div>
            </div>
            <!-- IMG: -->
            <div class="text-img container">
                <picture>
                    <source srcset="img/__burial-allowance/2-500.webp" type="image/webp" media="(max-width: 750px)">
                    <source srcset="img/__burial-allowance/2-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                    <source srcset="img/__burial-allowance/2.webp" type="image/webp">
                    <img src="img/__burial-allowance/2.jpg" alt="кремация">
                </picture>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Какие документы нужны для кремации в Минске?</div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Для этого предоставляет следующий перечень документов:</div>
            </div>
            <!-- UL-LI: -->
            <div class="text-page container">
                <div class="text-page_margin">
                    <ul class="text__list">
                        <li class="text__line">Паспорт заказчика;</li>
                        <li class="text__line">Паспорт умершего;</li>
                        <li class="text__line">Свидетельство о смерти.</li>           
                    </ul>
                </div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Нужно помнить, что при выдаче гербового свидетельства паспорт усопшего изымается, поэтому важно сделать его копию заранее.</div>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Помощь в оформление документов</div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">В нашей компании вам помогут не только со всеми документальными вопросами, но и возьмут на себя организацию похорон под ключ. Стоимость услуг не превышает размера пособия, но при этом вы сможете провести оставшееся время с усопшим, набраться сил перед захоронением. Получить консультацию, вызвать специалиста на дом можно круглосуточно. Наш менеджер учтет все ваши предложения и организует достойные похороны для вашего близкого человека.</div>
            </div>
            <!-- блок с телефонами -->
            <div class="tel-contacts">
                <div class="tel-contacts__a1">
                <div class="tel-contacts__a1-img">
                    <picture class="tel-contacts__picture">
                        <source srcset="img/__ritual-agent/4.webp" type="image/webp">
                        <img src="img/__ritual-agent/4.jpg" alt="alt">
                    </picture>
                </div>
                <a href="tel:+375447695139" class="tel-contacts__a1-tel">+375 (44) 769 51 39</a>
                </div>
                <div class="tel-contacts__mts">
                <div class="tel-contacts__mts-img">
                    <picture class="tel-contacts__picture">
                        <source srcset="img/__ritual-agent/5.webp" type="image/webp">
                        <img src="img/__ritual-agent/5.jpg" alt="alt">
                    </picture>
                </div>
                <a href="tel:+375295057052" class="tel-contacts__mts-tel">+375 (29) 505 70 52</a>
                </div>
                <div class="tel-contacts__clock">круглосуточно</div>
            </div>

        <!-- конец блок магазина -->
        </main>

        <!--* footer -->
        <%- include('./modules/footer.ejs') %>

</body>
</html>