<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="➤ Весь спектр похоронных услуг: захоронение, кремация, оформление места захоронения, копка могилы, услуги санитара-патологоанатома, подготовка тела к погребению.">
    <meta name="theme-color" content="#ba9f5a">
    <link rel="icon" type="image/png" href="img/home/favicon.png">
    <link rel="stylesheet" href="css/style.css?v=2.6">
    <title>Ритуальные услуги в Минске - бюро похоронных услуг</title>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(88857516, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/88857516" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TQPKWTP');</script>
<!-- End Google Tag Manager -->
</head>
<body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQPKWTP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">
        <!--= heder -->
        <header class="header">
            <div class="header__up">
                <div class="header__logo">
                    <img class="header__logo-img" src="img/home/logo-new.png" alt="логотип сайта похороны в минске" width="100" height="100">
                </div>
                <h1 class="header__title"><span>Ритуальные услуги в Минске</span></h1>
                <a href="tel:+375447695139" class="header__tel">тел.+375 44 769 51 39</a>
            </div>
            <div class="header__down">
                <div class="header__burger">
                    <div class="header__button">
                        <span></span>
                    </div>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__line">
                            <a href="index.html" class="header__link">главная</a>
                        </li>                      
                        <li class="header__line">
                            <a href="#" class="header__link  _sub">услуги</a>
                            <ul class="header__list-sub">
                                <li class="header__line-sub">
                                    <a href="burial.html" class="header__link-sub">Захоронение</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="cremation.html" class="header__link-sub">Кремация</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="ritual-agent.html" class="header__link-sub">Ритуальный агент</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="copter-graves.html" class="header__link-sub">Копка могилы</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="rent-catatal.html" class="header__link-sub">Аренда катафалка</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="loaders.html" class="header__link-sub">Носильщик гроба</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="cargo-200.html" class="header__link-sub">Груз 200</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="production-of-monuments.html" class="header__link-sub">Помощь в изготовлении памятников</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__line">
                            <a href="#" class="header__link  _sub">товары</a>
                            <ul class="header__list-sub">
                                <li class="header__line-sub">
                                    <a href="shop-coffins.html" class="header__link-sub">Гробы</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-wreaths.html" class="header__link-sub">Венки ритуальные</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-baskets.html" class="header__link-sub">Корзины ритуальные</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-crosses.html" class="header__link-sub">Кресты</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-clothes.html" class="header__link-sub">Одежда</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-payment.html" class="header__link-sub">Доставка и оплата</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__line">
                            <a href="information.html" class="header__link">важная информация</a>
                        </li>
                        <li class="header__line">
                            <a href="morgues-in-minsk.html" class="header__link">морги в минске</a>
                        </li>
                        <li class="header__line">
                            <a href="reviews.html" class="header__link">отзывы</a>
                        </li>
                        <li class="header__line">
                            <a href="contacts.html" class="header__link">контакты</a>
                        </li>
                    </ul> 
                </nav>
            </div>
        </header>
        <!--= main -->
        <main class="main">
            <!-- шапка -->
            <div class="heder-page heder-page_margin">
                <h1 class="heder-page__title">Калькулятор</h1>
                <div class="heder-page__img">
                    <picture>
                        <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                        <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                        <source srcset="img/home/grob.webp" type="image/webp">
                        <img src="img/home/grob.jpg" alt="фото гроба">
                    </picture>
                </div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Погребение близкого или родственника предполагает достаточно солидные расходы, к которым необходимо быть готовыми. soboleznuem.by не только оказывает ритуальные услуги по государственным ценам, но и предоставляет своим клиентам возможность оценить и правильно спланировать предстоящие траты непосредственно на сайте похоронного агентства.</div>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Для расчета стоимости сделайте свой выбор:</div>
            </div>

            <div class="calc">

                <!--= Форма выбора -->
                <form class="form" name="calc" action="#" method="get">
                    
                    <!--= Гробы -->
                    <div class="title-calc">Ваш выбор гроба:</div>
                    <div class="coffin" data-total="">
                        <div class="coffin__tim">
                            <img class="coffin__img-tim" src="/img/__calc/coffin/coffin-icon.png" alt="#" data-img="/img/__calc/coffin/coffin-icon.png">
                            <span class="coffin__tim-title" data-all="0" data-title="Выбор гроба">Выбор гроба</span>
                        </div>
                        <div class="coffin__item">
                            <img class="coffin__img" src="/img/__calc/coffin/1.jpg" alt="#">
                            <div class="coffin__label" data-cash="550">Гроб лакированный</div>
                        </div>
                        <div class="coffin__item">
                            <img class="coffin__img" src="/img/__calc/coffin/2.jpg" alt="#">
                            <div class="coffin__label" data-cash="380">Гроб тканевый</div>
                        </div>
                        <div class="coffin__item">
                            <img class="coffin__img" src="/img/__calc/coffin/3.jpg" alt="#">
                            <div class="coffin__label" data-cash="230">Гроб социальный</div>
                        </div>
                    </div>

                    <!--= Венки -->
                    <div class="title-calc">Ваш выбор ритуального венка:</div>
                    <div class="wreath" data-total="">
                        <div class="wreath__tim">
                            <img class="wreath__img-tim" src="/img/__calc/wreath/icon.png" alt="#" data-img="/img/__calc/wreath/icon.png">
                            <span class="wreath__tim-title" data-all="0" data-title="Выбор венка">Выбор венка</span>
                        </div>
                        <div class="wreath__item">
                            <img class="wreath__img" src="/img/__calc/wreath/1.png" alt="#">
                            <div class="wreath__label" data-cash="121">Венок ритуальный<br>(1.7 метра)</div>
                        </div>
                        <div class="wreath__item">
                            <img class="wreath__img" src="/img/__calc/wreath/2.png" alt="#">
                            <div class="wreath__label" data-cash="89">Венок ритуальный<br>(1.5 метра)</div>
                        </div>
                        <div class="wreath__item">
                            <img class="wreath__img" src="/img/__calc/wreath/3.png" alt="#">
                            <div class="wreath__label" data-cash="42">Венок ритуальный<br>(1.3 метра)</div>
                        </div>
                    </div>
                    <div class="more">добавить еще</div>

                    <!--= Комплект одежды -->
                    <div class="title-calc">Комплект одежды для усопшего:</div>
                    <div class="dress" data-total="">
                        <div class="dress__tim">
                            <img class="dress__img-tim" src="/img/__calc/dress/dress-icon.png" alt="#" data-img="/img/__calc/dress/dress-icon.png">
                            <span class="dress__tim-title" data-all="0" data-title="Выбор одежды">Выбор одежды</span>
                        </div>
                        <div class="dress__item">
                            <img class="dress__img" src="/img/__calc/dress/1.jpg" alt="#">
                            <div class="dress__label" data-cash="55">Костюм женский</div>
                        </div>
                        <div class="dress__item">
                            <img class="dress__img" src="/img/__calc/dress/2.jpg" alt="#">
                            <div class="dress__label" data-cash="35">Обувь женская</div>
                        </div>
                        <div class="dress__item">
                            <img class="dress__img" src="/img/__calc/dress/3.jpg" alt="#">
                            <div class="dress__label" data-cash="46">Костюм мужской</div>
                        </div>
                        <div class="dress__item">
                            <img class="dress__img" src="/img/__calc/dress/4.jpg" alt="#">
                            <div class="dress__label" data-cash="37">Туфли мужские</div>
                        </div>
                    </div>
                    <div class="more">добавить еще</div>

                    <!--= Крест -->
                    <div class="title-calc">Ваш выбор ритуального креста:</div>
                    <div class="cross" data-total="">
                        <div class="cross__tim">
                            <img class="cross__img-tim" src="/img/__calc/cross/cross-icon.png" alt="#" data-img="/img/__calc/cross/cross-icon.png">
                            <span class="cross__tim-title" data-all="0" data-title="Выбор креста">Выбор креста</span>
                        </div>
                        <div class="cross__item">
                            <img class="cross__img" src="/img/__calc/cross/1.jpg" alt="#">
                            <div class="cross__label" data-cash="37">Крест католический с молдингом</div>
                        </div>
                        <div class="cross__item">
                            <img class="cross__img" src="/img/__calc/cross/2.jpg" alt="#">
                            <div class="cross__label" data-cash="40">Крест православный с молдингом</div>
                        </div>
                        <div class="cross__item">
                            <img class="cross__img" src="/img/__calc/cross/3.jpg" alt="#">
                            <div class="cross__label" data-cash="35">Крест католический стандартный</div>
                        </div>
                    </div>

                    <!--= Грузчики -->
                    <div class="title-calc">Похоронная бригада:</div>
                    <div class="loader start" data-praice="200" data-check-id="loader">
                        <input class="loader__input" id="loader" type="checkbox" name="loader" value="100">
                        <label class="loader__title stop" for="loader">Услуги грузчиков 4-чел для сопровождения похорон;</label>
                    </div>
                    
                    <!--= Доставка товара -->
                    <div class="title-calc">Доставка товара:</div>
                    <div class="delivery start" data-praice="80" data-check-id="delivery">
                        <input class="delivery__input" id="delivery" type="checkbox" name="delivery" value="80">
                        <label class="delivery__title stop" for="delivery">Доставка гроба и товаров;</label>
                    </div>

                    <!--= Копка могилы -->
                    <div class="title-calc">Копка могилы:</div>
                    <div class="digging start" data-praice="250" data-check-id="digging">
                        <input class="digging__input" id="digging" type="checkbox" name="digging" value="200">
                        <label class="digging__title stop" for="digging">Копка могилы, опускание гроба, формирование холма;</label>
                    </div>

                    <!--= Транспорт -->
                    <div class="title-calc">Транспорт:</div>
                    <div class="transport start" data-praice="180" data-check-id="transport">
                        <input class="transport__input" id="transport" type="checkbox" name="transport" value="230">
                        <label class="transport__title stop" for="transport">Перевозка к месту захоронения;</label>
                    </div>
                </form>

                <!--= Выбраные услуги и товары : -->
                <div class="shop-calc">
                    <div class="shop-calc__title">
                        <span>Выбраные услуги и товары :</span>
                    </div>
                </div>
            </div>
        </main>

        <div class="padding"></div>
        <!--= footer -->
        <footer class="footer">
            <div class="praice">Всего: 0</div>
            <div class="footer__item-img">
                <picture>
                    <source srcset="img/footer/Logo-1.webp" type="image/webp">
                    <img loading="lazy" class="footer__img" src="img/footer/Logo-1.jpg"  alt="логотип похороны в минске" width="298" height="100">
                </picture>
            </div>
            <div class="footer__item">
                <div class="footer__title">адрес</div>
                <div class="footer__text">г.Минск</div>
                <div class="footer__text">пр-т Партизанский 5</div>
            </div>
            <div class="footer__item">
                <div class="footer__title">телефоны</div>
                <a class="footer__text" href="tel:+375447695139">+375447695139</a>
                <a class="footer__text" href="tel:+375295057052">+375295057052</a>
            </div>
            <div class="footer__item">
                <div class="footer__title">часы работы</div>
                <div class="footer__text">24 часа</div>
                <div class="footer__text">круглосуточно</div>
            </div>
        </footer>

    <!-- end  -->
    </div>
<script src="dist/bundle.js?v=2.6"></script>
</body>
</html>