<!doctype html>
<html lang="ru">

<!--* head -->
<%- include('./modules/head.ejs') %>

<body>

    <!--* google-tag-noscript -->
    <%- include('./modules/google-tag-noscript.ejs') %>

    <div class="wrapper">

        <!--* heder -->
        <%- include('./modules/header.ejs') %>

        <!-- main code -->
        <!--= main -->
        <main class="main">
            <!-- шапка -->
            <div class="heder-page heder-page_margin">
                <h1 class="heder-page__title">Калькулятор</h1>
                <div class="heder-page__img">
                    <picture>
                        <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                        <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                        <source srcset="img/home/grob.webp" type="image/webp">
                        <img src="img/home/grob.jpg" alt="фото гроба">
                    </picture>
                </div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Погребение близкого или родственника предполагает достаточно солидные расходы, к которым необходимо быть готовыми. soboleznuem.by не только оказывает ритуальные услуги по государственным ценам, но и предоставляет своим клиентам возможность оценить и правильно спланировать предстоящие траты непосредственно на сайте похоронного агентства.</div>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Для расчета стоимости сделайте свой выбор:</div>
            </div>

            <div class="calc">

                <!--= Форма выбора -->
                <form class="form" name="calc" action="#" method="get">
                    
                    <!--= Гробы -->
                    <div class="title-calc">Ваш выбор гроба:</div>
                    <div class="coffin" data-total="">
                        <div class="coffin__tim">
                            <img class="coffin__img-tim" src="/img/__calc/coffin/coffin-icon.png" alt="#" data-img="/img/__calc/coffin/coffin-icon.png">
                            <span class="coffin__tim-title" data-all="0" data-title="Выбор гроба">Выбор гроба</span>
                        </div>
                        <div class="coffin__item">
                            <img class="coffin__img" src="/img/__calc/coffin/1.jpg" alt="#">
                            <div class="coffin__label" data-cash="550">Гроб лакированный</div>
                        </div>
                        <div class="coffin__item">
                            <img class="coffin__img" src="/img/__calc/coffin/2.jpg" alt="#">
                            <div class="coffin__label" data-cash="380">Гроб тканевый</div>
                        </div>
                        <div class="coffin__item">
                            <img class="coffin__img" src="/img/__calc/coffin/3.jpg" alt="#">
                            <div class="coffin__label" data-cash="230">Гроб социальный</div>
                        </div>
                    </div>

                    <!--= Венки -->
                    <div class="title-calc">Ваш выбор ритуального венка:</div>
                    <div class="wreath" data-total="">
                        <div class="wreath__tim">
                            <img class="wreath__img-tim" src="/img/__calc/wreath/icon.png" alt="#" data-img="/img/__calc/wreath/icon.png">
                            <span class="wreath__tim-title" data-all="0" data-title="Выбор венка">Выбор венка</span>
                        </div>
                        <div class="wreath__item">
                            <img class="wreath__img" src="/img/__calc/wreath/1.png" alt="#">
                            <div class="wreath__label" data-cash="121">Венок ритуальный<br>(1.7 метра)</div>
                        </div>
                        <div class="wreath__item">
                            <img class="wreath__img" src="/img/__calc/wreath/2.png" alt="#">
                            <div class="wreath__label" data-cash="89">Венок ритуальный<br>(1.5 метра)</div>
                        </div>
                        <div class="wreath__item">
                            <img class="wreath__img" src="/img/__calc/wreath/3.png" alt="#">
                            <div class="wreath__label" data-cash="42">Венок ритуальный<br>(1.3 метра)</div>
                        </div>
                    </div>
                    <div class="more">добавить еще</div>

                    <!--= Комплект одежды -->
                    <div class="title-calc">Комплект одежды для усопшего:</div>
                    <div class="dress" data-total="">
                        <div class="dress__tim">
                            <img class="dress__img-tim" src="/img/__calc/dress/dress-icon.png" alt="#" data-img="/img/__calc/dress/dress-icon.png">
                            <span class="dress__tim-title" data-all="0" data-title="Выбор одежды">Выбор одежды</span>
                        </div>
                        <div class="dress__item">
                            <img class="dress__img" src="/img/__calc/dress/1.jpg" alt="#">
                            <div class="dress__label" data-cash="55">Костюм женский</div>
                        </div>
                        <div class="dress__item">
                            <img class="dress__img" src="/img/__calc/dress/2.jpg" alt="#">
                            <div class="dress__label" data-cash="35">Обувь женская</div>
                        </div>
                        <div class="dress__item">
                            <img class="dress__img" src="/img/__calc/dress/3.jpg" alt="#">
                            <div class="dress__label" data-cash="46">Костюм мужской</div>
                        </div>
                        <div class="dress__item">
                            <img class="dress__img" src="/img/__calc/dress/4.jpg" alt="#">
                            <div class="dress__label" data-cash="37">Туфли мужские</div>
                        </div>
                    </div>
                    <div class="more">добавить еще</div>

                    <!--= Крест -->
                    <div class="title-calc">Ваш выбор ритуального креста:</div>
                    <div class="cross" data-total="">
                        <div class="cross__tim">
                            <img class="cross__img-tim" src="/img/__calc/cross/cross-icon.png" alt="#" data-img="/img/__calc/cross/cross-icon.png">
                            <span class="cross__tim-title" data-all="0" data-title="Выбор креста">Выбор креста</span>
                        </div>
                        <div class="cross__item">
                            <img class="cross__img" src="/img/__calc/cross/1.jpg" alt="#">
                            <div class="cross__label" data-cash="37">Крест католический с молдингом</div>
                        </div>
                        <div class="cross__item">
                            <img class="cross__img" src="/img/__calc/cross/2.jpg" alt="#">
                            <div class="cross__label" data-cash="40">Крест православный с молдингом</div>
                        </div>
                        <div class="cross__item">
                            <img class="cross__img" src="/img/__calc/cross/3.jpg" alt="#">
                            <div class="cross__label" data-cash="35">Крест католический стандартный</div>
                        </div>
                    </div>

                    <!--= Грузчики -->
                    <div class="title-calc">Похоронная бригада:</div>
                    <div class="loader start" data-praice="200" data-check-id="loader">
                        <input class="loader__input" id="loader" type="checkbox" name="loader" value="100">
                        <label class="loader__title stop" for="loader">Услуги грузчиков 4-чел для сопровождения похорон;</label>
                    </div>
                    
                    <!--= Доставка товара -->
                    <div class="title-calc">Доставка товара:</div>
                    <div class="delivery start" data-praice="80" data-check-id="delivery">
                        <input class="delivery__input" id="delivery" type="checkbox" name="delivery" value="80">
                        <label class="delivery__title stop" for="delivery">Доставка гроба и товаров;</label>
                    </div>

                    <!--= Копка могилы -->
                    <div class="title-calc">Копка могилы:</div>
                    <div class="digging start" data-praice="250" data-check-id="digging">
                        <input class="digging__input" id="digging" type="checkbox" name="digging" value="200">
                        <label class="digging__title stop" for="digging">Копка могилы, опускание гроба, формирование холма;</label>
                    </div>

                    <!--= Транспорт -->
                    <div class="title-calc">Транспорт:</div>
                    <div class="transport start" data-praice="180" data-check-id="transport">
                        <input class="transport__input" id="transport" type="checkbox" name="transport" value="230">
                        <label class="transport__title stop" for="transport">Перевозка к месту захоронения;</label>
                    </div>
                </form>

                <!--= Выбраные услуги и товары : -->
                <div class="shop-calc">
                    <div class="shop-calc__title">
                        <span>Выбраные услуги и товары :</span>
                    </div>
                </div>
            </div>
        </main>

        <!--* footer -->
        <%- include('./modules/footer.ejs') %>

</body>
</html>