<!doctype html>
<html lang="ru">

<!--* head -->
<%- include('./modules/head.ejs') %>

<body>

    <!--* google-tag-noscript -->
    <%- include('./modules/google-tag-noscript.ejs') %>

    <div class="wrapper">

        <!--* heder -->
        <%- include('./modules/header.ejs') %>

        <!-- main code -->
        <!--= main -->
        <main class="main">
            <!-- шапка -->
                    <div class="heder-page heder-page_margin">
                        <h1 class="heder-page__title">ГРУЗ 200</h1>
                        <div class="heder-page__img">
                            <picture>
                                <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                                <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                                <source srcset="img/home/grob.webp" type="image/webp">
                                <img src="img/home/grob.jpg" alt="фото гроба">
                            </picture>
                        </div>
                    </div>
            
            <!-- текст: Потеря близкого человека -->
                    <div class="text-page container">
                        <div class="text-page_margin">Потеря близкого человека не знает территориальных границ. Никогда не знаешь, где может поджидать беда. К сожалению, все чаще со смертью приходится сталкиваться в другой стране или даже на континенте. Как действовать в такой ситуации? Какие меры следует предпринимать для транспортировки усопшего? Безусловно, репатриация имеет ряд особенностей и знать о них обычный человек просто не может. Наше бюро ритуальных услуг поможет решить все ваши проблемы в одночасье. Мы оказываем услуги по репатриации тела или как часто это называют выполняем перевозку “груза 200”. Данная услуга оказывается в случае, если ваш близкий родственник или близкий человек скончался в другой стране и требуется доставить тело на родину.</div>
                    </div>
            <!-- IMG: ГРУЗ 200-->
                    <div class="text-img container">
                <picture>
                    <source srcset="img/__cargo-200/1-500.webp" type="image/webp" media="(max-width: 750px)">
                    <source srcset="img/__cargo-200/1-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                    <source srcset="img/__cargo-200/1.webp" type="image/webp">
                    <img src="img/__cargo-200/1.jpg" alt="ГРУЗ 200">
                </picture>
                    </div>
            <!-- title: Репатриация включает следующие процедуры:-->
                    <div class="text-title container">
                        <div class="text-title_margin">Репатриация включает следующие процедуры:</div>
                    </div>
            <!-- UL-LI:Документальное оформление -->
                    <div class="text-page container">
                        <div class="text-page_margin">
                            <ul class="text__list">
                                <li class="text__line">Документальное оформление;</li>
                                <li class="text__line">Заказ цинкового контейнера;</li>
                                <li class="text__line">Доставку его к таможенному терминалу вокзала или аэропорта;</li>
                                <li class="text__line">Транспортировку груза 200 с сопровождающими и без;</li>
                                <li class="text__line">Перемещение тела в катафалк с самолета или вагона.</li>         
                            </ul>
                        </div>
                    </div>
            <!-- текст: Если же используется только автотранспорт, -->
                    <div class="text-page container">
                        <div class="text-page_margin">Если же используется только автотранспорт, то дополнительное перемещение не требуется. Независимо от того, каким транспортом выполняется репатриация, обязательно наличие первичного документа. К нему относится свидетельство о смерти. Также это может быть справка о смерти с паспортом умершего. К примеру, если тело требуется отправить из Беларуси в Россию и наоборот, то иных документов не нужно. Если же это дальнее зарубежье, то нужна не только справка, но и разрешение от СЭЗ на вывоз тела, а также документ о невложении. Связано это с тем, что при репатриации груза 200 в Минск из другой страны может потребоваться до нескольких суток, поэтому важно пройти процедуру бальзамирования. Благодаря ей распад тканей будет замедлен. Справка же о невложении доказывает, что в контейнере нет наркотических и других запрещенных препаратов. При обращении в наше бюро зачастую уточняют, какой транспорт используется для репатриации груза 200. Мы особое внимание уделяем транспорту. Он должен быть удобным и глубоким, а также способным выдержать длительное расстояние. При перевозке тела поездом чаще всего сопровождающих не допускают. Если же используется авиационный транспорт, то оформление груза 200 занимает немало времени.</div>
                    </div>
            <!-- IMG: ГРУЗ 200-->
                    <div class="text-img container">
                        <picture>
                            <source srcset="img/__cargo-200/2-500.webp" type="image/webp" media="(max-width: 750px)">
                            <source srcset="img/__cargo-200/2-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                            <source srcset="img/__cargo-200/2.webp" type="image/webp">
                            <img src="img/__cargo-200/2.jpg" alt="ГРУЗ 200">
                        </picture>
                    </div>
            <!-- текст: Документальное оформление -->
                    <div class="text-page container">
                        <div class="text-page_margin">Документальное оформление, а также все хлопоты по репатриации наше бюро может взять на себя. Мы не только гарантируем качественную и быструю транспортировку груза 200, но и учитываем все особенности и правила государств. Вам не потребуется изучать законодательство или волноваться, что вы забыли запросить какой-то документ. Все это мы делаем за Вас. Услугу репатриации в Минске мы оказываем не первый год, поэтому нам известны все особенности этой процедуры.</div>
                    </div>
            <!-- title: Почему стоит выбирать наше бюро?-->
                    <div class="text-title container">
                        <div class="text-title_margin">Почему стоит выбирать наше бюро?</div>
                    </div>
            <!-- UL-LI: Мы оказываем ритуальные услуги-->
                    <div class="text-page container">
                        <div class="text-page_margin">
                            <ul class="text__list">
                                <li class="text__line">
                                    Мы оказываем ритуальные услуги не первый год и, как никто другой, знаем все традиции и правила.</li>
                                <li class="text__line">Наша команда работает слаженно и качественно. Помимо организации и подготовки к захоронению, мы оказываем психологическую поддержку близким.</li>
                                <li class="text__line">Цена на услуги репатриации, захоронения у нас доступная, поэтому к нам вы можете обращаться, не опасаясь, что в итоге будет выставлен огромный счет.</li>
                                <li class="text__line">Вы всегда можете получить у нас бесплатную консультацию. Работаем мы круглосуточно.</li>              
                            </ul>
                        </div>
                    </div>
        </main>

        <!--* footer -->
        <%- include('./modules/footer.ejs') %>

</body>
</html>