<!doctype html>
<html lang="ru">

<!--* head -->
<%- include('./modules/head.ejs') %>

<body>

    <!--* google-tag-noscript -->
    <%- include('./modules/google-tag-noscript.ejs') %>

    <div class="wrapper">

        <!--* heder -->
        <%- include('./modules/header.ejs') %>

        <!-- main code -->
        <!--= main -->
        <main class="main">

            <!-- шапка -->
            <div class="heder-page heder-page_margin">
                <h1 class="heder-page__title">КЛАДБИЩА МИНСКА</h1>
                <div class="heder-page__img">
                    <picture>
                        <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                        <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                        <source srcset="img/home/grob.webp" type="image/webp">
                        <img src="img/home/grob.jpg" alt="фото гроба">
                    </picture>
                </div>
            </div>

            <div class="block">
                <!-- текст: -->
                <div class="text-page container">
                    <div class="text-page_margin">В Беларуси ответственно и очень бережно относятся к ритуалу погребения. Особое внимание уделяется местам для погребения: они должны располагаться в доступности, чтобы родственники могли осуществлять должный уход за ними. В Минске существует 21 кладбище, где происходит захоронение усопших. Они все имеют разный статус: запущенные или благоустроенные, закрытые или открытые. В 9-ти из них есть работающие костелы и церкви, а 7 кладбищ имеют открытые колумбарии. Также стоит выделить закрытые кладбища: Военное, Крупцы, Брилевское, Козыревское. На них возможно захоронение только в урнах или же выделяются места для почетных погребений в некрополях. Такое решение принимает Совет депутатов. В остальных случаях эти кладбища оправдывают свое название и считаются закрытыми для всех остальных.</div>
                </div>
                <!-- IMG: -->
                <div class="text-img container">
                    <picture>
                        <source srcset="img/place-cemetery/1-500.webp" type="image/webp" media="(max-width: 750px)">
                        <source srcset="img/place-cemetery/1-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                        <source srcset="img/place-cemetery/1.webp" type="image/webp">
                        <img src="img/place-cemetery/1.jpg" alt="кремация">
                    </picture>
                </div>
                <!-- текст: -->
                <div class="text-page container">
                    <div class="text-page_margin">На кладбищах с ограниченным действием захоронение допустимо только повторное на уже существующих участках. При этом важно, чтобы было соблюдено санитарное правило — захоронение в гробу происходит в ту же могилу не ранее, чем через 20 лет после похорон прежних. Если же планируется захоронение урны, то сроки не важны.</div>
                </div>
                <!-- title: -->
                <div class="text-title container">
                    <div class="text-title_margin">Открытые кладбища</div>
                </div>
                <!-- текст: -->
                <div class="text-page container">
                    <div class="text-page_margin">К ним отнести можно лишь Западное кладбище, так как оно расширяется. Для получения места на нем нужно предоставить необходимый перечень документов. Все правила выдачи места прописаны в Законе о погребении. С ним можно предварительно ознакомиться в любой момент, но главные аспекты мы все же назовем:</div>
                </div>
                <!-- UL-LI: -->
                <div class="text-page container">
                    <div class="text-page_margin">
                        <ul class="text__list">
                            <li class="text__line">Право на бесплатное место для одиночного или 2-х местного захоронения имеет каждый. Размер участка 1.4/2.3 или 2.0/2.3</li>
                            <li class="text__line">Есть возможность резервировать дополнительную площадь рядом с участком. Эта услуга платная, а максимальный размер места — 4-х местный.</li>          
                        </ul>
                    </div>
                </div>
                <!-- текст: -->
                <div class="text-page container">
                    <div class="text-page_margin">На действующих открытых кладбищах производят родственные подзахоронения в урне или гробу. Как говорилось выше, второй вариант возможен по прошествии 20 лет. Это значит, что на Западном кладбище повторные похороны будут возможны лишь в 2023 году. Собственно, с выбором места проблемы возникают крайне редко, но и они оперативно решаются.</div>
                </div>
                <!-- IMG: -->
                <div class="text-img container">
                    <picture>
                        <source srcset="img/place-cemetery/2-500.webp" type="image/webp" media="(max-width: 750px)">
                        <source srcset="img/place-cemetery/2-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                        <source srcset="img/place-cemetery/2.webp" type="image/webp">
                        <img src="img/place-cemetery/2.jpg" alt="кремация">
                    </picture>
                </div>
                <!-- текст: -->
                <div class="text-page container">
                    <div class="text-page_margin">При захоронении близких важно не только подобрать место, но и все грамотно организовать. Для этого нужно позаботиться о копке могилы, доставке усопшего до кладбища и учесть еще множество других нюансов. Чтобы все было без форс-мажоров и трудностей проще всего обратиться к специалистам, которые организуют похороны под ключ. Нам, например, известны все особенности и сложности, связанные с поиском места на кладбище, его выбором. Мы возьмем на себя все организационные вопросы и поможем вам пережить этот непростой период с минимум забот. Стоимость услуг доступна каждому, так как она не превышает размера пособия. Для нас важно не просто оказать услугу, а сделать это качественно, душевно. Все процедуры захоронения у нас проходят красиво, без сложностей. Для получения консультации вы можете позвонить нам в любое время. Работаем мы круглосуточно, поэтому всегда готовы вам помочь.</div>
                </div>
                <!-- блок с телефонами -->
                <div class="tel-contacts">
                    <div class="tel-contacts__a1">
                    <div class="tel-contacts__a1-img">
                        <picture class="tel-contacts__picture">
                            <source srcset="img/__ritual-agent/4.webp" type="image/webp">
                            <img src="img/__ritual-agent/4.jpg" alt="alt">
                        </picture>
                    </div>
                    <a href="tel:+375447695139" class="tel-contacts__a1-tel">+375 (44) 769 51 39</a>
                    </div>
                    <div class="tel-contacts__mts">
                    <div class="tel-contacts__mts-img">
                        <picture class="tel-contacts__picture">
                            <source srcset="img/__ritual-agent/5.webp" type="image/webp">
                            <img src="img/__ritual-agent/5.jpg" alt="alt">
                        </picture>
                    </div>
                    <a href="tel:+375295057052" class="tel-contacts__mts-tel">+375 (29) 505 70 52</a>
                    </div>
                    <div class="tel-contacts__clock">круглосуточно</div>
                </div>

            </div>

        <!-- конец блок магазина -->
        </main>

        <!--* footer -->
        <%- include('./modules/footer.ejs') %>

</body>
</html>