<!doctype html>
<html lang="ru">

<!--* head -->
<%- include('./modules/head.ejs') %>

<body>

    <!--* google-tag-noscript -->
    <%- include('./modules/google-tag-noscript.ejs') %>

    <div class="wrapper">

        <!--* heder -->
        <%- include('./modules/header.ejs') %>

        <!-- main code -->
        <!--= main -->
        <main class="main">

            <!-- шапка -->
            <div class="heder-page heder-page_margin">
                <h1 class="heder-page__title">КОЛУМБАРИИ</h1>
                <div class="heder-page__img">
                    <picture>
                        <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                        <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                        <source srcset="img/home/grob.webp" type="image/webp">
                        <img src="img/home/grob.jpg" alt="фото гроба">
                    </picture>
                </div>
            </div>

            <div class="block">
                <!-- текст: -->
                <div class="text-page container">
                    <div class="text-page_margin">Захоронение в колумбарии становится все более востребованным и распространенным. Связано это с тем, что там больше свободных мест, есть возможность выбора места захоронения. Кроме того, за нишей не требуется специальный уход, как, например, за могилой.</div>
                </div>
                
            <!-- IMG: -->
            <div class="text-img container">
                <picture>
                    <source srcset="img/COLUMBARIA/1-500.webp" type="image/webp" media="(max-width: 750px)">
                    <source srcset="img/COLUMBARIA/1-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                    <source srcset="img/COLUMBARIA/1.webp" type="image/webp">
                    <img src="img/COLUMBARIA/1.jpg" alt="кремация">
                </picture>
            </div>

            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Что же представляет собой такой способ захоронения?</div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Колумбарий — сооружение со специальными нишами для хранения праха. Возникло оно еще в Древнем Риме. Называли колумбарии «стенами плача». Само же название с латыни переводится «голубь». Собственно, это место и чем-то напоминает голубятню. Существуют колумбарии практически по всему миру. Есть они и в Минске. Расположены они на 6-ти кладбищах. Также есть специально оборудованные газонные участки для захоронения специального стакана с прахом. Находятся они на Северном кладбище или в Колодищах. Над таким захоронением, как правило, устанавливается памятник, а называют этот комплекс горизонтальным колумбарием.</div>
            </div>

            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Услуги колумбария</div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">В Минске стоимость на услуги на размещение урны в колумбарии регулируется горисполкомом. Цена составляет 10 БВ. Соответственно, 1 захоронение обойдется примерно в 290 рублей. Безусловно, окончательная сумма будет зависеть от количества и стоимости работ по установке памятника или закрытию памятной доской ниши. В среднем, урновое захоронение составляет от 200 рублей. При этом нужно понимать и учитывать, что в Минске кладбище бывают разных типов (закрытые, открытые, действующие), что влечет за собой соблюдение ряда правил и условий.</div>
            </div>

            <!-- IMG: -->
            <div class="text-img container">
                <picture>
                    <source srcset="img/COLUMBARIA/2-500.webp" type="image/webp" media="(max-width: 750px)">
                    <source srcset="img/COLUMBARIA/2-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                    <source srcset="img/COLUMBARIA/2.webp" type="image/webp">
                    <img src="img/COLUMBARIA/2.jpg" alt="кремация">
                </picture>
            </div>

            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Как купить место в Минске в колумбарии</div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Приобрети свободную нишу можно в Минском крематории без особой сложности. Там же можно выбрать и место в горизонтальном колумбарии. При этом оплачивается лишь аренда. Собственностью покупателя эти места на являются.</div>
            </div>

            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Ниши для захоронения</div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">В колумбарии Минска предоставляется прямоугольный отсек. Его габариты рассчитаны на размещение от 1 и более стандартных урн. Дополнительно устанавливается мемориальная доска и фото усопшего. Двухместные ячейки есть на Кальварийском кладбище. Закрываются они общей плитой. Выбрать нишу для захоронения можно в зависимости от предпочтений без особого труда.</div>
            </div>

            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Где купить место в колумбарии</div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Сделать это можно, как упоминалось выше, в магазине Минского крематория или же обратиться в нашу компанию. Мы занимаемся оказанием ритуальных услуг уже довольно длительное время. Нам известны все нюансы и традиции захоронения, в том числе и в колумбарии. Все документальные и организационные вопросы мы берем на себя и оказываем услуг «под ключ». Это существенно упрощает процесс прощания с близким, помогает родным легче пережить утрату.</div>
            </div>

            <!-- IMG: -->
            <div class="text-img container">
                <picture>
                    <source srcset="img/COLUMBARIA/3-500.webp" type="image/webp" media="(max-width: 750px)">
                    <source srcset="img/COLUMBARIA/3-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                    <source srcset="img/COLUMBARIA/3.webp" type="image/webp">
                    <img src="img/COLUMBARIA/3.jpg" alt="кремация">
                </picture>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Актуальную информацию о стоимости услуг колумбария узнать можно у наших специалистов. Они обладают самыми точными сведениями, ответят на все ваши вопросы, найдут нужные слова поддержки. Мы понимает всю сложность и трагичность ситуации и стараемся сделать все так, чтобы прощание с близким прошло душевно, красиво. Стоимость наших услуг доступна каждому. Наши специалисты не стараются нажиться на вашем горе, мы делаем все, чтобы вам было легче его пережить. Работаем мы круглосуточно 24/7. Для вызова агента можно оставить заявку на нашем сайте или по номеру телефона. Он уточнит все пожелания и незамедлительно приступит к решению административных и организационных вопросов. Мы гарантируем, что похороны вашего родного человека пройдут на самом высоком уровне, а вам не потребуется заниматься всеми этими вопросами и проблемами.</div>
            </div>

            <!-- блок с телефонами -->
            <div class="tel-contacts">
                <div class="tel-contacts__a1">
                <div class="tel-contacts__a1-img">
                    <picture class="tel-contacts__picture">
                        <source srcset="img/__ritual-agent/4.webp" type="image/webp">
                        <img src="img/__ritual-agent/4.jpg" alt="alt">
                    </picture>
                </div>
                <a href="tel:+375447695139" class="tel-contacts__a1-tel">+375 (44) 769 51 39</a>
                </div>
                <div class="tel-contacts__mts">
                <div class="tel-contacts__mts-img">
                    <picture class="tel-contacts__picture">
                        <source srcset="img/__ritual-agent/5.webp" type="image/webp">
                        <img src="img/__ritual-agent/5.jpg" alt="alt">
                    </picture>
                </div>
                <a href="tel:+375295057052" class="tel-contacts__mts-tel">+375 (29) 505 70 52</a>
                </div>
                <div class="tel-contacts__clock">круглосуточно</div>
            </div>

            </div>

        <!-- конец блок магазина -->
        </main>

        <!--* footer -->
        <%- include('./modules/footer.ejs') %>

</body>
</html>