<!doctype html>
<html lang="ru">

<!--* head -->
<%- include('./modules/head.ejs') %>

<body>

<!--* google-tag-noscript -->
<%- include('./modules/google-tag-noscript.ejs') %>

<div class="wrapper">

    <!--* heder -->
    <%- include('./modules/header.ejs') %>

    <!--= main -->
    <main class="main">
        <!-- шапка -->
        <div class="heder-page heder-page_margin">
            <h1 class="heder-page__title">Контакты</h1>
            <div class="heder-page__img">
                <picture>
                    <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                    <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                    <source srcset="img/home/grob.webp" type="image/webp">
                    <img src="img/home/grob.jpg" alt="фото гроба">
                </picture>
            </div>
        </div>

        <div class="contacts">
            <div class="contacts__info">
                <div class="contacts__title">СВЯЖИТЕСЬ С НАМИ, ЧТОБЫ ПОЛУЧИТЬ БОЛЕЕ ПОДРОБНУЮ ИНФОРМАЦИЮ</div>
                <div class="contacts__text">Мы готовы помочь вам в трудную минуту.</div>
                <!-- <div class="contacts__tel" >+375 (44) 769 51 39</div> -->
                <a class="contacts__tel" href="tel:+375295057052">+375 29 505 70 52</a>
                <div class="contacts__map">Минск, пр-т. Партизанский 5</div>
                <div class="contacts__mail">soboleznuem@info.com</div>
            </div>
            <div class="contacts__img">
                <div class="contacts__img-box">
                    <picture>
                        <source srcset="img/__contacts/1.webp" type="image/webp">
                        <img src="img/__contacts/1.jpg" alt="my_alt">
                    </picture>
                    <div class="contacts__time-work">
                        <div class="contacts__img-title">ЧАСЫ РАБОТЫ</div>
                        <div class="contacts__img-all">КРУГЛОСУТОЧНО:<br><span>бесплатная консультация,<br>бесплатный выезд агента.</span></div>
                        <a href="tel:+375295057052" class="contacts__img-all _block _margin-mobole">+375 29 505 70 52</a>
                        <a href="tel:+375447695139" class="contacts__img-all _block">+375 44 769 51 39</a>
                    </div>
                </div>
            </div>
        </div>
        <iframe class="map__google" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2351.54875702025!2d27.581420816353152!3d53.886449741817856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbce2d40d10627%3A0x33503724da3eb76!2z0J_QsNGA0YLQuNC30LDQvdGB0LrQuNC5INC_0YDQvtGB0L8uIDUsINCc0LjQvdGB0Lo!5e0!3m2!1sru!2sby!4v1650057259546!5m2!1sru!2sby"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </main>

    <!--* footer -->
        <%- include('./modules/footer.ejs') %>

</body>
</html>



