<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Здесь мы собрали контактные данные нашей компании, по которым вы можете связаться с нами. ☎ Звоните за консультацией!">
    <link rel="icon" type="image/png" href="img/home/favicon.png">
    <link rel="stylesheet" href="css/style.css?v=2.6">
    <title>Контакты</title>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(88857516, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/88857516" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TQPKWTP');</script>
<!-- End Google Tag Manager -->
</head>
<body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQPKWTP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="wrapper">
    <!--= heder -->
    <header class="header">
        <div class="header__up">
            <div class="header__logo">
                <img class="header__logo-img" src="img/home/logo-new.png" alt="логотип сайта похороны в минске">
            </div>
            <h1 class="header__title"><span>Ритуальные услуги в Минске</span></h1>
            <a href="tel:+375447695139" class="header__tel">тел.+375 44 769 51 39</a>
        </div>
        <div class="header__down">
            <div class="header__burger">
                <div class="header__button">
                    <span></span>
                </div>
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__line">
                        <a href="index.html" class="header__link">главная</a>
                    </li>                      
                    <li class="header__line">
                        <a href="#" class="header__link  _sub">услуги</a>
                        <ul class="header__list-sub">
                            <li class="header__line-sub">
                                <a href="burial.html" class="header__link-sub">Захоронение</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="cremation.html" class="header__link-sub">Кремация</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="ritual-agent.html" class="header__link-sub">Ритуальный агент</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="copter-graves.html" class="header__link-sub">Копка могилы</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="rent-catatal.html" class="header__link-sub">Аренда катафалка</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="loaders.html" class="header__link-sub">Носильщик гроба</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="cargo-200.html" class="header__link-sub">Груз 200</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="production-of-monuments.html" class="header__link-sub">Помощь в изготовлении памятников</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__line">
                        <a href="#" class="header__link  _sub">товары</a>
                        <ul class="header__list-sub">
                            <li class="header__line-sub">
                                <a href="shop-coffins.html" class="header__link-sub">Гробы</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="shop-wreaths.html" class="header__link-sub">Венки ритуальные</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="shop-baskets.html" class="header__link-sub">Корзины ритуальные</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="shop-crosses.html" class="header__link-sub">Кресты</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="shop-clothes.html" class="header__link-sub">Одежда</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="shop-payment.html" class="header__link-sub">Доставка и оплата</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__line">
                        <a href="information.html" class="header__link">важная информация</a>
                    </li>
                    <li class="header__line">
                        <a href="morgues-in-minsk.html" class="header__link">морги в минске</a>
                    </li>
                    <li class="header__line">
                        <a href="reviews.html" class="header__link">отзывы</a>
                    </li>
                    <li class="header__line">
                        <a href="contacts.html" class="header__link">контакты</a>
                    </li>
                </ul> 
            </nav>
        </div>
    </header>

    <!--= main -->
    <main class="main">
        <!-- шапка -->
        <div class="heder-page heder-page_margin">
            <h1 class="heder-page__title">Контакты</h1>
            <div class="heder-page__img">
                <picture>
                    <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                    <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                    <source srcset="img/home/grob.webp" type="image/webp">
                    <img src="img/home/grob.jpg" alt="фото гроба">
                </picture>
            </div>
        </div>

        <div class="contacts">
            <div class="contacts__info">
                <div class="contacts__title">СВЯЖИТЕСЬ С НАМИ, ЧТОБЫ ПОЛУЧИТЬ БОЛЕЕ ПОДРОБНУЮ ИНФОРМАЦИЮ</div>
                <div class="contacts__text">Мы готовы помочь вам в трудную минуту.</div>
                <!-- <div class="contacts__tel" >+375 (44) 769 51 39</div> -->
                <a class="contacts__tel" href="tel:+375295057052">+375 29 505 70 52</a>
                <div class="contacts__map">Минск, пр-т. Партизанский 5</div>
                <div class="contacts__mail">soboleznuem@info.com</div>
            </div>
            <div class="contacts__img">
                <div class="contacts__img-box">
                    <picture>
                        <source srcset="img/__contacts/1.webp" type="image/webp">
                        <img src="img/__contacts/1.jpg" alt="my_alt">
                    </picture>
                    <div class="contacts__time-work">
                        <div class="contacts__img-title">ЧАСЫ РАБОТЫ</div>
                        <div class="contacts__img-all">КРУГЛОСУТОЧНО:<br><span>бесплатная консультация,<br>бесплатный выезд агента.</span></div>
                        <a href="tel:+375295057052" class="contacts__img-all _block _margin-mobole">+375 29 505 70 52</a>
                        <a href="tel:+375447695139" class="contacts__img-all _block">+375 44 769 51 39</a>
                    </div>
                </div>
            </div>
        </div>
        <iframe class="map__google" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2351.54875702025!2d27.581420816353152!3d53.886449741817856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbce2d40d10627%3A0x33503724da3eb76!2z0J_QsNGA0YLQuNC30LDQvdGB0LrQuNC5INC_0YDQvtGB0L8uIDUsINCc0LjQvdGB0Lo!5e0!3m2!1sru!2sby!4v1650057259546!5m2!1sru!2sby"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </main>

    <!--= footer -->
    <footer class="footer">
        <div class="footer__item-img">
            <picture>
                <source srcset="img/footer/Logo-1.webp" type="image/webp">
                <img loading="lazy" class="footer__img" src="img/footer/Logo-1.jpg"  alt="логотип похороны в минске" width="298" height="100">
            </picture>
        </div>
        <div class="footer__item">
            <div class="footer__title">адрес</div>
            <div class="footer__text">г.Минск</div>
            <div class="footer__text">пр-т Партизанский 5</div>
        </div>
        <div class="footer__item">
            <div class="footer__title">телефоны</div>
            <a class="footer__text" href="tel:+375447695139">+375447695139</a>
            <a class="footer__text" href="tel:+375295057052">+375295057052</a>
        </div>
        <div class="footer__item">
            <div class="footer__title">часы работы</div>
            <div class="footer__text">24 часа</div>
            <div class="footer__text">круглосуточно</div>
        </div>
    </footer>

<!-- end  -->
</div>
<script src="dist/bundle.js?v=2.6"></script>
</body>
</html>



