<!doctype html>
<html lang="ru">

<!--* head -->
<%- include('./modules/head.ejs') %>

<body>

    <!--* google-tag-noscript -->
    <%- include('./modules/google-tag-noscript.ejs') %>

    <div class="wrapper">

        <!--* heder -->
        <%- include('./modules/header.ejs') %>

        <!-- main code -->
        <!--= main -->
        <!-- шапка -->
        <div class="heder-page heder-page_margin">
            <h1 class="heder-page__title">Копка могилы</h1>
            <div class="heder-page__img">
                <picture>
                    <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                    <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                    <source srcset="img/home/grob.webp" type="image/webp">
                    <img src="img/home/grob.jpg" alt="фото гроба">
                </picture>
            </div>
        </div>
<!-- текст: Копка могилы – неотъемлемый -->
        <div class="text-page container">
            <div class="text-page_margin">Копка могилы – неотъемлемый ритуал захоронения. Еще в древности кладбища считали местом, откуда начинаются эпидемии, многочисленные болезни, поэтому глубине могилы уделялось и уделяется особое внимание. Она должна быть соответствующей. Необходимо, чтобы тело располагалось выше грунтовых вод и одновременно с этим не соприкасалось с поверхностными водами. Если эти и другие правила не будут соблюдены, то продукты разложения смешаются с водой и могут стать источником распространения болезней. Именно поэтому важно соблюдение существующих нормативов. Размер места захоронения на кладбище по нормам должен быть 200 на 150. Иногда эти габариты могут изменяться в большую сторону, но при этом они не должны превышать 4 метра. Изменение стандартов возможно по причине особенностей почвы, климата в регионе, погребальных традиций.</div>
        </div>
<!-- IMG: могила гроб-->
        <div class="text-img container">
            <picture>
                <source srcset="img/__copter-graves/1-500.webp" type="image/webp" media="(max-width: 750px)">
                <source srcset="img/__copter-graves/1-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                <source srcset="img/__copter-graves/1.webp" type="image/webp">
                <img src="img/__copter-graves/1.jpg" alt="могила гроб">
            </picture>
        </div>
<!-- текст: Копка могилы на кладбище -->
        <div class="text-page container">
            <div class="text-page_margin">Копка могилы на кладбище может осуществляться как вручную, так и с использованием специальной техники. И если летом, например, выкопать ее будет не так сложно, то вот зимой с этой задачей справиться не так просто. Промерзание почвы может быть довольно глубоким, поэтому в буквальном смысле приходится ее «выбивать», чтобы выкопать яму нужных размеров. Профессиональная копка могил предполагает подготовку места захоронения. С этой задачей, независимо от поры года, справится наша команда. Наши специалисты имеют необходимый опыт, навыки, отлично разбираются в особенностях подготовки места на кладбище. Главное – они оснащены специальным оборудованием, которое позволяет сделать копку могилы нужного размера в любую пору года, в том числе и в сильный мороз. Цена на услугу копки могилы в Минске и Минской области зависит от ряда факторов. На нее влияет:</div>
        </div>
        <!-- UL-LI: Сезон-->
        <div class="text-page container">
            <div class="text-page_margin">
                <ul class="text__list">
                    <li class="text__line">Сезон</li>
                    <li class="text__line">Тип захоронения: гроб или урна. Безусловно, подготовить место для урны значительно проще.</li>
                    <li class="text__line">Виды захоронения.</li>           
                </ul>
            </div>
        </div>
<!-- текст: Также нужно понимать-->
        <div class="text-page container">
            <div class="text-page_margin">Также нужно понимать, что рыть могилу на кладбище для подзахоронения значительно сложнее. Собственно, поэтому назвать точную цену могут только после уточнения вышеназванных характеристик. Уточнить стоимость услуг можно непосредственно у нашего агента.</div>
        </div>
<!-- IMG: могила гроб -->
        <div class="text-img container">
            <picture>
                <source srcset="img/__copter-graves/2-500.webp" type="image/webp" media="(max-width: 750px)">
                <source srcset="img/__copter-graves/2-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                <source srcset="img/__copter-graves/2.webp" type="image/webp">
                <img src="img/__copter-graves/2.jpg" alt="могила гроб">
            </picture>
        </div>
<!-- title: Почему стоит обращаться в нашу ритуальную компанию? -->
        <div class="text-title container">
            <div class="text-title_margin">Почему стоит обращаться в нашу ритуальную компанию?</div>
        </div>
<!-- текст: Мы оказываем ритуальные-->
        <div class="text-page container">
            <div class="text-page_margin">Мы оказываем ритуальные услуги в Минске и Минской области уже много лет. Нам известны все особенности захоронения в этих регионах, поэтому мы выполняем свою работу качественно с соблюдением всех существующих норм и правил. Наши специалисты выполняют свою работу без лишней суеты и действий. Мы понимаем, как важно сделать все правильно и на совесть, поэтому обращаясь к нам, можете быть уверены, что проводы вашего близкого человека в «последний путь» будут организованы на высшем уровне. Помимо копки могилы, мы оказываем полный спектр услуг по захоронению: от документального оформления до организации обряда прощания. Работаем мы круглосуточно, без выходных. Для заявки достаточно просто связаться с нашим агентом, а все остальные заботы он возьмет на себя. Мы, как никто, понимаем ваше горе и прилагаем все усилия, чтобы захоронение прошло красиво и без накладок.</div>
        </div>
<!-- блок с телефонами -->
        <div class="tel-contacts">
            <div class="tel-contacts__a1">
                <div class="tel-contacts__a1-img">
                    <picture class="tel-contacts__picture">
                        <source srcset="img/__ritual-agent/4.webp" type="image/webp">
                        <img src="img/__ritual-agent/4.jpg" alt="alt">
                    </picture>
                </div>
                <a href="tel:+375447695139" class="tel-contacts__a1-tel">+375 (44) 769 51 39</a>
            </div>
            <div class="tel-contacts__mts">
                <div class="tel-contacts__mts-img">
                    <picture class="tel-contacts__picture">
                        <source srcset="img/__ritual-agent/5.webp" type="image/webp">
                        <img src="img/__ritual-agent/5.jpg" alt="alt">
                    </picture>
                </div>
                <a href="tel:+375295057052" class="tel-contacts__mts-tel">+375 (29) 505 70 52</a>
            </div>
            <div class="tel-contacts__clock">круглосуточно</div>
        </div>



        </main>

        <!--* footer -->
        <%- include('./modules/footer.ejs') %>

</body>
</html>
