<!doctype html>
<html lang="ru">

<!--* head -->
<%- include('./modules/head.ejs') %>

<body>

    <!--* google-tag-noscript -->
    <%- include('./modules/google-tag-noscript.ejs') %>

    <div class="wrapper">

        <!--* heder -->
        <%- include('./modules/header.ejs') %>

        <!-- main code -->
                <!--= main -->
                <main class="main">
                    <!-- шапка -->
                    <div class="heder-page heder-page_margin">
                        <h1 class="heder-page__title">Кремация</h1>
                        <div class="heder-page__img">
                            <picture>
                                <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                                <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                                <source srcset="img/home/grob.webp" type="image/webp">
                                <img src="img/home/grob.jpg" alt="фото гроба">
                            </picture>
                        </div>
                    </div>
                    <!-- текст:В последнее время -->
                    <div class="text-page container">
                        <div class="text-page_margin">В последнее время кремация становится востребованным способом захоронения. Это гуманный вариант по отношению к природе, а также возможность исполнить последнюю просьбу усопшего, например, чтобы его прах похоронили в другой стране и т.п. Погребение с кремацией существенно уменьшает расходы на похороны, а также облегчает жизнь родственникам, так как не требует ухода за могилкой. При размещении в колумбарии урны с прахом достаточно небольшого клочка земли, не нужно приобретать памятники и ограду. Кроме того, родственники всегда могут захоронить прах в дорогом для усопшего месте.</div>
                    </div>
                    <!-- img: ячейки -->
                    <div class="text-img container">
                        <picture>
                            <source srcset="img/__cremation/1-500.webp" type="image/webp" media="(max-width: 750px)">
                            <source srcset="img/__cremation/1-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                            <source srcset="img/__cremation/1.webp" type="image/webp">
                            <img src="img/__cremation/1.jpg" alt="кремация">
                        </picture>
                    </div>
                    <!-- title:Что представляет собой кремация -->
                    <div class="text-title container">
                        <div class="text-title_margin">Что представляет собой кремация</div>
                    </div>
                    <!-- текст:Кремация – сожжение тела усопшего -->
                    <div class="text-page container">
                        <div class="text-page_margin">Кремация – сожжение тела усопшего с соблюдением всех канонов и правил. Для кремации используются специальные печи, в которые помещается гроб. Но сожжение — это еще не конец этого процесса. Не менее важным этапом является обработка останков. После печи они имеют неоднородную консистенцию, поэтому используется специальное устройство для дробления останков до состояния золы. После кремации прах собирают в урну и передают родственникам. Они уже вправе решать дальнейшую судьбу урны. Передача урны может происходить с церемонией прощания и без. Для выдачи праха усопшего потребуется предоставить пакет документов. Чтобы не допустить перемешивание праха после сожжения, проводится регистрация усопших, а в гроб ложится железная табличка с номером. Она присутствует внутри праха, что позволяет идентифицировать личность усопшего. Услуга кремирования оказывается в Беларуси только в Минске. Оплачивается услуга при подаче документов. Сколько стоит? Стоимость ее составляет от 230 рублей. Кремирование осуществляется в течение 9 дней, но если нужно срочно, то к сумме стоит прибавить около 40% к этой сумме.</div>
                    </div>
                    <!-- title:Правила, которые необходимо соблюдать при кремировании -->
                    <div class="text-title container">
                        <div class="text-title_margin">Правила, которые необходимо соблюдать при кремировании</div>
                    </div>
                    <!-- UL-LI:Кремация – сожжение тела усопшего -->
                    <div class="text-page container">
                        <div class="text-page_margin">
                            <ul class="text__list">
                                <li class="text__line">Требуется предварительная запись, бронь. Время процедуры стоит оговаривать сразу. Также может быть выделено место прощания.</li>
                                <li class="text__line">Кремация происходит в течение 1 дня, но при оказании дополнительных услуг это время может изменяться.</li>
                                <li class="text__line">Разрешено сжигать тело только на 2 и последующие дни. В первые сутки после смерти запрещено проведение процедуры.</li>
                            </ul>
                        </div>
                    </div>
                    <!-- IMG: два гроба -->
                    <div class="text-img container">
                        <picture>
                            <source srcset="img/__cremation/2-500.webp" type="image/webp" media="(max-width: 750px)">
                            <source srcset="img/__cremation/2-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                            <source srcset="img/__cremation/2.webp" type="image/webp">
                            <img src="img/__cremation/2.jpg" alt="кремация два гроба">
                        </picture>
                    </div>
                    <!-- title:Организация кремации включает следующие этапы: -->
                    <div class="text-title container">
                        <div class="text-title_margin">Организация кремации включает следующие этапы:</div>
                    </div>
                    <!-- UL-LI:Кремация – сожжение тела усопшего -->
                    <div class="text-page container">
                        <div class="text-page_margin">
                            <ul class="text__list">
                                <li class="text__line">Подготовка тела – макияж, бальзамирование.</li>
                                <li class="text__line">Хранение тела усопшего. Для этого используется специальный холодильник.</li>
                                <li class="text__line">Аренда авто, которые доставят родных к крематорию.</li>
                                <li class="text__line">Аренда места для отпевания, прощального зала.</li>
                                <li class="text__line">Захоронение урны с прахом на могиле или в колумбарии.</li>        
                            </ul>
                        </div>
                    </div>
                    <!-- title:Где заказать услугу кремации в Минске? -->
                    <div class="text-title container">
                        <div class="text-title_margin">Где заказать услугу кремации в Минске?</div>
                    </div>
                    <!-- текст:У нас вы можете заказать -->
                    <div class="text-page container">
                        <div class="text-page_margin">У нас вы можете заказать кремацию усопшего без очередей и длительных ожиданий. Вы звоните нам, оговариваете время, дополнительные услуги (наличие венков, прощальный зал и т.п.). После принятия заявки все заботы о захоронении мы берем на себя. Мы выполним все качественно, душевно, поможем вам легче пережить горе.</div>
                    </div>
                    <!-- текст:Стоимость кремации усопшего -->
                    <div class="text-page container">
                        <div class="text-page_margin">Стоимость кремации усопшего обойдется вам немного дешевле традиционных похорон. Она не превышает сумму государственных выплат. Обращаясь к нам, вам не нужно думать о том, как все организовать, мы все сделаем за вас. Наши сотрудники помогут в решении любых вопросов за доступную цену, позволят вам провести последние минуты с усопшим, а не заниматься организационными вопросами.</div>
                    </div>
            
            
                </main>

        <!--* footer -->
        <%- include('./modules/footer.ejs') %>

</body>
</html>
