<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Смерть близкого человека – это всегда потрясение и эмоциональный шок, поэтому главное взять себя в руки и не совершать ошибок!">
    <link rel="icon" type="image/png" href="img/home/favicon.png">
    <link rel="stylesheet" href="css/style.css?v=2.6">
    <title>Что делать, если умер близкий человек советы рекомендации</title>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(88857516, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/88857516" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TQPKWTP');</script>
<!-- End Google Tag Manager -->
</head>
<body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQPKWTP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">

        <!--= heder -->
        <header class="header">
            <div class="header__up">
                <div class="header__logo">
                    <img class="header__logo-img" src="img/home/logo-new.png" alt="логотип сайта похороны в минске">
                </div>
                <h1 class="header__title"><span>Ритуальные услуги в Минске</span></h1>
                <a href="tel:+375447695139" class="header__tel">тел.+375 44 769 51 39</a>
            </div>
            <div class="header__down">
                <div class="header__burger">
                    <div class="header__button">
                        <span></span>
                    </div>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__line">
                            <a href="index.html" class="header__link">главная</a>
                        </li>                      
                        <li class="header__line">
                            <a href="#" class="header__link  _sub">услуги</a>
                            <ul class="header__list-sub">
                                <li class="header__line-sub">
                                    <a href="burial.html" class="header__link-sub">Захоронение</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="cremation.html" class="header__link-sub">Кремация</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="ritual-agent.html" class="header__link-sub">Ритуальный агент</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="copter-graves.html" class="header__link-sub">Копка могилы</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="rent-catatal.html" class="header__link-sub">Аренда катафалка</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="loaders.html" class="header__link-sub">Носильщик гроба</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="cargo-200.html" class="header__link-sub">Груз 200</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="production-of-monuments.html" class="header__link-sub">Помощь в изготовлении памятников</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__line">
                            <a href="#" class="header__link  _sub">товары</a>
                            <ul class="header__list-sub">
                                <li class="header__line-sub">
                                    <a href="shop-coffins.html" class="header__link-sub">Гробы</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-wreaths.html" class="header__link-sub">Венки ритуальные</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-baskets.html" class="header__link-sub">Корзины ритуальные</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-crosses.html" class="header__link-sub">Кресты</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-clothes.html" class="header__link-sub">Одежда</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-payment.html" class="header__link-sub">Доставка и оплата</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__line">
                            <a href="information.html" class="header__link">важная информация</a>
                        </li>
                        <li class="header__line">
                            <a href="morgues-in-minsk.html" class="header__link">морги в минске</a>
                        </li>
                        <li class="header__line">
                            <a href="reviews.html" class="header__link">отзывы</a>
                        </li>
                        <li class="header__line">
                            <a href="contacts.html" class="header__link">контакты</a>
                        </li>
                    </ul> 
                </nav>
            </div>
        </header>

        <!--= main -->
        <main class="main">

            <!-- шапка -->
            <div class="heder-page heder-page_margin">
                <h1 class="heder-page__title">ЧТО ДЕЛАТЬ, ЕСЛИ УМЕР БЛИЗКИЙ ЧЕЛОВЕК</h1>
                <div class="heder-page__img">
                    <picture>
                        <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                        <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                        <source srcset="img/home/grob.webp" type="image/webp">
                        <img src="img/home/grob.jpg" alt="фото гроба">
                    </picture>
                </div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Смерть близкого человека — это всегда потрясение, эмоциональный шок независимо от того, где и как произошло трагическое событие. Утрата родственника – всегда неожиданность. Никто не может повлиять на эту ситуацию, да и принять ее очень сложно. Иногда в такой ситуации родные находятся в шоковом состоянии и не понимают, что делать. Это нормальная реакция, так как сталкиваемся с такими ситуациями, к счастью, мы не каждый день.</div>
            </div>
            <!-- IMG: -->
            <div class="text-img container">
                <picture>
                    <source srcset="img/__ritual-agent/1-500.webp" type="image/webp" media="(max-width: 750px)">
                    <source srcset="img/__ritual-agent/1-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                    <source srcset="img/__ritual-agent/1.webp" type="image/webp">
                    <img src="img/__ritual-agent/1.jpg" alt="кремация">
                </picture>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Какой план действий, если умер близкий человека?</div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">В первую очередь нужно обратиться к медикам. Для этого требуется вызвать бригаду «Скорой помощи». Они констатируют смерть и выдадут соответствующий документ. Если смерть наступила в больнице или медико-социальном учреждении, то констатация осуществляется местным медперсоналом. До приезда медиков не стоит перемещать усопшего, проводить над ним какие-то действия. Все должно оставаться неизменным. Далее вызывают сотрудников милиции. Они должны осмотреть тело и убедиться в том, что причина смерти естественная. Может быть назначена судмедэкспертиза, но это в случае, если возникают подозрения в насильственной гибели. Иногда сотрудники «Скорой помощи» самостоятельно вызывают милицию — все зависит от каждой конкретной ситуации.</div>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Справка о смерти</div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Выдается она терапевтом или в морге. Также этот документ можно запросить у участкового. Он подскажет, как и куда дальше можно обращаться, как доставить тело в морг для определения причины смерти и т.п. Вскрытие в морге происходит в течение нескольких дней. После этой процедуры сообщают о причине смерти. Хранение тела усопшего в морге бесплатно только 3 дня. В морг потребуется привести одежду для покойника, мыло, полотенце. Все остальные работы по подготовке умершего к захоронению за дополнительную плату – бальзамирование и т.п.</div>
            </div>
            <!-- IMG: -->
            <div class="text-img container">
                <picture>
                    <source srcset="img/__burial-allowance/2-500.webp" type="image/webp" media="(max-width: 750px)">
                    <source srcset="img/__burial-allowance/2-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                    <source srcset="img/__burial-allowance/2.webp" type="image/webp">
                    <img src="img/__burial-allowance/2.jpg" alt="кремация">
                </picture>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Чего не стоит делать, если умер родственник?</div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Есть ряд ошибок, которые могут привести к проблемам, поэтому в случае смерти близкого человека ни в коем случае не стоит делать следующее:</div>
            </div>
            <!-- UL-LI: -->
            <div class="text-page container">
                <div class="text-page_margin">
                    <ul class="text__list">
                        <li class="text__line">Доверять сторонним лицам организацию похорон по очень низким ценам. Эти обещания лишь приманка. Чаще всего такие «организаторы» постфактум озвучивают стоимость в 2-3 раза больше.</li>
                        <li class="text__line">Вести общение по телефону с социальными работниками, страховыми агентами. Они легко входят в доверие, а потом просто оставляют вас без денег.</li>
                        <li class="text__line">Доверять сотрудникам «Скорой помощи», милиции, не проверив документы. Они должны предъявить удостоверение. Если это не происходит, не стоит с ними вести никакие разговоры.</li>
                        <li class="text__line">Передавать документы сторонним лицам. Это касается, как ваших документов, так и покойного. Рекомендуется любые документальные вопросы решать только с надежными компаниями, представительствами с заключением официального договора.</li>      
                    </ul>
                </div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Наша компания занимается подготовкой и организацией похорон уже много лет. Мы имеем отличную репутацию, осуществляем помощь родным, как в подготовке к процедуре захоронения, так оказываем психологическую поддержку. Стоимость на услуги у нас невысокая. Мы организовываем прощание с усопшим в рамках суммы пособия, которое выделяется государством на похороны. Наши сотрудники делают все, чтобы вам было легче переживать утрату.</div>
            </div>
            <!-- блок с телефонами -->
            <div class="tel-contacts">
                <div class="tel-contacts__a1">
                <div class="tel-contacts__a1-img">
                    <picture class="tel-contacts__picture">
                        <source srcset="img/__ritual-agent/4.webp" type="image/webp">
                        <img src="img/__ritual-agent/4.jpg" alt="alt">
                    </picture>
                </div>
                <a href="tel:+375447695139" class="tel-contacts__a1-tel">+375 (44) 769 51 39</a>
                </div>
                <div class="tel-contacts__mts">
                <div class="tel-contacts__mts-img">
                    <picture class="tel-contacts__picture">
                        <source srcset="img/__ritual-agent/5.webp" type="image/webp">
                        <img src="img/__ritual-agent/5.jpg" alt="alt">
                    </picture>
                </div>
                <a href="tel:+375295057052" class="tel-contacts__mts-tel">+375 (29) 505 70 52</a>
                </div>
                <div class="tel-contacts__clock">круглосуточно</div>
            </div>

        <!-- конец блок магазина -->
        </main>

        <!--= footer -->
        <footer class="footer">
            <div class="footer__item-img">
                <picture>
                    <source srcset="img/footer/Logo-1.webp" type="image/webp">
                    <img loading="lazy" class="footer__img" src="img/footer/Logo-1.jpg"  alt="логотип похороны в минске" width="298" height="100">
                </picture>
            </div>
            <div class="footer__item">
                <div class="footer__title">адрес</div>
                <div class="footer__text">г.Минск</div>
                <div class="footer__text">пр-т Партизанский 5</div>
            </div>
            <div class="footer__item">
                <div class="footer__title">телефоны</div>
                <a class="footer__text" href="tel:+375447695139">+375447695139</a>
                <a class="footer__text" href="tel:+375295057052">+375295057052</a>
            </div>
            <div class="footer__item">
                <div class="footer__title">часы работы</div>
                <div class="footer__text">24 часа</div>
                <div class="footer__text">круглосуточно</div>
            </div>
        </footer>

    <!-- end wrapper -->
    </div>

    <script src="dist/bundle.js?v=2.6"></script>
</body>
</html>