<!doctype html>
<html lang="ru">

<!--* head -->
<%- include('./modules/head.ejs') %>

<body>

    <!--* google-tag-noscript -->
    <%- include('./modules/google-tag-noscript.ejs') %>

    <div class="wrapper">

        <!--* heder -->
        <%- include('./modules/header.ejs') %>

        <!-- main code -->
        <!--= main -->
        <main class="main">

            <!-- шапка -->
            <div class="heder-page heder-page_margin">
                <h1 class="heder-page__title">ЧТО ДЕЛАТЬ, ЕСЛИ УМЕР БЛИЗКИЙ ЧЕЛОВЕК</h1>
                <div class="heder-page__img">
                    <picture>
                        <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                        <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                        <source srcset="img/home/grob.webp" type="image/webp">
                        <img src="img/home/grob.jpg" alt="фото гроба">
                    </picture>
                </div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Смерть близкого человека — это всегда потрясение, эмоциональный шок независимо от того, где и как произошло трагическое событие. Утрата родственника – всегда неожиданность. Никто не может повлиять на эту ситуацию, да и принять ее очень сложно. Иногда в такой ситуации родные находятся в шоковом состоянии и не понимают, что делать. Это нормальная реакция, так как сталкиваемся с такими ситуациями, к счастью, мы не каждый день.</div>
            </div>
            <!-- IMG: -->
            <div class="text-img container">
                <picture>
                    <source srcset="img/__ritual-agent/1-500.webp" type="image/webp" media="(max-width: 750px)">
                    <source srcset="img/__ritual-agent/1-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                    <source srcset="img/__ritual-agent/1.webp" type="image/webp">
                    <img src="img/__ritual-agent/1.jpg" alt="кремация">
                </picture>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Какой план действий, если умер близкий человека?</div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">В первую очередь нужно обратиться к медикам. Для этого требуется вызвать бригаду «Скорой помощи». Они констатируют смерть и выдадут соответствующий документ. Если смерть наступила в больнице или медико-социальном учреждении, то констатация осуществляется местным медперсоналом. До приезда медиков не стоит перемещать усопшего, проводить над ним какие-то действия. Все должно оставаться неизменным. Далее вызывают сотрудников милиции. Они должны осмотреть тело и убедиться в том, что причина смерти естественная. Может быть назначена судмедэкспертиза, но это в случае, если возникают подозрения в насильственной гибели. Иногда сотрудники «Скорой помощи» самостоятельно вызывают милицию — все зависит от каждой конкретной ситуации.</div>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Справка о смерти</div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Выдается она терапевтом или в морге. Также этот документ можно запросить у участкового. Он подскажет, как и куда дальше можно обращаться, как доставить тело в морг для определения причины смерти и т.п. Вскрытие в морге происходит в течение нескольких дней. После этой процедуры сообщают о причине смерти. Хранение тела усопшего в морге бесплатно только 3 дня. В морг потребуется привести одежду для покойника, мыло, полотенце. Все остальные работы по подготовке умершего к захоронению за дополнительную плату – бальзамирование и т.п.</div>
            </div>
            <!-- IMG: -->
            <div class="text-img container">
                <picture>
                    <source srcset="img/__burial-allowance/2-500.webp" type="image/webp" media="(max-width: 750px)">
                    <source srcset="img/__burial-allowance/2-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                    <source srcset="img/__burial-allowance/2.webp" type="image/webp">
                    <img src="img/__burial-allowance/2.jpg" alt="кремация">
                </picture>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Чего не стоит делать, если умер родственник?</div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Есть ряд ошибок, которые могут привести к проблемам, поэтому в случае смерти близкого человека ни в коем случае не стоит делать следующее:</div>
            </div>
            <!-- UL-LI: -->
            <div class="text-page container">
                <div class="text-page_margin">
                    <ul class="text__list">
                        <li class="text__line">Доверять сторонним лицам организацию похорон по очень низким ценам. Эти обещания лишь приманка. Чаще всего такие «организаторы» постфактум озвучивают стоимость в 2-3 раза больше.</li>
                        <li class="text__line">Вести общение по телефону с социальными работниками, страховыми агентами. Они легко входят в доверие, а потом просто оставляют вас без денег.</li>
                        <li class="text__line">Доверять сотрудникам «Скорой помощи», милиции, не проверив документы. Они должны предъявить удостоверение. Если это не происходит, не стоит с ними вести никакие разговоры.</li>
                        <li class="text__line">Передавать документы сторонним лицам. Это касается, как ваших документов, так и покойного. Рекомендуется любые документальные вопросы решать только с надежными компаниями, представительствами с заключением официального договора.</li>      
                    </ul>
                </div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Наша компания занимается подготовкой и организацией похорон уже много лет. Мы имеем отличную репутацию, осуществляем помощь родным, как в подготовке к процедуре захоронения, так оказываем психологическую поддержку. Стоимость на услуги у нас невысокая. Мы организовываем прощание с усопшим в рамках суммы пособия, которое выделяется государством на похороны. Наши сотрудники делают все, чтобы вам было легче переживать утрату.</div>
            </div>
            <!-- блок с телефонами -->
            <div class="tel-contacts">
                <div class="tel-contacts__a1">
                <div class="tel-contacts__a1-img">
                    <picture class="tel-contacts__picture">
                        <source srcset="img/__ritual-agent/4.webp" type="image/webp">
                        <img src="img/__ritual-agent/4.jpg" alt="alt">
                    </picture>
                </div>
                <a href="tel:+375447695139" class="tel-contacts__a1-tel">+375 (44) 769 51 39</a>
                </div>
                <div class="tel-contacts__mts">
                <div class="tel-contacts__mts-img">
                    <picture class="tel-contacts__picture">
                        <source srcset="img/__ritual-agent/5.webp" type="image/webp">
                        <img src="img/__ritual-agent/5.jpg" alt="alt">
                    </picture>
                </div>
                <a href="tel:+375295057052" class="tel-contacts__mts-tel">+375 (29) 505 70 52</a>
                </div>
                <div class="tel-contacts__clock">круглосуточно</div>
            </div>

        <!-- конец блок магазина -->
        </main>

        <!--* footer -->
        <%- include('./modules/footer.ejs') %>

</body>
</html>