<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Здесь мы собрали всю самую важную и необходимую информацию, которая поможет все сделать правильно при захоронении своего близкого человека.">
    <link rel="icon" type="image/png" href="img/home/favicon.png">
    <link rel="stylesheet" href="css/style.css?v=2.6">
    <title>Важная и полезная информация, рекомендации при смерти человека</title>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(88857516, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/88857516" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TQPKWTP');</script>
<!-- End Google Tag Manager -->
</head>
<body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQPKWTP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">

        <!--= heder -->
        <header class="header">
            <div class="header__up">
                <div class="header__logo">
                    <img class="header__logo-img" src="img/home/logo-new.png" alt="логотип сайта похороны в минске">
                </div>
                <h1 class="header__title"><span>Ритуальные услуги в Минске</span></h1>
                <a href="tel:+375447695139" class="header__tel">тел.+375 44 769 51 39</a>
            </div>
            <div class="header__down">
                <div class="header__burger">
                    <div class="header__button">
                        <span></span>
                    </div>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__line">
                            <a href="index.html" class="header__link">главная</a>
                        </li>                      
                        <li class="header__line">
                            <a href="#" class="header__link  _sub">услуги</a>
                            <ul class="header__list-sub">
                                <li class="header__line-sub">
                                    <a href="burial.html" class="header__link-sub">Захоронение</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="cremation.html" class="header__link-sub">Кремация</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="ritual-agent.html" class="header__link-sub">Ритуальный агент</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="copter-graves.html" class="header__link-sub">Копка могилы</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="rent-catatal.html" class="header__link-sub">Аренда катафалка</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="loaders.html" class="header__link-sub">Носильщик гроба</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="cargo-200.html" class="header__link-sub">Груз 200</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="production-of-monuments.html" class="header__link-sub">Помощь в изготовлении памятников</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__line">
                            <a href="#" class="header__link  _sub">товары</a>
                            <ul class="header__list-sub">
                                <li class="header__line-sub">
                                    <a href="shop-coffins.html" class="header__link-sub">Гробы</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-wreaths.html" class="header__link-sub">Венки ритуальные</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-baskets.html" class="header__link-sub">Корзины ритуальные</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-crosses.html" class="header__link-sub">Кресты</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-clothes.html" class="header__link-sub">Одежда</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-payment.html" class="header__link-sub">Доставка и оплата</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__line">
                            <a href="information.html" class="header__link">важная информация</a>
                        </li>
                        <li class="header__line">
                            <a href="morgues-in-minsk.html" class="header__link">морги в минске</a>
                        </li>
                        <li class="header__line">
                            <a href="reviews.html" class="header__link">отзывы</a>
                        </li>
                        <li class="header__line">
                            <a href="contacts.html" class="header__link">контакты</a>
                        </li>
                    </ul> 
                </nav>
            </div>
        </header>

        <!--= main -->
        <main class="main">

            <!-- шапка -->
            <div class="heder-page heder-page_margin">
                <h1 class="heder-page__title">Важная информация</h1>
                <div class="heder-page__img">
                    <picture>
                        <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                        <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                        <source srcset="img/home/grob.webp" type="image/webp">
                        <img src="img/home/grob.jpg" alt="фото гроба">
                    </picture>
                </div>
            </div>

            <div class="info container_1240">
                <!-- блок для инфо -->
                <a class="info__box" href="place-cemetery.html">
                    <div class="info__img">
                        <picture >
                            <source srcset="img/__information/1.webp" type="image/webp">
                            <img src="img/__information/1.jpg" alt="my_alt">
                        </picture>
                    </div>
                    <div class="info__title">Место на кладбище</div>
                </a>
                <!-- блок для инфо -->
                <a class="info__box" href="COLUMBARIA.html">
                    <div class="info__img">
                        <picture >
                            <source srcset="img/__information/2.webp" type="image/webp">
                            <img src="img/__information/2.jpg" alt="my_alt">
                        </picture>
                    </div>
                    <div class="info__title">КОЛУМБАРИИ</div>
                </a>
                <!-- блок для инфо -->
                <a class="info__box" href="crematorium-minsk.html">
                    <div class="info__img">
                        <picture >
                            <source srcset="img/__information/3.webp" type="image/webp">
                            <img src="img/__information/3.jpg" alt="my_alt">
                        </picture>
                    </div>
                    <div class="info__title">КРЕМАТОРИЙ В МИНСКЕ</div>
                </a>
                <!-- блок для инфо -->
                <a class="info__box" href="cemetery-minsk.html">
                    <div class="info__img">
                        <picture >
                            <source srcset="img/__information/4.webp" type="image/webp">
                            <img src="img/__information/4.jpg" alt="my_alt">
                        </picture>
                    </div>
                    <div class="info__title">КЛАДБИЩА МИНСКА</div>
                </a>
                <!-- блок для инфо -->
                <a class="info__box" href="burial-allowance.html">
                    <div class="info__img">
                        <picture >
                            <source srcset="img/__information/5.webp" type="image/webp">
                            <img src="img/__information/5.jpg" alt="my_alt">
                        </picture>
                    </div>
                    <div class="info__title">пособие на погребение</div>
                </a>
                <!-- блок для инфо -->
                <a class="info__box" href="if-died.html">
                    <div class="info__img">
                        <picture >
                            <source srcset="img/__information/6.webp" type="image/webp">
                            <img src="img/__information/6.jpg" alt="my_alt">
                        </picture>
                    </div>
                    <div class="info__title">ЧТО ДЕЛАТЬ, ЕСЛИ УМЕР БЛИЗКИЙ ЧЕЛОВЕК</div>
                </a>

        <!-- конец блок магазина -->
        </main>

        <!--= footer -->
        <footer class="footer">
            <div class="footer__item-img">
                <picture>
                    <source srcset="img/footer/Logo-1.webp" type="image/webp">
                    <img loading="lazy" class="footer__img" src="img/footer/Logo-1.jpg"  alt="логотип похороны в минске" width="298" height="100">
                </picture>
            </div>
            <div class="footer__item">
                <div class="footer__title">адрес</div>
                <div class="footer__text">г.Минск</div>
                <div class="footer__text">пр-т Партизанский 5</div>
            </div>
            <div class="footer__item">
                <div class="footer__title">телефоны</div>
                <a class="footer__text" href="tel:+375447695139">+375447695139</a>
                <a class="footer__text" href="tel:+375295057052">+375295057052</a>
            </div>
            <div class="footer__item">
                <div class="footer__title">часы работы</div>
                <div class="footer__text">24 часа</div>
                <div class="footer__text">круглосуточно</div>
            </div>
        </footer>

    <!-- end wrapper -->
    </div>

    <script src="dist/bundle.js?v=2.6"></script>
</body>
</html>