<!doctype html>
<html lang="ru">

<!--* head -->
<%- include('./modules/head.ejs') %>

<body>

    <!--* google-tag-noscript -->
    <%- include('./modules/google-tag-noscript.ejs') %>

    <div class="wrapper">

        <!--* heder -->
        <%- include('./modules/header.ejs') %>

        <!-- main code -->
        <!--= main -->
        <main class="main">

            <!-- шапка -->
            <div class="heder-page heder-page_margin">
                <h1 class="heder-page__title">Важная информация</h1>
                <div class="heder-page__img">
                    <picture>
                        <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                        <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                        <source srcset="img/home/grob.webp" type="image/webp">
                        <img src="img/home/grob.jpg" alt="фото гроба">
                    </picture>
                </div>
            </div>

            <div class="info container_1240">
                <!-- блок для инфо -->
                <a class="info__box" href="place-cemetery">
                    <div class="info__img">
                        <picture >
                            <source srcset="img/__information/1.webp" type="image/webp">
                            <img src="img/__information/1.jpg" alt="my_alt">
                        </picture>
                    </div>
                    <div class="info__title">Место на кладбище</div>
                </a>
                <!-- блок для инфо -->
                <a class="info__box" href="columbaria">
                    <div class="info__img">
                        <picture >
                            <source srcset="img/__information/2.webp" type="image/webp">
                            <img src="img/__information/2.jpg" alt="my_alt">
                        </picture>
                    </div>
                    <div class="info__title">КОЛУМБАРИИ</div>
                </a>
                <!-- блок для инфо -->
                <a class="info__box" href="crematorium-minsk">
                    <div class="info__img">
                        <picture >
                            <source srcset="img/__information/3.webp" type="image/webp">
                            <img src="img/__information/3.jpg" alt="my_alt">
                        </picture>
                    </div>
                    <div class="info__title">КРЕМАТОРИЙ В МИНСКЕ</div>
                </a>
                <!-- блок для инфо -->
                <a class="info__box" href="cemetery-minsk">
                    <div class="info__img">
                        <picture >
                            <source srcset="img/__information/4.webp" type="image/webp">
                            <img src="img/__information/4.jpg" alt="my_alt">
                        </picture>
                    </div>
                    <div class="info__title">КЛАДБИЩА МИНСКА</div>
                </a>
                <!-- блок для инфо -->
                <a class="info__box" href="burial-allowance">
                    <div class="info__img">
                        <picture >
                            <source srcset="img/__information/5.webp" type="image/webp">
                            <img src="img/__information/5.jpg" alt="my_alt">
                        </picture>
                    </div>
                    <div class="info__title">пособие на погребение</div>
                </a>
                <!-- блок для инфо -->
                <a class="info__box" href="if-died">
                    <div class="info__img">
                        <picture >
                            <source srcset="img/__information/6.webp" type="image/webp">
                            <img src="img/__information/6.jpg" alt="my_alt">
                        </picture>
                    </div>
                    <div class="info__title">ЧТО ДЕЛАТЬ, ЕСЛИ УМЕР БЛИЗКИЙ ЧЕЛОВЕК</div>
                </a>

        <!-- конец блок магазина -->
        </main>

        <!--* footer -->
        <%- include('./modules/footer.ejs') %>

</body>
</html>