<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="☑️ По какому адресу находятся морги в Минске, какой у них график работы и телефоны. Проконсультироваться по захоронения можно у нас.">
    <link rel="icon" type="image/png" href="img/home/favicon.png">
    <link rel="stylesheet" href="css/style.css?v=2.6">
    <title>Морги в Минске телефоны, адреса, время работы</title>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(88857516, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/88857516" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TQPKWTP');</script>
<!-- End Google Tag Manager -->
</head>
<body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQPKWTP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">

        <!--= heder -->
        <header class="header">
            <div class="header__up">
                <div class="header__logo">
                    <img class="header__logo-img" src="img/home/logo-new.png" alt="логотип сайта похороны в минске">
                </div>
                <h1 class="header__title"><span>Ритуальные услуги в Минске</span></h1>
                <a href="tel:+375447695139" class="header__tel">тел.+375 44 769 51 39</a>
            </div>
            <div class="header__down">
                <div class="header__burger">
                    <div class="header__button">
                        <span></span>
                    </div>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__line">
                            <a href="index.html" class="header__link">главная</a>
                        </li>                      
                        <li class="header__line">
                            <a href="#" class="header__link  _sub">услуги</a>
                            <ul class="header__list-sub">
                                <li class="header__line-sub">
                                    <a href="burial.html" class="header__link-sub">Захоронение</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="cremation.html" class="header__link-sub">Кремация</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="ritual-agent.html" class="header__link-sub">Ритуальный агент</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="copter-graves.html" class="header__link-sub">Копка могилы</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="rent-catatal.html" class="header__link-sub">Аренда катафалка</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="loaders.html" class="header__link-sub">Носильщик гроба</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="cargo-200.html" class="header__link-sub">Груз 200</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="production-of-monuments.html" class="header__link-sub">Помощь в изготовлении памятников</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__line">
                            <a href="#" class="header__link  _sub">товары</a>
                            <ul class="header__list-sub">
                                <li class="header__line-sub">
                                    <a href="shop-coffins.html" class="header__link-sub">Гробы</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-wreaths.html" class="header__link-sub">Венки ритуальные</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-baskets.html" class="header__link-sub">Корзины ритуальные</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-crosses.html" class="header__link-sub">Кресты</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-clothes.html" class="header__link-sub">Одежда</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-payment.html" class="header__link-sub">Доставка и оплата</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__line">
                            <a href="information.html" class="header__link">важная информация</a>
                        </li>
                        <li class="header__line">
                            <a href="morgues-in-minsk.html" class="header__link">морги в минске</a>
                        </li>
                        <li class="header__line">
                            <a href="reviews.html" class="header__link">отзывы</a>
                        </li>
                        <li class="header__line">
                            <a href="contacts.html" class="header__link">контакты</a>
                        </li>
                    </ul> 
                </nav>
            </div>
        </header>

        <!--= main -->
        <main class="main">
            <!-- шапка -->
            <div class="heder-page heder-page_margin">
                <h1 class="heder-page__title">МОРГИ В МИНСКЕ​</h1>
                <div class="heder-page__img">
                    <picture>
                        <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                        <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                        <source srcset="img/home/grob.webp" type="image/webp">
                        <img src="img/home/grob.jpg" alt="фото гроба">
                    </picture>
                </div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Еще несколько лет назад покойного родственники хранили дома трое суток. Это было тяжело не только в силу погодных условий, но и морально. Сегодня тела усопших чаще всего хранятся в морге. Это существенно упрощает задачу родным, так как освобождает их от неприятного запаха, возникает который при высокой температуре воздуха. Морги предназначены для временного содержания умерших. Здесь также производится патологоанатомическое вскрытие с целью установления причины смерти. В данном учреждении устанавливается оптимальная температура для сохранности тела, осуществляется подготовка усопшего к захоронению.</div>
            </div>
            <!-- IMG: -->
            <div class="text-img container">
                <picture>
                    <source srcset="img/__morgues-in-minsk/1.webp" type="image/webp" media="(max-width: 750px)">
                    <source srcset="img/__morgues-in-minsk/1-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                    <source srcset="img/__morgues-in-minsk/1.webp" type="image/webp">
                    <img src="img/__morgues-in-minsk/1.jpg" alt="кремация">
                </picture>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Доставляют тело в морг на специальном транспорте. Если происходит это без участия близких, их обязательно оповещают из больницы или другого учреждения.</div>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Список моргов в Минске</div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">В столице Беларуси, как и любом другом большом городе, функционирует много моргов. Каждый из них подчиняется своему ведомству: больницам, клиникам, службе судебной медэкспертизы и т.п. В морги при больницах или в патологоанатомическое бюро попадают умершие естественной смертью. Если человек погиб от насильственных или неправильных лечебных действий, его тело отправляют в службу судебной медэкспертизы. Всего в Минске 4 медико-судебных морга, 3 патологоанатомических бюро и 1 морг в составе клинической больницы.</div>
            </div>
            <!-- таблица -->
            <div class="tab">           
                <table class="tab__table">
                    <thead>
                        <tr>
                            <td class="tab__row_1">Название</td>
                            <td class="tab__row_2">Адрес</td>
                            <td class="tab__row_3">Телефон</td>
                            <td class="tab__row_4">График работы</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Морг при Республиканском клиническом медицинском центре Управления делами Президента Республики Беларусь</td>
                            <td>ул. Красноармейская, 10</td>
                            <td>+375 (17) 227 09 31</td>
                            <td>ежедневно с 8.00 до 22.00</td>
                        </tr>
                        <tr>
                            <td>Городское клиническое патологоанатомическое бюро</td>
                            <td>ул. Семашко 8, корп. 8</td>
                            <td>+375 (17) 270 34 79<br>+375 (17) 277-14-73</td>
                            <td>в понедельник – пятницу в 8.30 до 16.45, перерыв с 12 до 12.30, суббота и воскресенье выходные дни.</td>
                        </tr>
                        <tr>
                            <td>Детское отделение городского клинического патологоанатомического бюро</td>
                            <td>ул. Кижеватова, 60</td>
                            <td>+375 (17) 278 31 16</td>
                            <td>в понедельник – пятницу с 8.30 до 17.00, в субботу с 8.30 до 14.30,воскресенье выходной</td>
                        </tr>
                        <tr>
                            <td>Минское областное патологоанатомическое бюро (МОПАБ)</td>
                            <td>Минский р-н, а/г Лесной</td>
                            <td>+375 (17) 265 22 47<br>+375 (17) 515-35-82</td>
                            <td>в понедельник – пятницу с 8.00 до 17.00, обеденный перерыв с 13.00 до 14.00, суббота и воскресенье выходные</td>
                        </tr>
                        <tr>
                            <td>Морг Минского городского клинического онкологического диспансера</td>
                            <td>просп. Независимости, 64/7</td>
                            <td>+375 (17) 292 46 71</td>
                            <td>в понедельник – пятницу с 7.00 до 20.00, в субботу с 9.00 до 15.00, в воскресенье выходной</td>
                        </tr>
                        <tr>
                            <td>Морг Республиканского научно-практического центра онкологии и медицинской радиологии</td>
                            <td>агрогородок Лесной</td>
                            <td>+375 (17) 265 23 01</td>
                            <td>в понедельник – пятницу с 8.00 до 20.00, суббота и воскресенье выходные дни</td>
                        </tr>
                        <tr>
                            <td>Морг отделения № 1 Государственной службы медицинских судебных экспертиз</td>
                            <td>ул. Уборевича, 73</td>
                            <td>+375 (17) 380 07 80</td>
                            <td>в понедельник – пятницу с 8.00 до 18.00, обеденный перерыв с 13.00 до 13.30, суббота и воскресенье выходные</td>
                        </tr>
                        <tr>
                            <td>Морг отделения № 2 Государственной службы медицинских судебных экспертиз</td>
                            <td>ул. Кижеватова, 58 Е</td>
                            <td>+375 (17) 212-93-11<br>+375 (17) 212-94-11</td>
                            <td>в понедельник – пятницу с 8.00 до 18.00, обеденный перерыв с 13.00 до 13.30, суббота и воскресенье выходные</td>
                        </tr>
                        <tr>
                            <td>Морг отделения № 3 Государственной службы медицинских судебных экспертиз</td>
                            <td>Долгиновский тракт, 160 А</td>
                            <td>+375 (17) 373-33-41<br>+375 (17) 272-73-42</td>
                            <td>в понедельник – пятницу с 8.00 до 18.00, обеденный перерыв с 13.00 до 13.30, суббота и воскресенье выходные</td>
                        </tr>
                        <tr>
                            <td>Морг отделения № 4 Государственной службы медицинских судебных экспертиз</td>
                            <td>ул. Якубовского, 53</td>
                            <td>+375 (17) 380 28 48<br>+375 (17) 365 57 85</td>
                            <td>в понедельник – пятницу с 8.00 до 18.00, обеденный перерыв с 13.00 до 13.30, суббота и воскресенье выходные</td>
                        </tr>
                    </tbody>
                </table>           
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Какие услуги предоставляют морги</div>
            </div>
            <!-- UL-LI: -->
            <div class="text-page container">
                <div class="text-page_margin">
                    <ul class="text__list">
                        <li class="text__line">Хранение тела;</li>
                        <li class="text__line">Выдача справки для гербового документа;</li>
                        <li class="text__line">Выдача врачебного свидетельства о смерти для получения пособия на погребение;</li>
                        <li class="text__line">Подготовка покойника к захоронению.</li>          
                    </ul>
                </div>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Как попадает тело в морг</div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Для транспортировки предоставляется специальный автомобиль. В Минске есть несколько таких транспортных средств, принадлежат которые «Скорой помощи» и предприятиям, оказывающим ритуальные услуги. Обязательно перед отправкой тела в морг осуществляется его осмотр медиками и представителями органов внутренних дел. Если зафиксированы следы насилия, то тело отправляется в ведомственное учреждение. При естественной смерти тело доставляется в морг.</div>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Cписок вещей, которые необходимо привезти в морг:</div>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin" style="color: rgb(116, 116, 116);">Для женщины:</div>
            </div>
            <!-- UL-LI: -->
            <div class="text-page container">
                <div class="text-page_margin">
                    <ul class="text__list">
                        <li class="text__line">Платок на голову;</li>
                        <li class="text__line">Рубашка (нательная);</li>
                        <li class="text__line">Платье (с длинным рукавом) или костюм;</li>
                        <li class="text__line">Чулки;</li>  
                        <li class="text__line">Панталоны;</li>  
                        <li class="text__line">Носовой платок;</li>  
                        <li class="text__line">Обувь.</li>         
                    </ul>
                </div>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin" style="color: rgb(116, 116, 116);">Для мужчины:</div>
            </div>
            <!-- UL-LI: -->
            <div class="text-page container">
                <div class="text-page_margin">
                    <ul class="text__list">
                        <li class="text__line">Нижнее белье (трусы и майка);</li>
                        <li class="text__line">Носки;</li>
                        <li class="text__line">Костюм (брюки и пиджак);</li>
                        <li class="text__line">Носовой платок;</li>  
                        <li class="text__line">Рубашка;</li>  
                        <li class="text__line">Обувь;</li>  
                        <li class="text__line">Галстук (по желанию);</li>
                        <li class="text__line">Головной убор (по желанию).</li>      
                    </ul>
                </div>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Сколько стоят услуги морга в Минске?</div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Все зависит от спектра услуг. Это может быть облачение, бальзамирование, косметические и другие процедуры. Получить точную информацию можно непосредственно у специалистов морга или ритуальных агентов. Кроме того, нужно знать, что в течение 7-ми суток тело может находится в морге бесплатно, а дальше – начисляется оплата по прейскуранту. Тела, которые в течение 45 суток не забирают из морга хоронят государственные службы или передают для исследовательских работ. Проконсультироваться по вопросам захоронения усопшего, правилам, особенностям погребения можно и у наших специалистов.</div>
            </div>
            <!-- блок с телефонами -->
            <div class="tel-contacts">
                <div class="tel-contacts__a1">
                <div class="tel-contacts__a1-img">
                    <picture class="tel-contacts__picture">
                        <source srcset="img/__ritual-agent/4.webp" type="image/webp">
                        <img src="img/__ritual-agent/4.jpg" alt="alt">
                    </picture>
                </div>
                <a href="tel:+375447695139" class="tel-contacts__a1-tel">+375 (44) 769 51 39</a>
                </div>
                <div class="tel-contacts__mts">
                <div class="tel-contacts__mts-img">
                    <picture class="tel-contacts__picture">
                        <source srcset="img/__ritual-agent/5.webp" type="image/webp">
                        <img src="img/__ritual-agent/5.jpg" alt="alt">
                    </picture>
                </div>
                <a href="tel:+375295057052" class="tel-contacts__mts-tel">+375 (29) 505 70 52</a>
                </div>
                <div class="tel-contacts__clock">круглосуточно</div>
            </div>
        </main>

        <!--= footer -->
        <footer class="footer">
            <div class="footer__item-img">
                <picture>
                    <source srcset="img/footer/Logo-1.webp" type="image/webp">
                    <img loading="lazy" class="footer__img" src="img/footer/Logo-1.jpg"  alt="логотип похороны в минске" width="298" height="100">
                </picture>
            </div>
            <div class="footer__item">
                <div class="footer__title">адрес</div>
                <div class="footer__text">г.Минск</div>
                <div class="footer__text">пр-т Партизанский 5</div>
            </div>
            <div class="footer__item">
                <div class="footer__title">телефоны</div>
                <a class="footer__text" href="tel:+375447695139">+375447695139</a>
                <a class="footer__text" href="tel:+375295057052">+375295057052</a>
            </div>
            <div class="footer__item">
                <div class="footer__title">часы работы</div>
                <div class="footer__text">24 часа</div>
                <div class="footer__text">круглосуточно</div>
            </div>
        </footer>
        <!-- end wrapper -->
    </div>

<script src="dist/bundle.js?v=2.6"></script>
</body>
</html>