<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="По вопросам получения свободного места на кладбище, а также организации похорон, вы можете обратиться в нашу компанию.">
    <link rel="icon" type="image/png" href="img/home/favicon.png">
    <link rel="stylesheet" href="css/style.css?v=2.6">
    <title>Место на кладбище в Минске - как получить, как оформить место</title>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(88857516, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/88857516" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TQPKWTP');</script>
<!-- End Google Tag Manager -->
</head>
<body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQPKWTP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">

        <!--= heder -->
        <header class="header">
            <div class="header__up">
                <div class="header__logo">
                    <img class="header__logo-img" src="img/home/logo-new.png" alt="логотип сайта похороны в минске">
                </div>
                <h1 class="header__title"><span>Ритуальные услуги в Минске</span></h1>
                <a href="tel:+375447695139" class="header__tel">тел.+375 44 769 51 39</a>
            </div>
            <div class="header__down">
                <div class="header__burger">
                    <div class="header__button">
                        <span></span>
                    </div>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__line">
                            <a href="index.html" class="header__link">главная</a>
                        </li>                      
                        <li class="header__line">
                            <a href="#" class="header__link  _sub">услуги</a>
                            <ul class="header__list-sub">
                                <li class="header__line-sub">
                                    <a href="burial.html" class="header__link-sub">Захоронение</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="cremation.html" class="header__link-sub">Кремация</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="ritual-agent.html" class="header__link-sub">Ритуальный агент</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="copter-graves.html" class="header__link-sub">Копка могилы</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="rent-catatal.html" class="header__link-sub">Аренда катафалка</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="loaders.html" class="header__link-sub">Носильщик гроба</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="cargo-200.html" class="header__link-sub">Груз 200</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="production-of-monuments.html" class="header__link-sub">Помощь в изготовлении памятников</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__line">
                            <a href="#" class="header__link  _sub">товары</a>
                            <ul class="header__list-sub">
                                <li class="header__line-sub">
                                    <a href="shop-coffins.html" class="header__link-sub">Гробы</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-wreaths.html" class="header__link-sub">Венки ритуальные</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-baskets.html" class="header__link-sub">Корзины ритуальные</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-crosses.html" class="header__link-sub">Кресты</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-clothes.html" class="header__link-sub">Одежда</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-payment.html" class="header__link-sub">Доставка и оплата</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__line">
                            <a href="information.html" class="header__link">важная информация</a>
                        </li>
                        <li class="header__line">
                            <a href="morgues-in-minsk.html" class="header__link">морги в минске</a>
                        </li>
                        <li class="header__line">
                            <a href="reviews.html" class="header__link">отзывы</a>
                        </li>
                        <li class="header__line">
                            <a href="contacts.html" class="header__link">контакты</a>
                        </li>
                    </ul> 
                </nav>
            </div>
        </header>

        <!--= main -->
        <main class="main">

            <!-- шапка -->
            <div class="heder-page heder-page_margin">
                <h1 class="heder-page__title">МЕСТО НА КЛАДБИЩЕ</h1>
                <div class="heder-page__img">
                    <picture>
                        <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                        <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                        <source srcset="img/home/grob.webp" type="image/webp">
                        <img src="img/home/grob.jpg" alt="фото гроба">
                    </picture>
                </div>
            </div>

        <div class="block">
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">
                    <p>Организация похорон — дело довольно ответственное и сложное. Есть ряд вопросов и нюансов, которые обязательно нужно учесть, соблюсти все ритуалы и просто сделать погребение красивым. Кроме того, нужно позаботиться о получении места на кладбище.</p>
                    <p>В Беларуси каждому усопшему положено бесплатное место на кладбище. Также бесплатно выделяются места на уже задействованных участках при родственном подзахоронении. Если же есть нужда в дополнительных площадях рядом с захоронением, то за них придется заплатить. Цену определяет Минский горисполком, поэтому уточнять ее нужно по факту.</p>
                </div>
            </div>

            <!-- IMG: -->
            <div class="text-img container">
                <picture>
                    <source srcset="img/place-cemetery/1-500.webp" type="image/webp" media="(max-width: 750px)">
                    <source srcset="img/place-cemetery/1-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                    <source srcset="img/place-cemetery/1.webp" type="image/webp">
                    <img src="img/place-cemetery/1.jpg" alt="кремация">
                </picture>
            </div>

            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Как получить место на кладбище?</div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Если в других странах приходится делать это заранее, то у нас все значительно проще. Обращаться нужно в исполком и уже на основании решения будет выделено место. Предоставляется оно по факту смерти. Никакого бронирования в нашей стране не существует. Каждый гражданин имеет право получить участок до 1.4 метра шириной. Если же захоронение двойное, то до 2-х метров.</div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">За дополнительные «метры» придется доплачивать. Сумма устанавливается горисполкомом. Также нужно учитывать и тот факт, есть ли возможность предоставить «лишние метры». Случается, что расширение невозможно по причине рядом расположенных объектов и тогда никакие доплаты не помогут решить этот вопрос.</div>
            </div>

            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Что нужно для получения места на кладбище для захоронения?</div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Для получения свободного места требуется предъявить заявление и свидетельство о смерти. Максимальное количество захоронений на 1 участке – 4.</div>
            </div>

            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Стоимость мест на кладбище</div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Свободное место предоставляется бесплатно. Оплачивается лишь дополнительная площадь. Стоимость определяется местным исполкомом. Примерная цена составляет 15 БВ за 1 метр квадратный. Соответственно, это составляет чуть более 1400 рублей для одиночного захоронения, более 2000 – двойного.</div>
            </div>

            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Где купить свободное место на кладбище?</div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Сделать это можно при обращении в исполком или же в компанию ритуальных услуг. Специалисты подробно расскажут, как и где получить бесплатный участок для захоронения. Кроме того, предложат взять на себя все эти непростые процедуры.</div>
            </div>

            <!-- IMG: -->
            <div class="text-img container">
                <picture>
                    <source srcset="img/place-cemetery/2-500.webp" type="image/webp" media="(max-width: 750px)">
                    <source srcset="img/place-cemetery/2-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                    <source srcset="img/place-cemetery/2.webp" type="image/webp">
                    <img src="img/place-cemetery/2.jpg" alt="кремация">
                </picture>
            </div>

            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Услуги по захоронению</div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">
                    <p>По вопросам получения свободного места на кладбище, а также организации похорон по всем традициям и правилам, вы можете обратиться в нашу компанию. Мы оказываем эти услуги не первый год. Имеем достаточно большой опыт в организации разных видов похорон за счет пособия. Это не просто удобно, но и практично, ведь вы заранее можете понимать, сколько вам потребуется денег, какие услуги будут оказаны.</p>
                    <br>
                    <p>Наши сотрудники предложат подходящий для вас пакет сотрудничества с учетом пожеланий и особенностей захоронения.</p>
                    <br>
                    <p>Мы крайне не рекомендуем доверять тем, кто предлагает вам купить свободные места за высокую плату. Помните, что в нашей стране принятие такого решения происходит в исполкоме. Никаких ранних выкупов и других привилегий нет.</p>
                    <br>
                    <p>Уточнить всю актуальную и официальную информацию вы можете в нашей компании в любое время. Работаем мы круглосуточно, поэтому с удовольствием ответим на все ваши вопросы.</p>
                    <br>
                    <p>При заказе захоронения под ключ в нашей компании к вам выедет ритуальный агент. Он выслушает все ваши пожелания, поможет организовать похороны по высшему разряду, даже с небольшим бюджетом. Если вы хотите, чтобы прощание с близким прошло красиво и недорого, то все же рекомендуем обратиться к нам. Мы расскажем, как купить или получить бесплатно место, а также возьмем на себя все организационные вопросы.</p>
                </div>
            </div>












        </div>


        <!-- конец блок магазина -->
        </main>

        <!--= footer -->
        <footer class="footer">
            <div class="footer__item-img">
                <picture>
                    <source srcset="img/footer/Logo-1.webp" type="image/webp">
                    <img loading="lazy" class="footer__img" src="img/footer/Logo-1.jpg"  alt="логотип похороны в минске" width="298" height="100">
                </picture>
            </div>
            <div class="footer__item">
                <div class="footer__title">адрес</div>
                <div class="footer__text">г.Минск</div>
                <div class="footer__text">пр-т Партизанский 5</div>
            </div>
            <div class="footer__item">
                <div class="footer__title">телефоны</div>
                <a class="footer__text" href="tel:+375447695139">+375447695139</a>
                <a class="footer__text" href="tel:+375295057052">+375295057052</a>
            </div>
            <div class="footer__item">
                <div class="footer__title">часы работы</div>
                <div class="footer__text">24 часа</div>
                <div class="footer__text">круглосуточно</div>
            </div>
        </footer>

    <!-- end wrapper -->
    </div>

    <script src="dist/bundle.js?v=2.6"></script>
</body>
</html>