<!doctype html>
<html lang="ru">

<!--* head -->
<%- include('./modules/head.ejs') %>

<body>

    <!--* google-tag-noscript -->
    <%- include('./modules/google-tag-noscript.ejs') %>

    <div class="wrapper">

        <!--* heder -->
        <%- include('./modules/header.ejs') %>

        <!-- main code -->
        <!--= main -->
        <main class="main">
            <!-- шапка -->
                    <div class="heder-page heder-page_margin">
                        <h1 class="heder-page__title">ПОМОЩЬ В ИЗГОТОВЛЕНИИ ПАМЯТНИКОВ</h1>
                        <div class="heder-page__img">
                            <picture>
                                <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                                <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                                <source srcset="img/home/grob.webp" type="image/webp">
                                <img src="img/home/grob.jpg" alt="фото гроба">
                            </picture>
                        </div>
                    </div>

            <!-- текст: Оформить могилу усопшего-->
                    <div class="text-page container">
                        <div class="text-page_margin">Оформить могилу усопшего — не очень простая задача. Надгробие должно отражать характер умершего, соответствовать его полу, статусу, возрасту. Иногда хочется отойти от стандартов и сделать что-то необычное. И это нормально! К счастью, благодаря изготовлению памятников под заказ реализовать все идеи стало значительно проще. Мы не просто продаем монументы, мы поможем воплотить все ваши желания в жизнь. Особое внимание мы уделяем материалу. Используем для надгробий только качественный природный камень. Это может быть гранит, базальт, мрамор, травертин. Все материалы отлично подходят под наши погодные условия. Они не боятся воздействия прямых солнечных лучей, низких температур, высокой влажности. Наши монументы способны простоять более 50 лет, не потеряв своей привлекательности.</div>
                    </div>        
            <!-- title: Какой материал выбрать для изготовления памятника? -->
                    <div class="text-title container">
                        <div class="text-title_margin">Какой материал выбрать для изготовления памятника?</div>
                    </div>
            <!-- текст: Приоритет отдают сегодня изделиям из гранита или мрамора.-->
                    <div class="text-page container">
                        <div class="text-page_margin">Приоритет отдают сегодня изделиям из гранита или мрамора.</div>
                    </div>
            <!-- IMG: -->
                    <div class="text-img container">
                        <picture>
                            <source srcset="img/__production-of-monuments/1-500.webp" type="image/webp" media="(max-width: 750px)">
                            <source srcset="img/__production-of-monuments/1-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                            <source srcset="img/__production-of-monuments/1.webp" type="image/webp">
                            <img src="img/__production-of-monuments/1.jpg" alt="кремация">
                        </picture>
                    </div>
            <!-- title: Гранит обладает рядом достоинств:-->
                    <div class="text-title container">
                        <div class="text-title_margin">Гранит обладает рядом достоинств:</div>
                    </div>
            <!-- текст: У нас можно заказать услуги-->
                    <div class="text-page container">
                        <div class="text-page_margin">У нас можно заказать услуги катафалка для перевозки усопшего на любые расстояния. Все машины у нас оснащены специальным оборудованием, а также местами для сопровождающих. Наши транспортные средства оборудованы исправными кондиционерами, что особенно актуально в летнее время.<br><br>Ритуальные перевозки осуществляются профессиональными и специально обученными водителями. Они знают, как правильно себя вести в таких ситуациях, как заезжать на кладбище, погрузить/выгрузить тело. Наши водители не пристают с расспросами к родственникам, не стараются завязать разговор. Они выполняют качественно и добросовестно свою работу. Делают транспортировку усопшего комфортной, насколько это возможно в данной ситуации.</div>
                    </div>
            <!-- UL-LI: Прочность;-->
                    <div class="text-page container">
                        <div class="text-page_margin">
                            <ul class="text__list">
                                <li class="text__line">Прочность;</li>
                                <li class="text__line">Устойчивость к перепадам температур;</li>
                                <li class="text__line">Твердость;</li>
                                <li class="text__line">Большой выбор расцветок.</li>     
                            </ul>
                        </div>
                    </div>
            <!-- текст: Памятники из гранита под заказ -->
                    <div class="text-page container">
                        <div class="text-page_margin">Памятники из гранита под заказ способны простоять более 40-50 лет. Надгробия из мрамора также не отстают по своим характеристикам. Они обладают изящным видом. Из мрамора может создаваться столешница, изготавливаются различные элементы декора. Очень часто встречаются кресты из белого мрамора на кладбище, статуи. Они выглядят утонченно и обладают удивительной красотой. При создании авторских надгробий могут использоваться разные декоративные элементы:</div>
                    </div>
            <!-- UL-LI: барельефы; -->
                    <div class="text-page container">
                        <div class="text-page_margin">
                            <ul class="text__list">
                                <li class="text__line">барельефы;</li>
                                <li class="text__line">таблички;</li>
                                <li class="text__line">бюсты.</li>           
                            </ul>
                        </div>
                    </div>
            <!-- текст: Важно — создание единой-->
                    <div class="text-page container">
                        <div class="text-page_margin">Важно — создание единой композиции. Все элементы должны гармонировать, иначе даже при больших финансовых затратах место захоронения будет выглядеть нелепо.</div>
                    </div>
            <!-- title: Куда обратиться для изготовления памятника под заказ из гранита или мрамора в Минске?-->
                    <div class="text-title container">
                        <div class="text-title_margin">Куда обратиться для изготовления памятника под заказ из гранита или мрамора в Минске?</div>
                    </div>
            <!-- текст: У нас можно заказать изделия-->
                    <div class="text-page container">
                        <div class="text-page_margin">У нас можно заказать изделия в соответствии с конфессионной принадлежностью. Это могут быть светские или религиозные надгробия. Также купить можно памятник горизонтальный или вертикальный. На одиночные могилы выбирают вертикальные варианты, а для мест захоронения нескольких человек — горизонтальные. Двойные надгробия могут иметь совершенно разный дизайн, который будет соответствовать пожеланиям заказчика. Стоимость же их очень доступная. Кроме того, мы организовываем доставку по Беларуси и монтаж изделий. Цена при этом на наши ритуальные услуги все также остается невысокой. Заказать памятник из гранита или мрамора сможет каждый. Мы учтем все ваши пожелания и требования и выполним свою работу с душой и на совесть.</div>
                    </div>
        </main>

        <!--* footer -->
        <%- include('./modules/footer.ejs') %>

</body>
</html>