<!doctype html>
<html lang="ru">

<!--* head -->
<%- include('./modules/head.ejs') %>

<body>

    <!--* google-tag-noscript -->
    <%- include('./modules/google-tag-noscript.ejs') %>

    <div class="wrapper">

        <!--* heder -->
        <%- include('./modules/header.ejs') %>

        <!-- main code -->
        <!--= main -->
        <main class="main">


            <!-- шапка -->
                    <div class="heder-page heder-page_margin">
                        <h1 class="heder-page__title">АРЕНДА КАТАФАЛКА</h1>
                        <div class="heder-page__img">
                            <picture>
                                <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                                <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                                <source srcset="img/home/grob.webp" type="image/webp">
                                <img src="img/home/grob.jpg" alt="фото гроба">
                            </picture>
                        </div>
                    </div>
            <!-- текст: Организация похорон — довольно сложная-->
                    <div class="text-page container">
                        <div class="text-page_margin">Организация похорон — довольно сложная и специфическая задача, требующая определенных навыков, знаний и умений. Чаще всего родным приходится непросто, так как нужно оставить эмоции и заниматься оформлением всех документов, организацией прощания, поиском катафалка в Минске.<br><br>На это нужно потратить немало времени и сил, а в подавленном состоянии и вовсе этот процесс превращается в серьезное испытание.</div>
                    </div>
            <!-- IMG: катафалк-->
                    <div class="text-img container">
                        <picture>
                            <source srcset="img/__rent-catatal/1-500.webp" type="image/webp" media="(max-width: 750px)">
                            <source srcset="img/__rent-catatal/1-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                            <source srcset="img/__rent-catatal/1.webp" type="image/webp">
                            <img src="img/__rent-catatal/1.jpg" alt="катафалк">
                        </picture>
                    </div>
            <!-- текст: Если вы понимаете, что справиться-->
                    <div class="text-page container">
                        <div class="text-page_margin">Если вы понимаете, что справиться самостоятельно с этим вам не по силам, то можно обратиться в нашу компанию и мы сделаем все в лучшем виде.<br><br>У нас можно заказать услуги катафалка для перевозки усопшего на любые расстояния. Все машины у нас оснащены специальным оборудованием, а также местами для сопровождающих. Наши транспортные средства оборудованы исправными кондиционерами, что особенно актуально в летнее время.<br><br>Ритуальные перевозки осуществляются профессиональными и специально обученными водителями. Они знают, как правильно себя вести в таких ситуациях, как заезжать на кладбище, погрузить/выгрузить тело. Наши водители не пристают с расспросами к родственникам, не стараются завязать разговор. Они выполняют качественно и добросовестно свою работу. Делают транспортировку усопшего комфортной, насколько это возможно в данной ситуации.</div>
                    </div>
            <!-- IMG: катафалк внутри -->
                    <div class="text-img container">
                        <picture>
                            <source srcset="img/__rent-catatal/2-500.webp" type="image/webp" media="(max-width: 750px)">
                            <source srcset="img/__rent-catatal/2-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                            <source srcset="img/__rent-catatal/2.webp" type="image/webp">
                            <img src="img/__rent-catatal/2.jpg" alt="катафалк внутри">
                        </picture>
                    </div>
            <!-- текст: Автопарк же наш представлен многочисленными -->
                    <div class="text-page container">
                        <div class="text-page_margin">Автопарк же наш представлен многочисленными моделями разной комплектации и класса. Благодаря этому выбрать можно катафалк с учетом пожеланий и предпочтений.<br><br>Мы делаем все, чтобы прощание с вашим близким человеком прошло красиво и душевно. Кроме того, мы регулярно проводим дезинфекцию катафалка. Это не только соблюдение санитарных правил, но и забота о людях. В условиях сложной эпидемиологической ситуации это важно вдвойне, поэтому данному вопросу у нас уделяется особое внимание.</div>
                    </div>
            <!-- title: Преимущества аренды катафалка -->
                    <div class="text-title container">
                        <div class="text-title_margin">Преимущества аренды катафалка</div>
                    </div>
            <!-- UL-LI: Заботы о транспортировке усопшего-->
                    <div class="text-page container">
                        <div class="text-page_margin">
                            <ul class="text__list">
                                <li class="text__line">Заботы о транспортировке усопшего берет на себя похоронное бюро;</li>
                                <li class="text__line">Возможность выбора модели, класса транспортного средства, оснащенного всем необходимым для перевозки тела;</li>
                                <li class="text__line">Круглосуточное оказание услуг;</li>
                                <li class="text__line">Транспортировка умерших по всей Беларуси;</li>
                                <li class="text__line">Опытные и специально обученные водители;</li>
                                <li class="text__line">Консультация ритуальных агентов по любым вопросам;</li>
                                <li class="text__line">Доступная цена на услугу.</li>        
                            </ul>
                        </div>
                    </div>
            <!-- текст: Заказать аренду катафалка можно по телефону-->
                    <div class="text-page container">
                        <div class="text-page_margin">Заказать аренду катафалка можно по телефону, что существенно экономит ваше время. Если есть сомнения или сложности с выбором, то на выручку придут наши специалисты. Они подскажут, какой вариант катафалка подойдет для вашего случая. Стоимость услуги доступная для всех. Зависит она от расстояния и времени аренды, поэтому чаще всего рассчитывается индивидуально.<br><br>Заказать машину на похороны у нас можно в любое время суток. Мы работаем без выходных и круглосуточно. Кроме того, у нас вы можете воспользоваться услугой организации похорон под ключ. Мы понимаем ваше горе и без лишней суеты делаем качественно свою работу, предоставляя возможность вам побыть с усопшим последние часы.</div>
                    </div>
            <!-- блок с телефонами -->
                    <div class="tel-contacts">
                        <div class="tel-contacts__a1">
                            <div class="tel-contacts__a1-img">
                                <picture class="tel-contacts__picture">
                                    <source srcset="img/__ritual-agent/4.webp" type="image/webp">
                                    <img src="img/__ritual-agent/4.jpg" alt="alt">
                                </picture>
                            </div>
                            <a href="tel:+375447695139" class="tel-contacts__a1-tel">+375 (44) 769 51 39</a>
                        </div>
                        <div class="tel-contacts__mts">
                            <div class="tel-contacts__mts-img">
                                <picture class="tel-contacts__picture">
                                    <source srcset="img/__ritual-agent/5.webp" type="image/webp">
                                    <img src="img/__ritual-agent/5.jpg" alt="alt">
                                </picture>
                            </div>
                            <a href="tel:+375295057052" class="tel-contacts__mts-tel">+375 (29) 505 70 52</a>
                        </div>
                        <div class="tel-contacts__clock">круглосуточно</div>
                    </div>       
            
            
            
            
        </main>

        <!--* footer -->
        <%- include('./modules/footer.ejs') %>

</body>
</html>

        