<!doctype html>
<html lang="ru">

<!--* head -->
<%- include('./modules/head.ejs') %>

<body>

    <!--* google-tag-noscript -->
    <%- include('./modules/google-tag-noscript.ejs') %>

    <div class="wrapper">

        <!--* heder -->
        <%- include('./modules/header.ejs') %>

        <!-- main code -->
        <!--= main -->
        <main class="main">
            <!-- шапка -->
            <div class="heder-page heder-page_margin">
                <h1 class="heder-page__title">Отзывы</h1>
                <div class="heder-page__img">
                    <picture>
                        <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                        <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                        <source srcset="img/home/grob.webp" type="image/webp">
                        <img src="img/home/grob.jpg" alt="фото гроба">
                    </picture>
                </div>
            </div>
            <!-- отзыв -->
            <div class="reviews">
                <div class="reviews__box">
                    <div class="reviews__quotes">
                        <img src="img/quotes.svg" alt="ковычки">
                    </div>
                    <div class="reviews__text">Большое спасибо за хорошую работу в трудную для семьи минуту. Профессиональная команда, два раза помогали в трудную минуту, решая все вопросы вокруг похорон родных. Отзывчивые, добрые люди, которые снимают все вопросы ритуальных услуг.</div>
                    <div class="reviews__name">от Максим 08.04.2018</div>
                    <div class="reviews__stars">
                        <img src="img/stars.png" alt="звезды">
                    </div>
                </div>
            </div>
            <!-- отзыв -->
            <div class="reviews">
                <div class="reviews__box">
                    <div class="reviews__quotes">
                        <img src="img/quotes.svg" alt="ковычки">
                    </div>
                    <div class="reviews__text">Спасибо Станислав. Всей семье хотим выразить благодарность ребятам из команды Станислава за оказанные услуги в захоронение родного нам человека, все было подготовлено четко и быстро, по умеренным ценам в эти тяжелые для нас дни. Так же хотим поблагодорить ребят из бригады копщиков. СПАСИБО ВАМ ВСЕМ БОЛЬШОЕ!</div>
                    <div class="reviews__name">от Олег 21.03.2018</div>
                    <div class="reviews__stars">
                        <img src="img/stars.png" alt="звезды">
                    </div>
                </div>
            </div>
            <!-- отзыв -->
            <div class="reviews">
                <div class="reviews__box">
                    <div class="reviews__quotes">
                        <img src="img/quotes.svg" alt="ковычки">
                    </div>
                    <div class="reviews__text">Искренняя благодарность Станиславу Шусталику за четкую, корректную, прекрасно организованную помощь в похоронах сестры и доброе отношение. Обязательный и порядочный человек!</div>
                    <div class="reviews__name">от Татьяна Ивановна 06.12.2017</div>
                    <div class="reviews__stars">
                        <img src="img/stars.png" alt="звезды">
                    </div>
                </div>
            </div>
            <!-- отзыв -->
            <div class="reviews">
                <div class="reviews__box">
                    <div class="reviews__quotes">
                        <img src="img/quotes.svg" alt="ковычки">
                    </div>
                    <div class="reviews__text">Благодарю за организацию похорон Если вы хотите, чтобы в скорбный час вам помог очень деликатный, спокойный, готовый терпеть и исполнить любые ваши требования и пожелания человек, приглашайте Станислава. Без суеты все будет сделано, как вы захотите и как надо. Спасибо, Станислав.</div>
                    <div class="reviews__name">от Лариса Алексеевна 06.12.2017</div>
                    <div class="reviews__stars">
                        <img src="img/stars.png" alt="звезды">
                    </div>
                </div>
            </div>
            <!-- отзыв -->
            <div class="reviews">
                <div class="reviews__box">
                    <div class="reviews__quotes">
                        <img src="img/quotes.svg" alt="ковычки">
                    </div>
                    <div class="reviews__text">Большое спасибо Станиславу за помощь в тяжелое для моей семьи время, в организации похорон. Оперативность, предельная четкость в работе, вежливость, компетентность, честность делают эту помощь очень ценной и незаменимой. Еще раз огромное спасибо.</div>
                    <div class="reviews__name">от Майя 03.12.2017</div>
                    <div class="reviews__stars">
                        <img src="img/stars.png" alt="звезды">
                    </div>
                </div>
            </div>
            <!-- отзыв -->
            <div class="reviews">
                <div class="reviews__box">
                    <div class="reviews__quotes">
                        <img src="img/quotes.svg" alt="ковычки">
                    </div>
                    <div class="reviews__text">Помощь, интеллигентность и профессионализм, уважительное отношение и отличная работа. Так я могу характеризовать Станислава. Очень признателен Станиславу за помощь в похоронах папы - и в подготовке, и в организации в крематории. И огромное спасибо за его работу.</div>
                    <div class="reviews__name">от Александр 12.10.2017</div>
                    <div class="reviews__stars">
                        <img src="img/stars.png" alt="звезды">
                    </div>
                </div>
            </div>
            <!-- отзыв -->
            <div class="reviews">
                <div class="reviews__box">
                    <div class="reviews__quotes">
                        <img src="img/quotes.svg" alt="ковычки">
                    </div>
                    <div class="reviews__text">Благодарим от имени нашей семьи за достойно, четко и с уважением оказанную помощь в огрганизации похорон моего папы. Станислав с большим вниманием и чуткостью относится к своему делу. Выражаем огромную благодарность.</div>
                    <div class="reviews__name">от Татьяна 27.09.2017</div>
                    <div class="reviews__stars">
                        <img src="img/stars.png" alt="звезды">
                    </div>
                </div>
            </div>
            <!-- отзыв -->
            <div class="reviews">
                <div class="reviews__box">
                    <div class="reviews__quotes">
                        <img src="img/quotes.svg" alt="ковычки">
                    </div>
                    <div class="reviews__text">От всей души благодарю Станислава за хорошую организацию похорон моего отца. В этот сложный для нас день все формальные вопросы оперативно решил Станислав и по очень хорошей цене. Советы и рекомендации Станислава были ценны потому что у меня опыта похорон не было. Теперь Ваше агентство буду рекомендовать всем знакомым.</div>
                    <div class="reviews__name">от Ирина 26.08.2017</div>
                    <div class="reviews__stars">
                        <img src="img/stars.png" alt="звезды">
                    </div>
                </div>
            </div>
            <!-- отзыв -->
            <div class="reviews">
                <div class="reviews__box">
                    <div class="reviews__quotes">
                        <img src="img/quotes.svg" alt="ковычки">
                    </div>
                    <div class="reviews__text">Я бесконечно признательна Станиславу за помощь в организации похорон моей бабушки. Он помог советом, поделился нужной информацией, сделал все необходимое быстро, очень аккуратно и деликатно. Все его сотрудники сработали четко, спокойно, без суеты и накладок. Всё это помогло нам собраться и достойно отдать дань памяти моей бабушке. Для нас это было очень важно. Большое спасибо.</div>
                    <div class="reviews__name">от Цыгалко Алла 05.08.2017</div>
                    <div class="reviews__stars">
                        <img src="img/stars.png" alt="звезды">
                    </div>
                </div>
            </div>
            <!-- отзыв -->
            <div class="reviews">
                <div class="reviews__box">
                    <div class="reviews__quotes">
                        <img src="img/quotes.svg" alt="ковычки">
                    </div>
                    <div class="reviews__text">Выражаю огромную благодарность Станиславу и его команде за помощь в организации похорон нашей бабушки, мамы. Все услуги оказаны на высоком профессиональном уровне, качественно и быстро. Огромное спасибо за выше человеческое и чуткое отношение к тем, кто потерял своего родного человека.</div>
                    <div class="reviews__name">от Тамары 21.07.2017</div>
                    <div class="reviews__stars">
                        <img src="img/stars.png" alt="звезды">
                    </div>
                </div>
            </div>
            <!-- отзыв -->
            <div class="reviews">
                <div class="reviews__box">
                    <div class="reviews__quotes">
                        <img src="img/quotes.svg" alt="ковычки">
                    </div>
                    <div class="reviews__text">От семьи Жуковых - Старовойтовых выражаем Вам огромную благодарность за помощи в организации похорон нашей бабушки и мамы! У вас очень опытные и чуткие специалисты! Все было сделано быстро, качественно и добросовестно. Спасибо вам большое.</div>
                    <div class="reviews__name">от Татьяна 25.01.2017</div>
                    <div class="reviews__stars">
                        <img src="img/stars.png" alt="звезды">
                    </div>
                </div>
            </div>
            <!-- отзыв -->
            <div class="reviews">
                <div class="reviews__box">
                    <div class="reviews__quotes">
                        <img src="img/quotes.svg" alt="ковычки">
                    </div>
                    <div class="reviews__text">Могу сказать о компании только хорошее-в тяжелый час, когда нет опыта в организации похорон и состояние и моральное и физическое ужасно, Станислав избавил от всех бюрократических сложностей, организовал похороны, учтя все пожелания, проявил не только высочайший профессионализм, но и чисто человеческое понимание и сочувствие. Тактично и ненавязчиво помог сориентироваться в предлагаемых услугах, ответил на все вопросы и разъяснил все, что было необходимо знать. Никаких накладок, задержек, недоразумений. Хотелось бы отметить доступность цен-для очень многих это немаловажно. На основании личного опыта могу рекомендовать ИП Шусталик С.А. и выражаю благодарность Станиславу.</div>
                    <div class="reviews__name">от Анна 23.05.2017</div>
                    <div class="reviews__stars">
                        <img src="img/stars.png" alt="звезды">
                    </div>
                </div>
            </div>
            <!-- отзыв -->
            <div class="reviews">
                <div class="reviews__box">
                    <div class="reviews__quotes">
                        <img src="img/quotes.svg" alt="ковычки">
                    </div>
                    <div class="reviews__text">Огромная благодарность Станиславу и его помощникам: за организацию похороно, за оперативность и высокий профессионализм, за пунктуальность и ценные советы, за невысокую цену относительно других фирм, за организацию отпевания и полный пакет услуг (нам ничего не пришлось делать), за помощь в выборе уютного, с отличным обслуживанием кафе («Шынок у Лявона»). И самое главное — за неподдельное сопереживание.</div>
                    <div class="reviews__name">от Инна и Саша 15.04.2017</div>
                    <div class="reviews__stars">
                        <img src="img/stars.png" alt="звезды">
                    </div>
                </div>
            </div>
            <!-- отзыв -->
            <div class="reviews">
                <div class="reviews__box">
                    <div class="reviews__quotes">
                        <img src="img/quotes.svg" alt="ковычки">
                    </div>
                    <div class="reviews__text">Семья Соркиных выражает огромную благодарность Вашему Ритуальному агентству и персонально ШУСТАЛИКУ С.А в помощи и организации похорон нашего отца и дедушки Соркина М.И. - за тактичность, понимание и добросовестность.</div>
                    <div class="reviews__name">от Жур И.М 24.01.2017</div>
                    <div class="reviews__stars">
                        <img src="img/stars.png" alt="звезды">
                    </div>
                </div>
            </div>
            <!-- отзыв -->
            <div class="reviews">
                <div class="reviews__box">
                    <div class="reviews__quotes">
                        <img src="img/quotes.svg" alt="ковычки">
                    </div>
                    <div class="reviews__text">Хотим от всей семьи выразить огромную благодарность за помощь! Несмотря на то, что обратились накануне Нового Года, организовали все очень профессионально в самые кратчайшие сроки. Помогли с оформлением бумаг, а также большим плюсом оказалась отсрочка платежа. Отдельное спасибо за человеческое участие и советы в эту непростую минуту.</div>
                    <div class="reviews__name">от Елена 03.01.2017</div>
                    <div class="reviews__stars">
                        <img src="img/stars.png" alt="звезды">
                    </div>
                </div>
            </div>
        </main>

        <!--* footer -->
        <%- include('./modules/footer.ejs') %>

</body>
</html>