<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Здесь мы собрали отзывы наших благодарных клиентов, к которым мы пришли на помощь в сложное для них время.">
    <link rel="icon" type="image/png" href="img/home/favicon.png">
    <link rel="stylesheet" href="css/style.css?v=2.6">
    <title>Отзывы компании похороны в Минске ИП Шусталик С.А.</title>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(88857516, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/88857516" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TQPKWTP');</script>
<!-- End Google Tag Manager -->
</head>
<body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQPKWTP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="wrapper">
    <!--= heder -->
    <header class="header">
        <div class="header__up">
            <div class="header__logo">
                <img class="header__logo-img" src="img/home/logo-new.png" alt="логотип сайта похороны в минске">
            </div>
            <h1 class="header__title"><span>Ритуальные услуги в Минске</span></h1>
            <a href="tel:+375447695139" class="header__tel">тел.+375 44 769 51 39</a>
        </div>
        <div class="header__down">
            <div class="header__burger">
                <div class="header__button">
                    <span></span>
                </div>
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__line">
                        <a href="index.html" class="header__link">главная</a>
                    </li>                      
                    <li class="header__line">
                        <a href="#" class="header__link  _sub">услуги</a>
                        <ul class="header__list-sub">
                            <li class="header__line-sub">
                                <a href="burial.html" class="header__link-sub">Захоронение</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="cremation.html" class="header__link-sub">Кремация</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="ritual-agent.html" class="header__link-sub">Ритуальный агент</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="copter-graves.html" class="header__link-sub">Копка могилы</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="rent-catatal.html" class="header__link-sub">Аренда катафалка</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="loaders.html" class="header__link-sub">Носильщик гроба</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="cargo-200.html" class="header__link-sub">Груз 200</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="production-of-monuments.html" class="header__link-sub">Помощь в изготовлении памятников</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__line">
                        <a href="#" class="header__link  _sub">товары</a>
                        <ul class="header__list-sub">
                            <li class="header__line-sub">
                                <a href="shop-coffins.html" class="header__link-sub">Гробы</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="shop-wreaths.html" class="header__link-sub">Венки ритуальные</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="shop-baskets.html" class="header__link-sub">Корзины ритуальные</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="shop-crosses.html" class="header__link-sub">Кресты</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="shop-clothes.html" class="header__link-sub">Одежда</a>
                            </li>
                            <li class="header__line-sub">
                                <a href="shop-payment.html" class="header__link-sub">Доставка и оплата</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__line">
                        <a href="information.html" class="header__link">важная информация</a>
                    </li>
                    <li class="header__line">
                        <a href="morgues-in-minsk.html" class="header__link">морги в минске</a>
                    </li>
                    <li class="header__line">
                        <a href="reviews.html" class="header__link">отзывы</a>
                    </li>
                    <li class="header__line">
                        <a href="contacts.html" class="header__link">контакты</a>
                    </li>
                </ul> 
            </nav>
        </div>
    </header>

    <!--= main -->
    <main class="main">
        <!-- шапка -->
        <div class="heder-page heder-page_margin">
            <h1 class="heder-page__title">Отзывы</h1>
            <div class="heder-page__img">
                <picture>
                    <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                    <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                    <source srcset="img/home/grob.webp" type="image/webp">
                    <img src="img/home/grob.jpg" alt="фото гроба">
                </picture>
            </div>
        </div>
        <!-- отзыв -->
        <div class="reviews">
            <div class="reviews__box">
                <div class="reviews__quotes">
                    <img src="img/quotes.svg" alt="ковычки">
                </div>
                <div class="reviews__text">Большое спасибо за хорошую работу в трудную для семьи минуту. Профессиональная команда, два раза помогали в трудную минуту, решая все вопросы вокруг похорон родных. Отзывчивые, добрые люди, которые снимают все вопросы ритуальных услуг.</div>
                <div class="reviews__name">от Максим 08.04.2018</div>
                <div class="reviews__stars">
                    <img src="img/stars.png" alt="звезды">
                </div>
            </div>
        </div>
        <!-- отзыв -->
        <div class="reviews">
            <div class="reviews__box">
                <div class="reviews__quotes">
                    <img src="img/quotes.svg" alt="ковычки">
                </div>
                <div class="reviews__text">Спасибо Станислав. Всей семье хотим выразить благодарность ребятам из команды Станислава за оказанные услуги в захоронение родного нам человека, все было подготовлено четко и быстро, по умеренным ценам в эти тяжелые для нас дни. Так же хотим поблагодорить ребят из бригады копщиков. СПАСИБО ВАМ ВСЕМ БОЛЬШОЕ!</div>
                <div class="reviews__name">от Олег 21.03.2018</div>
                <div class="reviews__stars">
                    <img src="img/stars.png" alt="звезды">
                </div>
            </div>
        </div>
        <!-- отзыв -->
        <div class="reviews">
            <div class="reviews__box">
                <div class="reviews__quotes">
                    <img src="img/quotes.svg" alt="ковычки">
                </div>
                <div class="reviews__text">Искренняя благодарность Станиславу Шусталику за четкую, корректную, прекрасно организованную помощь в похоронах сестры и доброе отношение. Обязательный и порядочный человек!</div>
                <div class="reviews__name">от Татьяна Ивановна 06.12.2017</div>
                <div class="reviews__stars">
                    <img src="img/stars.png" alt="звезды">
                </div>
            </div>
        </div>
        <!-- отзыв -->
        <div class="reviews">
            <div class="reviews__box">
                <div class="reviews__quotes">
                    <img src="img/quotes.svg" alt="ковычки">
                </div>
                <div class="reviews__text">Благодарю за организацию похорон Если вы хотите, чтобы в скорбный час вам помог очень деликатный, спокойный, готовый терпеть и исполнить любые ваши требования и пожелания человек, приглашайте Станислава. Без суеты все будет сделано, как вы захотите и как надо. Спасибо, Станислав.</div>
                <div class="reviews__name">от Лариса Алексеевна 06.12.2017</div>
                <div class="reviews__stars">
                    <img src="img/stars.png" alt="звезды">
                </div>
            </div>
        </div>
        <!-- отзыв -->
        <div class="reviews">
            <div class="reviews__box">
                <div class="reviews__quotes">
                    <img src="img/quotes.svg" alt="ковычки">
                </div>
                <div class="reviews__text">Большое спасибо Станиславу за помощь в тяжелое для моей семьи время, в организации похорон. Оперативность, предельная четкость в работе, вежливость, компетентность, честность делают эту помощь очень ценной и незаменимой. Еще раз огромное спасибо.</div>
                <div class="reviews__name">от Майя 03.12.2017</div>
                <div class="reviews__stars">
                    <img src="img/stars.png" alt="звезды">
                </div>
            </div>
        </div>
        <!-- отзыв -->
        <div class="reviews">
            <div class="reviews__box">
                <div class="reviews__quotes">
                    <img src="img/quotes.svg" alt="ковычки">
                </div>
                <div class="reviews__text">Помощь, интеллигентность и профессионализм, уважительное отношение и отличная работа. Так я могу характеризовать Станислава. Очень признателен Станиславу за помощь в похоронах папы - и в подготовке, и в организации в крематории. И огромное спасибо за его работу.</div>
                <div class="reviews__name">от Александр 12.10.2017</div>
                <div class="reviews__stars">
                    <img src="img/stars.png" alt="звезды">
                </div>
            </div>
        </div>
        <!-- отзыв -->
        <div class="reviews">
            <div class="reviews__box">
                <div class="reviews__quotes">
                    <img src="img/quotes.svg" alt="ковычки">
                </div>
                <div class="reviews__text">Благодарим от имени нашей семьи за достойно, четко и с уважением оказанную помощь в огрганизации похорон моего папы. Станислав с большим вниманием и чуткостью относится к своему делу. Выражаем огромную благодарность.</div>
                <div class="reviews__name">от Татьяна 27.09.2017</div>
                <div class="reviews__stars">
                    <img src="img/stars.png" alt="звезды">
                </div>
            </div>
        </div>
        <!-- отзыв -->
        <div class="reviews">
            <div class="reviews__box">
                <div class="reviews__quotes">
                    <img src="img/quotes.svg" alt="ковычки">
                </div>
                <div class="reviews__text">От всей души благодарю Станислава за хорошую организацию похорон моего отца. В этот сложный для нас день все формальные вопросы оперативно решил Станислав и по очень хорошей цене. Советы и рекомендации Станислава были ценны потому что у меня опыта похорон не было. Теперь Ваше агентство буду рекомендовать всем знакомым.</div>
                <div class="reviews__name">от Ирина 26.08.2017</div>
                <div class="reviews__stars">
                    <img src="img/stars.png" alt="звезды">
                </div>
            </div>
        </div>
        <!-- отзыв -->
        <div class="reviews">
            <div class="reviews__box">
                <div class="reviews__quotes">
                    <img src="img/quotes.svg" alt="ковычки">
                </div>
                <div class="reviews__text">Я бесконечно признательна Станиславу за помощь в организации похорон моей бабушки. Он помог советом, поделился нужной информацией, сделал все необходимое быстро, очень аккуратно и деликатно. Все его сотрудники сработали четко, спокойно, без суеты и накладок. Всё это помогло нам собраться и достойно отдать дань памяти моей бабушке. Для нас это было очень важно. Большое спасибо.</div>
                <div class="reviews__name">от Цыгалко Алла 05.08.2017</div>
                <div class="reviews__stars">
                    <img src="img/stars.png" alt="звезды">
                </div>
            </div>
        </div>
        <!-- отзыв -->
        <div class="reviews">
            <div class="reviews__box">
                <div class="reviews__quotes">
                    <img src="img/quotes.svg" alt="ковычки">
                </div>
                <div class="reviews__text">Выражаю огромную благодарность Станиславу и его команде за помощь в организации похорон нашей бабушки, мамы. Все услуги оказаны на высоком профессиональном уровне, качественно и быстро. Огромное спасибо за выше человеческое и чуткое отношение к тем, кто потерял своего родного человека.</div>
                <div class="reviews__name">от Тамары 21.07.2017</div>
                <div class="reviews__stars">
                    <img src="img/stars.png" alt="звезды">
                </div>
            </div>
        </div>
        <!-- отзыв -->
        <div class="reviews">
            <div class="reviews__box">
                <div class="reviews__quotes">
                    <img src="img/quotes.svg" alt="ковычки">
                </div>
                <div class="reviews__text">От семьи Жуковых - Старовойтовых выражаем Вам огромную благодарность за помощи в организации похорон нашей бабушки и мамы! У вас очень опытные и чуткие специалисты! Все было сделано быстро, качественно и добросовестно. Спасибо вам большое.</div>
                <div class="reviews__name">от Татьяна 25.01.2017</div>
                <div class="reviews__stars">
                    <img src="img/stars.png" alt="звезды">
                </div>
            </div>
        </div>
        <!-- отзыв -->
        <div class="reviews">
            <div class="reviews__box">
                <div class="reviews__quotes">
                    <img src="img/quotes.svg" alt="ковычки">
                </div>
                <div class="reviews__text">Могу сказать о компании только хорошее-в тяжелый час, когда нет опыта в организации похорон и состояние и моральное и физическое ужасно, Станислав избавил от всех бюрократических сложностей, организовал похороны, учтя все пожелания, проявил не только высочайший профессионализм, но и чисто человеческое понимание и сочувствие. Тактично и ненавязчиво помог сориентироваться в предлагаемых услугах, ответил на все вопросы и разъяснил все, что было необходимо знать. Никаких накладок, задержек, недоразумений. Хотелось бы отметить доступность цен-для очень многих это немаловажно. На основании личного опыта могу рекомендовать ИП Шусталик С.А. и выражаю благодарность Станиславу.</div>
                <div class="reviews__name">от Анна 23.05.2017</div>
                <div class="reviews__stars">
                    <img src="img/stars.png" alt="звезды">
                </div>
            </div>
        </div>
        <!-- отзыв -->
        <div class="reviews">
            <div class="reviews__box">
                <div class="reviews__quotes">
                    <img src="img/quotes.svg" alt="ковычки">
                </div>
                <div class="reviews__text">Огромная благодарность Станиславу и его помощникам: за организацию похороно, за оперативность и высокий профессионализм, за пунктуальность и ценные советы, за невысокую цену относительно других фирм, за организацию отпевания и полный пакет услуг (нам ничего не пришлось делать), за помощь в выборе уютного, с отличным обслуживанием кафе («Шынок у Лявона»). И самое главное — за неподдельное сопереживание.</div>
                <div class="reviews__name">от Инна и Саша 15.04.2017</div>
                <div class="reviews__stars">
                    <img src="img/stars.png" alt="звезды">
                </div>
            </div>
        </div>
        <!-- отзыв -->
        <div class="reviews">
            <div class="reviews__box">
                <div class="reviews__quotes">
                    <img src="img/quotes.svg" alt="ковычки">
                </div>
                <div class="reviews__text">Семья Соркиных выражает огромную благодарность Вашему Ритуальному агентству и персонально ШУСТАЛИКУ С.А в помощи и организации похорон нашего отца и дедушки Соркина М.И. - за тактичность, понимание и добросовестность.</div>
                <div class="reviews__name">от Жур И.М 24.01.2017</div>
                <div class="reviews__stars">
                    <img src="img/stars.png" alt="звезды">
                </div>
            </div>
        </div>
        <!-- отзыв -->
        <div class="reviews">
            <div class="reviews__box">
                <div class="reviews__quotes">
                    <img src="img/quotes.svg" alt="ковычки">
                </div>
                <div class="reviews__text">Хотим от всей семьи выразить огромную благодарность за помощь! Несмотря на то, что обратились накануне Нового Года, организовали все очень профессионально в самые кратчайшие сроки. Помогли с оформлением бумаг, а также большим плюсом оказалась отсрочка платежа. Отдельное спасибо за человеческое участие и советы в эту непростую минуту.</div>
                <div class="reviews__name">от Елена 03.01.2017</div>
                <div class="reviews__stars">
                    <img src="img/stars.png" alt="звезды">
                </div>
            </div>
        </div>
    </main>

    <!--= footer -->
    <footer class="footer">
        <div class="footer__item-img">
            <picture>
                <source srcset="img/footer/Logo-1.webp" type="image/webp">
                <img loading="lazy" class="footer__img" src="img/footer/Logo-1.jpg"  alt="логотип похороны в минске" width="298" height="100">
            </picture>
        </div>
        <div class="footer__item">
            <div class="footer__title">адрес</div>
            <div class="footer__text">г.Минск</div>
            <div class="footer__text">пр-т Партизанский 5</div>
        </div>
        <div class="footer__item">
            <div class="footer__title">телефоны</div>
            <a class="footer__text" href="tel:+375447695139">+375447695139</a>
            <a class="footer__text" href="tel:+375295057052">+375295057052</a>
        </div>
        <div class="footer__item">
            <div class="footer__title">часы работы</div>
            <div class="footer__text">24 часа</div>
            <div class="footer__text">круглосуточно</div>
        </div>
    </footer>

<!-- end  -->
</div>
<script src="dist/bundle.js?v=2.6"></script>
</body>
</html>