<!doctype html>
<html lang="ru">

<!--* head -->
<%- include('./modules/head.ejs') %>

<body>

    <!--* google-tag-noscript -->
    <%- include('./modules/google-tag-noscript.ejs') %>

    <div class="wrapper">

        <!--* heder -->
        <%- include('./modules/header.ejs') %>

        <!-- main code -->
        <!--= main -->
        <main class="main">

            <!-- шапка -->
                    <div class="heder-page heder-page_margin">
                        <h1 class="heder-page__title">Ритуальный агент</h1>
                        <div class="heder-page__img">
                            <picture>
                                <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                                <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                                <source srcset="img/home/grob.webp" type="image/webp">
                                <img src="img/home/grob.jpg" alt="фото гроба">
                            </picture>
                        </div>
                    </div>
            <!-- текст:Потеря близкого человека -->
                    <div class="text-page container">
                        <div class="text-page_margin">Потеря близкого человека — огромный стресс. Но помимо переживаний приходится заниматься еще и захоронением человека. В это время необходимо оставить эмоции и возвращаться к мирским дела, как бы не было сложно. К сожалению, не всем это под силу, поэтому облегчить боль утраты, делегировать заботы по захоронению стоит специалисту – похоронному ритуальному агенту.</div>
                    </div>
            <!-- title:Выезд агента — бесплатно, круглосуточно -->
                    <div class="text-title _align">
                        <div>Выезд агента — бесплатно, круглосуточно</div>
                    </div>
            <!-- IMG:бабушка плачет похороны -->
                    <div class="text-img container">
                        <picture>
                            <source srcset="img/__ritual-agent/1-500.webp" type="image/webp" media="(max-width: 750px)">
                            <source srcset="img/__ritual-agent/1-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                            <source srcset="img/__ritual-agent/1.webp" type="image/webp">
                            <img src="img/__ritual-agent/1.jpg" alt="бабушка плачет похороны">
                        </picture>
                    </div>
            <!-- текст:По сути, это менеджер -->
                    <div class="text-page container">
                        <div class="text-page_margin">По сути, это менеджер, который специализируется на захоронении и имеет в этом деле огромный опыт. Его задача — решение хозяйственных, документальных вопросов, оказание психологической поддержки родственникам умершего.</div>
                    </div>
            <!-- title:В обязанности ритуального агента входит следующее: -->
                    <div class="text-title container">
                        <div class="text-title_margin">В обязанности ритуального агента входит следующее:</div>
                    </div>
            <!-- UL-LI:Транспортировка тела -->
                    <div class="text-page container">
                        <div class="text-page_margin">
                            <ul class="text__list">
                                <li class="text__line">Транспортировка тела.</li>
                                <li class="text__line">Приобретение принадлежностей для похорон.</li>
                                <li class="text__line">Организация транспорта для перевозки людей.</li>
                                <li class="text__line">Оформление места на кладбище.</li>   
                                <li class="text__line">Сбор всех необходимых бумаг.</li>         
                            </ul>
                        </div>
                    </div>
            <!-- текст: Одним словом, он берет-->
                    <div class="text-page container">
                        <div class="text-page_margin">Одним словом, он берет на себя организационные вопросы. Вы же можете провести все это время со своим близким, не думая о том, как организовать поминки или оформить документы для получения похоронных денег, места на кладбище.</div>
                    </div>
            <!-- IMG: свидетельство о смерти -->
                    <div class="text-img container">
                        <picture>
                            <source srcset="img/__ritual-agent/2-500.webp" type="image/webp" media="(max-width: 750px)">
                            <source srcset="img/__ritual-agent/2-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                            <source srcset="img/__ritual-agent/2.webp" type="image/webp">
                            <img src="img/__ritual-agent/2.jpg" alt="свидетельство о смерти">
                        </picture>
                    </div>
            <!-- текст: Похоронный ритуальный агент справится-->
                    <div class="text-page container">
                        <div class="text-page_margin">Похоронный ритуальный агент справится со всеми задачами самостоятельно с учетом ваших пожеланий. Покупка венков, одежды, ограды – все это тоже входит в обязанности этого специалиста. Также он может подготовить кремацию или выполнить погребение без присутствия заказчика. С транспортировкой тела на дальние расстояния похоронный ритуальный агент также может решить вопрос.</div>
                    </div>
            <!-- title: Куда обращаться за помощью по захоронению в Минске? -->
                    <div class="text-title container">
                        <div class="text-title_margin">Куда обращаться за помощью по захоронению в Минске?</div>
                    </div>
            <!-- текст: Мы занимаемся организацией похорон «под ключ» -->
                    <div class="text-page container">
                        <div class="text-page_margin">Мы занимаемся организацией похорон «под ключ», берем на себя все заботы, воплощаем в жизнь все идеи и просьбы наших заказчиков. Услуга «ритуальный агент» экономит ваше время и позволяет провести его с родным человеком.</div>
                    </div>
            <!-- title: Как это происходит? -->
                    <div class="text-title container">
                        <div class="text-title_margin">Как это происходит?</div>
                    </div>
            <!-- UL-LI: Вы связываетесь с нашим ритуальным агентом -->
                    <div class="text-page container">
                        <div class="text-page_margin">
                            <ul class="text__list">
                                <li class="text__line">Вы связываетесь с нашим ритуальным агентом. Работаем мы круглосуточно, поэтому можно смело звонить в любое время.</li>
                                <li class="text__line">Уже через 30 минут к вам приезжает ритуальный агент. Он консультирует по всем вопросам, предоставляет каталог, в котором можно выбрать ритуальные принадлежности.</li>
                                <li class="text__line">Подписываете договор на оказание услуги и дальше все заботы по захоронению переходят к нашему специалисту.</li>           
                            </ul>
                        </div>
                    </div>
            <!-- текст: Преимущество нашей компании в том-->
                    <div class="text-page container">
                        <div class="text-page_margin">Преимущество нашей компании в том, что мы каждую утрату переживаем, как собственную и стараемся, даже при минимальном бюджете, организовать все по высшему уровню.</div>
                    </div>
            <!-- title: Сколько стоит помощь ритуального агента?-->
                    <div class="text-title container">
                        <div class="text-title_margin">Сколько стоит помощь ритуального агента?</div>
                    </div>
            <!-- текст: Зависит цена от спектра-->
                    <div class="text-page container">
                        <div class="text-page_margin">Зависит цена от спектра оказания услуг, но называется она предварительно уже при первом общении с заказчиком. Для нас важно не просто заработать, а оставить в вашем сердце теплые воспоминания о таком сложном и нелегком этапе в вашей жизни.</div>
                    </div>
            <!-- IMG: люди на похоронах-->
                    <div class="text-img container">
                        <picture>
                            <source srcset="img/__ritual-agent/3-500.webp" type="image/webp" media="(max-width: 750px)">
                            <source srcset="img/__ritual-agent/3-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                            <source srcset="img/__ritual-agent/3.webp" type="image/webp">
                            <img src="img/__ritual-agent/3.jpg" alt="люди на похоронах">
                        </picture>
                    </div>
            <!-- текст: Похоронный ритуальный агент прислушивается-->
                    <div class="text-page container">
                        <div class="text-page_margin">Похоронный ритуальный агент прислушивается и учитывает все ваши пожелания, подскажет, как сделать все правильно, поддержит словом и просто будет всегда рядом для решения всех возникающих вопросов. Похороны – сложный период, который нужно пройти достойно, организовать прощание с усопшим с учетом всех канонов, правил. Наши специалисты делают все на совесть, организовывают красивые церемонии прощания, чтобы вы смогли провести последние минуты со своим близким.</div>
                    </div>
            <!-- блок с телефонами -->
                    <div class="tel-contacts">
                        <div class="tel-contacts__a1">
                            <div class="tel-contacts__a1-img">
                                <picture class="tel-contacts__picture">
                                    <source srcset="img/__ritual-agent/4.webp" type="image/webp">
                                    <img src="img/__ritual-agent/4.jpg" alt="alt">
                                </picture>
                            </div>
                            <a href="tel:+375447695139" class="tel-contacts__a1-tel">+375 (44) 769 51 39</a>
                        </div>
                        <div class="tel-contacts__mts">
                            <div class="tel-contacts__mts-img">
                                <picture class="tel-contacts__picture">
                                    <source srcset="img/__ritual-agent/5.webp" type="image/webp">
                                    <img src="img/__ritual-agent/5.jpg" alt="alt">
                                </picture>
                            </div>
                            <a href="tel:+375295057052" class="tel-contacts__mts-tel">+375 (29) 505 70 52</a>
                        </div>
                        <div class="tel-contacts__clock">круглосуточно</div>
                    </div>
            
            
            
            
            
        </main>

        <!--* footer -->
        <%- include('./modules/footer.ejs') %>

</body>
</html>
