<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="➤ Наш ритуальный агент оперативно проконсультирует и поможет в организации полного процесса похорон вашего близкого человека на должном уровне.">
    <link rel="icon" type="image/png" href="img/home/favicon.png">
    <link rel="stylesheet" href="css/style.css?v=2.6">
    <title>Ритуальный агент в Минске - цена услуг похоронного агента</title>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(88857516, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/88857516" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TQPKWTP');</script>
<!-- End Google Tag Manager -->
</head>
<body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQPKWTP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">

        <!--= heder -->
        <header class="header">
            <div class="header__up">
                <div class="header__logo">
                    <img class="header__logo-img" src="img/home/logo-new.png" alt="логотип сайта похороны в минске">
                </div>
                <h1 class="header__title"><span>Ритуальные услуги в Минске</span></h1>
                <a href="tel:+375447695139" class="header__tel">тел.+375 44 769 51 39</a>
            </div>
            <div class="header__down">
                <div class="header__burger">
                    <div class="header__button">
                        <span></span>
                    </div>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__line">
                            <a href="index.html" class="header__link">главная</a>
                        </li>                      
                        <li class="header__line">
                            <a href="#" class="header__link  _sub">услуги</a>
                            <ul class="header__list-sub">
                                <li class="header__line-sub">
                                    <a href="burial.html" class="header__link-sub">Захоронение</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="cremation.html" class="header__link-sub">Кремация</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="ritual-agent.html" class="header__link-sub">Ритуальный агент</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="copter-graves.html" class="header__link-sub">Копка могилы</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="rent-catatal.html" class="header__link-sub">Аренда катафалка</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="loaders.html" class="header__link-sub">Носильщик гроба</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="cargo-200.html" class="header__link-sub">Груз 200</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="production-of-monuments.html" class="header__link-sub">Помощь в изготовлении памятников</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__line">
                            <a href="#" class="header__link  _sub">товары</a>
                            <ul class="header__list-sub">
                                <li class="header__line-sub">
                                    <a href="shop-coffins.html" class="header__link-sub">Гробы</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-wreaths.html" class="header__link-sub">Венки ритуальные</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-baskets.html" class="header__link-sub">Корзины ритуальные</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-crosses.html" class="header__link-sub">Кресты</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-clothes.html" class="header__link-sub">Одежда</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-payment.html" class="header__link-sub">Доставка и оплата</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__line">
                            <a href="information.html" class="header__link">важная информация</a>
                        </li>
                        <li class="header__line">
                            <a href="morgues-in-minsk.html" class="header__link">морги в минске</a>
                        </li>
                        <li class="header__line">
                            <a href="reviews.html" class="header__link">отзывы</a>
                        </li>
                        <li class="header__line">
                            <a href="contacts.html" class="header__link">контакты</a>
                        </li>
                    </ul> 
                </nav>
            </div>
        </header>

        <!--= main -->
        <main class="main">

<!-- шапка -->
        <div class="heder-page heder-page_margin">
            <h1 class="heder-page__title">Ритуальный агент</h1>
            <div class="heder-page__img">
                <picture>
                    <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                    <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                    <source srcset="img/home/grob.webp" type="image/webp">
                    <img src="img/home/grob.jpg" alt="фото гроба">
                </picture>
            </div>
        </div>
<!-- текст:Потеря близкого человека -->
        <div class="text-page container">
            <div class="text-page_margin">Потеря близкого человека — огромный стресс. Но помимо переживаний приходится заниматься еще и захоронением человека. В это время необходимо оставить эмоции и возвращаться к мирским дела, как бы не было сложно. К сожалению, не всем это под силу, поэтому облегчить боль утраты, делегировать заботы по захоронению стоит специалисту – похоронному ритуальному агенту.</div>
        </div>
<!-- title:Выезд агента — бесплатно, круглосуточно -->
        <div class="text-title _align">
            <div>Выезд агента — бесплатно, круглосуточно</div>
        </div>
<!-- IMG:бабушка плачет похороны -->
        <div class="text-img container">
            <picture>
                <source srcset="img/__ritual-agent/1-500.webp" type="image/webp" media="(max-width: 750px)">
                <source srcset="img/__ritual-agent/1-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                <source srcset="img/__ritual-agent/1.webp" type="image/webp">
                <img src="img/__ritual-agent/1.jpg" alt="бабушка плачет похороны">
            </picture>
        </div>
<!-- текст:По сути, это менеджер -->
        <div class="text-page container">
            <div class="text-page_margin">По сути, это менеджер, который специализируется на захоронении и имеет в этом деле огромный опыт. Его задача — решение хозяйственных, документальных вопросов, оказание психологической поддержки родственникам умершего.</div>
        </div>
<!-- title:В обязанности ритуального агента входит следующее: -->
        <div class="text-title container">
            <div class="text-title_margin">В обязанности ритуального агента входит следующее:</div>
        </div>
<!-- UL-LI:Транспортировка тела -->
        <div class="text-page container">
            <div class="text-page_margin">
                <ul class="text__list">
                    <li class="text__line">Транспортировка тела.</li>
                    <li class="text__line">Приобретение принадлежностей для похорон.</li>
                    <li class="text__line">Организация транспорта для перевозки людей.</li>
                    <li class="text__line">Оформление места на кладбище.</li>   
                    <li class="text__line">Сбор всех необходимых бумаг.</li>         
                </ul>
            </div>
        </div>
<!-- текст: Одним словом, он берет-->
        <div class="text-page container">
            <div class="text-page_margin">Одним словом, он берет на себя организационные вопросы. Вы же можете провести все это время со своим близким, не думая о том, как организовать поминки или оформить документы для получения похоронных денег, места на кладбище.</div>
        </div>
<!-- IMG: свидетельство о смерти -->
        <div class="text-img container">
            <picture>
                <source srcset="img/__ritual-agent/2-500.webp" type="image/webp" media="(max-width: 750px)">
                <source srcset="img/__ritual-agent/2-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                <source srcset="img/__ritual-agent/2.webp" type="image/webp">
                <img src="img/__ritual-agent/2.jpg" alt="свидетельство о смерти">
            </picture>
        </div>
<!-- текст: Похоронный ритуальный агент справится-->
        <div class="text-page container">
            <div class="text-page_margin">Похоронный ритуальный агент справится со всеми задачами самостоятельно с учетом ваших пожеланий. Покупка венков, одежды, ограды – все это тоже входит в обязанности этого специалиста. Также он может подготовить кремацию или выполнить погребение без присутствия заказчика. С транспортировкой тела на дальние расстояния похоронный ритуальный агент также может решить вопрос.</div>
        </div>
<!-- title: Куда обращаться за помощью по захоронению в Минске? -->
        <div class="text-title container">
            <div class="text-title_margin">Куда обращаться за помощью по захоронению в Минске?</div>
        </div>
<!-- текст: Мы занимаемся организацией похорон «под ключ» -->
        <div class="text-page container">
            <div class="text-page_margin">Мы занимаемся организацией похорон «под ключ», берем на себя все заботы, воплощаем в жизнь все идеи и просьбы наших заказчиков. Услуга «ритуальный агент» экономит ваше время и позволяет провести его с родным человеком.</div>
        </div>
<!-- title: Как это происходит? -->
        <div class="text-title container">
            <div class="text-title_margin">Как это происходит?</div>
        </div>
<!-- UL-LI: Вы связываетесь с нашим ритуальным агентом -->
        <div class="text-page container">
            <div class="text-page_margin">
                <ul class="text__list">
                    <li class="text__line">Вы связываетесь с нашим ритуальным агентом. Работаем мы круглосуточно, поэтому можно смело звонить в любое время.</li>
                    <li class="text__line">Уже через 30 минут к вам приезжает ритуальный агент. Он консультирует по всем вопросам, предоставляет каталог, в котором можно выбрать ритуальные принадлежности.</li>
                    <li class="text__line">Подписываете договор на оказание услуги и дальше все заботы по захоронению переходят к нашему специалисту.</li>           
                </ul>
            </div>
        </div>
<!-- текст: Преимущество нашей компании в том-->
        <div class="text-page container">
            <div class="text-page_margin">Преимущество нашей компании в том, что мы каждую утрату переживаем, как собственную и стараемся, даже при минимальном бюджете, организовать все по высшему уровню.</div>
        </div>
<!-- title: Сколько стоит помощь ритуального агента?-->
        <div class="text-title container">
            <div class="text-title_margin">Сколько стоит помощь ритуального агента?</div>
        </div>
<!-- текст: Зависит цена от спектра-->
        <div class="text-page container">
            <div class="text-page_margin">Зависит цена от спектра оказания услуг, но называется она предварительно уже при первом общении с заказчиком. Для нас важно не просто заработать, а оставить в вашем сердце теплые воспоминания о таком сложном и нелегком этапе в вашей жизни.</div>
        </div>
<!-- IMG: люди на похоронах-->
        <div class="text-img container">
            <picture>
                <source srcset="img/__ritual-agent/3-500.webp" type="image/webp" media="(max-width: 750px)">
                <source srcset="img/__ritual-agent/3-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                <source srcset="img/__ritual-agent/3.webp" type="image/webp">
                <img src="img/__ritual-agent/3.jpg" alt="люди на похоронах">
            </picture>
        </div>
<!-- текст: Похоронный ритуальный агент прислушивается-->
        <div class="text-page container">
            <div class="text-page_margin">Похоронный ритуальный агент прислушивается и учитывает все ваши пожелания, подскажет, как сделать все правильно, поддержит словом и просто будет всегда рядом для решения всех возникающих вопросов. Похороны – сложный период, который нужно пройти достойно, организовать прощание с усопшим с учетом всех канонов, правил. Наши специалисты делают все на совесть, организовывают красивые церемонии прощания, чтобы вы смогли провести последние минуты со своим близким.</div>
        </div>
<!-- блок с телефонами -->
        <div class="tel-contacts">
            <div class="tel-contacts__a1">
                <div class="tel-contacts__a1-img">
                    <picture class="tel-contacts__picture">
                        <source srcset="img/__ritual-agent/4.webp" type="image/webp">
                        <img src="img/__ritual-agent/4.jpg" alt="alt">
                    </picture>
                </div>
                <a href="tel:+375447695139" class="tel-contacts__a1-tel">+375 (44) 769 51 39</a>
            </div>
            <div class="tel-contacts__mts">
                <div class="tel-contacts__mts-img">
                    <picture class="tel-contacts__picture">
                        <source srcset="img/__ritual-agent/5.webp" type="image/webp">
                        <img src="img/__ritual-agent/5.jpg" alt="alt">
                    </picture>
                </div>
                <a href="tel:+375295057052" class="tel-contacts__mts-tel">+375 (29) 505 70 52</a>
            </div>
            <div class="tel-contacts__clock">круглосуточно</div>
        </div>





        </main>

        <!--= footer -->
        <footer class="footer">
            <div class="footer__item-img">
                <picture>
                    <source srcset="img/footer/Logo-1.webp" type="image/webp">
                    <img loading="lazy" class="footer__img" src="img/footer/Logo-1.jpg"  alt="логотип похороны в минске" width="298" height="100">
                </picture>
            </div>
            <div class="footer__item">
                <div class="footer__title">адрес</div>
                <div class="footer__text">г.Минск</div>
                <div class="footer__text">пр-т Партизанский 5</div>
            </div>
            <div class="footer__item">
                <div class="footer__title">телефоны</div>
                <a class="footer__text" href="tel:+375447695139">+375447695139</a>
                <a class="footer__text" href="tel:+375295057052">+375295057052</a>
            </div>
            <div class="footer__item">
                <div class="footer__title">часы работы</div>
                <div class="footer__text">24 часа</div>
                <div class="footer__text">круглосуточно</div>
            </div>
        </footer>
        <!-- end wrapper -->
    </div>

<script src="dist/bundle.js?v=2.6"></script>
</body>
</html>