<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="У нас представлен большой ассортимент венков для похорон. Возможно купить вариант с ленточкой, надписью или без. 🚚 Доставка по всему Минску!">
    <link rel="icon" type="image/png" href="img/home/favicon.png">
    <link rel="stylesheet" href="css/style.css?v=2.6">
    <title>Венок ритуальный купить в Минске - цена венков для похорон</title>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(88857516, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/88857516" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TQPKWTP');</script>
<!-- End Google Tag Manager -->
</head>
<body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQPKWTP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">

        <!--= heder -->
        <header class="header">
            <div class="header__up">
                <div class="header__logo">
                    <img class="header__logo-img" src="img/home/logo-new.png" alt="логотип сайта похороны в минске">
                </div>
                <h1 class="header__title"><span>Ритуальные услуги в Минске</span></h1>
                <a href="tel:+375447695139" class="header__tel">тел.+375 44 769 51 39</a>
            </div>
            <div class="header__down">
                <div class="header__burger">
                    <div class="header__button">
                        <span></span>
                    </div>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__line">
                            <a href="index.html" class="header__link">главная</a>
                        </li>                      
                        <li class="header__line">
                            <a href="#" class="header__link  _sub">услуги</a>
                            <ul class="header__list-sub">
                                <li class="header__line-sub">
                                    <a href="burial.html" class="header__link-sub">Захоронение</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="cremation.html" class="header__link-sub">Кремация</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="ritual-agent.html" class="header__link-sub">Ритуальный агент</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="copter-graves.html" class="header__link-sub">Копка могилы</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="rent-catatal.html" class="header__link-sub">Аренда катафалка</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="loaders.html" class="header__link-sub">Носильщик гроба</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="cargo-200.html" class="header__link-sub">Груз 200</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="production-of-monuments.html" class="header__link-sub">Помощь в изготовлении памятников</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__line">
                            <a href="#" class="header__link  _sub">товары</a>
                            <ul class="header__list-sub">
                                <li class="header__line-sub">
                                    <a href="shop-coffins.html" class="header__link-sub">Гробы</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-wreaths.html" class="header__link-sub">Венки ритуальные</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-baskets.html" class="header__link-sub">Корзины ритуальные</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-crosses.html" class="header__link-sub">Кресты</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-clothes.html" class="header__link-sub">Одежда</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-payment.html" class="header__link-sub">Доставка и оплата</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__line">
                            <a href="information.html" class="header__link">важная информация</a>
                        </li>
                        <li class="header__line">
                            <a href="morgues-in-minsk.html" class="header__link">морги в минске</a>
                        </li>
                        <li class="header__line">
                            <a href="reviews.html" class="header__link">отзывы</a>
                        </li>
                        <li class="header__line">
                            <a href="contacts.html" class="header__link">контакты</a>
                        </li>
                    </ul> 
                </nav>
            </div>
        </header>

        <!--= main -->
        <main class="main">

            <!-- шапка -->
            <div class="heder-page heder-page_margin">
                <h1 class="heder-page__title">Венки ритуальные</h1>
                <div class="heder-page__img">
                    <picture>
                        <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                        <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                        <source srcset="img/home/grob.webp" type="image/webp">
                        <img src="img/home/grob.jpg" alt="фото гроба">
                    </picture>
                </div>
            </div>

            <!-- блок магазина -->
            <div class="shop">
                <!-- предупреждение -->
                <div class="attention">
                    <div class="attention__text">Уважаемые клиенты и посетители нашего сайта, обращаем Ваше внимание, что цены на продукцию, могут быть не корректными, так как нет возможности синхронизировать и единомоментно внести изменения на весь ассортимент сразу. Будьте любезны, перед тем как буквально «ехать» в магазин, уточните пожалуйста цену на заинтересовавший Вас товар, у нашего сотрудника по телефонам, указанным на сайте. С уважением, администрация сайта.</div>
                </div>

                <div class="button-sort">
                    <div class="button-sort__box">
                        <div class="button-sort__cheap">дешевле</div>
                        <div class="button-sort__lot  _sort-color">дороже</div>
                    </div>
                    <div class="button-sort__praice">
                        <div class="button-sort__title">Сортировка цены:</div>
                        <div class="button-sort__praice-box">
                            <input class="button-sort__input _border-right" name="from" type="number" maxlength="5" placeholder="от" autocomplete="off">
                            <input class="button-sort__input" name="before" type="number" placeholder="до" autocomplete="off">
                        </div>
                    </div>
                </div>

                <!-- блок с товарами -->
                <div class="shop-block" data-json="ajax/wreaths.json"></div>
            <!-- end-shop -->
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Ритуальный венок — важный элемент в погребении. Он олицетворяет чувство скорби, печали, является символом горя, поэтому его обязательно приобретают, чтобы почтить память усопшего. Уже много десятилетий эта традиция остается неизменной. Во время похорон всегда можно наблюдать большое количество искусственных цветов и венков. Выбор их огромен. Представлены венки для похорон в огромном ассортименте: разной формы, цвета.</div>
            </div>

            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Выбирают их по следующим критерием:</div>
            </div>

            <!-- UL-LI: -->
            <div class="text-page container">
                <div class="text-page_margin">
                    <ul class="text__list">
                        <li class="text__line">Дизайн;</li>
                        <li class="text__line">размер;</li>
                        <li class="text__line">способ размещения;</li>
                        <li class="text__line">материал;</li>           
                    </ul>
                </div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Самые популярные ритуальные венки — круглые или овальные, в корзине или в форме пирамиды. Они выглядят эффектно и привлекательно. Круглые изделия удобны для размещения — крепятся в земле, памятнике. Плоские венки или флоретки используются в качестве декора ритуального зала или же укладываются рядом с покойником.</div>
            </div>

            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Почему используются венки из искусственных цветов?</div>
            </div>

            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Их преимущества:</div>
            </div>

            <!-- UL-LI: -->
            <div class="text-page container">
                <div class="text-page_margin">
                    <ul class="text__list">
                        <li class="text__line">Длительный срок службы. Для изготовления ритуальных венков выбираются качественные полимеры, поэтому они могут сохранять свой первозданный вид в течение многих месяцев, иногда и лет. Кроме того, готовые изделия не боятся мороза, жары, осадков.</li>
                        <li class="text__line">Устойчивость к повреждениям. Изделия легко транспортировать на разные расстояния, хранить. Пластмасса сохраняет свою форму, не деформируется.</li>
                        <li class="text__line">Большой выбор. Несмотря на то, что похоронная тематика ограничена в выборе цветовой гаммы, производители венков создают уникальные композиции. Флористы знают язык цветов и составляют настоящие шедевры.</li>           
                    </ul>
                </div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Приобрести венки для похорон можно в виде щита, колеса, гирлянды, с надписью или без. Количество цветов в изделии должно быть обязательно четное, а оттенки сдержанные. Чаще всего траурные венки выполняют в следующих цветах:</div>
            </div>

            <!-- UL-LI: -->
            <div class="text-page container">
                <div class="text-page_margin">
                    <ul class="text__list">
                        <li class="text__line">красный/желтый/ зеленый</li>
                        <li class="text__line">синий/белый/красный</li>          
                    </ul>
                </div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Подбирается цвет с учетом индивидуальных предпочтений, а также пола, возраста усопшего. Для женщин — яркие корзины, круглые венки, мужчинам — щиты спокойных тонов. В любом случае, ограничений нет никаких. Главное — выбирать все от души. Венок должен передавать спектр ваших чувств, эмоций. Это то, что позволяет продемонстрировать отношение к усопшему, почтить его память.</div>
            </div>

            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Где купить траурные венки в Минске недорого?</div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">У нас представлен огромный ассортимент атрибутов для похорон. Каждый может подобрать подходящий вариант: с ленточкой, надписью или без. Цена на венки у нас очень демократичная. Мы сочувствуем горю наших клиентов и делаем все, чтобы стоимость на траурные венки и другие изделия была доступна каждому. Преимуществом нашей компании является возможность недорого купить венки круглосуточно. У нас нет выходных. Мы придем на помощь в любое время. Кроме того, у нас можно заказать полный спектр услуг по захоронению вашего близкого человека. Для вашего удобства создан онлайн — каталог, в котором вы можете выбрать все самое необходимое. Сложно сделать выбор? Наши сотрудники вежливы и корректны. Они помогут подобрать и атрибуты для захоронения с учетом ваших пожеланий и финансовых возможностей. У нас нет цели наживаться на горе, мы стараемся упростить процесс погребения, сделать церемонию красивой и душевной.</div>
            </div>



<!-- конец блок магазина -->
    


        

        </main>

        <!--= footer -->
        <footer class="footer">
            <div class="footer__item-img">
                <picture>
                    <source srcset="img/footer/Logo-1.webp" type="image/webp">
                    <img loading="lazy" class="footer__img" src="img/footer/Logo-1.jpg"  alt="логотип похороны в минске" width="298" height="100">
                </picture>
            </div>
            <div class="footer__item">
                <div class="footer__title">адрес</div>
                <div class="footer__text">г.Минск</div>
                <div class="footer__text">пр-т Партизанский 5</div>
            </div>
            <div class="footer__item">
                <div class="footer__title">телефоны</div>
                <a class="footer__text" href="tel:+375447695139">+375447695139</a>
                <a class="footer__text" href="tel:+375295057052">+375295057052</a>
            </div>
            <div class="footer__item">
                <div class="footer__title">часы работы</div>
                <div class="footer__text">24 часа</div>
                <div class="footer__text">круглосуточно</div>
            </div>
        </footer>
        <!-- end wrapper -->
    </div>
    <script src="dist/bundle.js?v=2.6"></script>
</body>
</html>