<!doctype html>
<html lang="ru">

<!--* head -->
<%- include('./modules/head.ejs') %>

<body>

    <!--* google-tag-noscript -->
    <%- include('./modules/google-tag-noscript.ejs') %>

    <div class="wrapper">

        <!--* heder -->
        <%- include('./modules/header.ejs') %>

        <!-- main code -->
        <!--= main -->
        <main class="main">

            <!-- шапка -->
            <div class="heder-page heder-page_margin">
                <h1 class="heder-page__title">Доставка и оплата</h1>
                <div class="heder-page__img">
                    <picture>
                        <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                        <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                        <source srcset="img/home/grob.webp" type="image/webp">
                        <img src="img/home/grob.jpg" alt="фото гроба">
                    </picture>
                </div>
            </div>

            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Способы оплаты</div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Оплата производится непосредственно при получении курьеру, наличными.</div>
            </div>

            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Условия доставки</div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">
                    <p>Доставка по городу Минску осуществляется к подъезду c 08:00 до 20:00 без выходных.</p>
                    <p>Стоимость доставки по Минску  7 р.</p>
                    <p>Стоимость доставки за пределами МКАД  7р.+ 50 копеек за км.</p>
                    <p>При заказе на сумму более 150 р. — доставка бесплатно.</p>
                </div>
            </div>
        <!-- конец блок магазина -->
        </main>

        <!--* footer -->
        <%- include('./modules/footer.ejs') %>

</body>
</html>