<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="➤ Гроб у нас можно купить обитый тканью, полированный, разных размеров и формы. Цена на всю продукцию невысокая. 🚚 Доставка по Минску.">
    <link rel="icon" type="image/png" href="img/home/favicon.png">
    <link rel="stylesheet" href="css/style.css?v=2.6">
    <title>Гроб купить в Минске - где купить по недорогой цене гроб для похорон</title>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(88857516, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/88857516" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TQPKWTP');</script>
<!-- End Google Tag Manager -->
</head>
<body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQPKWTP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">

        <!--= heder -->
        <header class="header">
            <div class="header__up">
                <div class="header__logo">
                    <img class="header__logo-img" src="img/home/logo-new.png" alt="логотип сайта похороны в минске">
                </div>
                <h1 class="header__title"><span>Ритуальные услуги в Минске</span></h1>
                <a href="tel:+375447695139" class="header__tel">тел.+375 44 769 51 39</a>
            </div>
            <div class="header__down">
                <div class="header__burger">
                    <div class="header__button">
                        <span></span>
                    </div>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__line">
                            <a href="index.html" class="header__link">главная</a>
                        </li>                      
                        <li class="header__line">
                            <a href="#" class="header__link  _sub">услуги</a>
                            <ul class="header__list-sub">
                                <li class="header__line-sub">
                                    <a href="burial.html" class="header__link-sub">Захоронение</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="cremation.html" class="header__link-sub">Кремация</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="ritual-agent.html" class="header__link-sub">Ритуальный агент</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="copter-graves.html" class="header__link-sub">Копка могилы</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="rent-catatal.html" class="header__link-sub">Аренда катафалка</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="loaders.html" class="header__link-sub">Носильщик гроба</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="cargo-200.html" class="header__link-sub">Груз 200</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="production-of-monuments.html" class="header__link-sub">Помощь в изготовлении памятников</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__line">
                            <a href="#" class="header__link  _sub">товары</a>
                            <ul class="header__list-sub">
                                <li class="header__line-sub">
                                    <a href="shop-coffins.html" class="header__link-sub">Гробы</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-wreaths.html" class="header__link-sub">Венки ритуальные</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-baskets.html" class="header__link-sub">Корзины ритуальные</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-crosses.html" class="header__link-sub">Кресты</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-clothes.html" class="header__link-sub">Одежда</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-payment.html" class="header__link-sub">Доставка и оплата</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__line">
                            <a href="information.html" class="header__link">важная информация</a>
                        </li>
                        <li class="header__line">
                            <a href="morgues-in-minsk.html" class="header__link">морги в минске</a>
                        </li>
                        <li class="header__line">
                            <a href="reviews.html" class="header__link">отзывы</a>
                        </li>
                        <li class="header__line">
                            <a href="contacts.html" class="header__link">контакты</a>
                        </li>
                    </ul> 
                </nav>
            </div>
        </header>

        <!--= main -->
        <main class="main">

            <!-- шапка -->
            <div class="heder-page heder-page_margin">
                <h1 class="heder-page__title">Гробы</h1>
                <div class="heder-page__img">
                    <picture>
                        <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                        <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                        <source srcset="img/home/grob.webp" type="image/webp">
                        <img src="img/home/grob.jpg" alt="фото гроба">
                    </picture>
                </div>
            </div>

            <!-- блок магазина -->
            <div class="shop">
                <!-- предупреждение -->
                <div class="attention">
                    <div class="attention__text">Уважаемые клиенты и посетители нашего сайта, обращаем Ваше внимание, что цены на продукцию, могут быть не корректными, так как нет возможности синхронизировать и единомоментно внести изменения на весь ассортимент сразу. Будьте любезны, перед тем как буквально «ехать» в магазин, уточните пожалуйста цену на заинтересовавший Вас товар, у нашего сотрудника по телефонам, указанным на сайте. С уважением, администрация сайта.</div>
                </div>

                <div class="button-sort">
                    <div class="button-sort__box">
                        <div class="button-sort__cheap">дешевле</div>
                        <div class="button-sort__lot  _sort-color">дороже</div>
                    </div>
                    <div class="button-sort__praice">
                        <div class="button-sort__title">Сортировка цены:</div>
                        <div class="button-sort__praice-box">
                            <input class="button-sort__input _border-right" name="from" type="number" maxlength="5" placeholder="от" autocomplete="off">
                            <input class="button-sort__input" name="before" type="number" placeholder="до" autocomplete="off">
                        </div>
                    </div>
                </div>

                <!-- блок с товарами -->
                <div class="shop-block" data-json="ajax/coffins.json"></div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">В момент ухода близкого человека хочется только одного — достойно его проводить. А без гроба сделать это невозможно. Он является важным атрибутом традиционных похорон. Именно поэтому к его выбору подходить нужно особенно серьезно. Независимо от бюджета, он должен быть презентабельным и удобным, поэтому прежде, чем выбирать гроб, стоит определиться с его длиной, шириной и дизайном. Длина зависит от роста усопшего, но при этом важно подбирать вариант на 20-25 см больше. Ширина у гроба стандартная. Иногда приходится заказывать изделие нужных габаритов по разным причинам. Происходит это довольно редко, но случается. Форма изделия может быть разной — четырех- или шестигранной формы. Что касается дизайна, то самыми популярными считаются гробы, обитые тканью или полированные. Первые выглядят очень привлекательно. Ткань для обивки может использоваться разная — атлас, бархат, шелк. Цветовая гамма также разнообразная. Стоимость таких гробов невысокая. Полированные изделия стоят дороже за счет отделки. Изготавливают такие гробы из хвои, а для отделки используется ольха, вишня, клен. Внутри изделие обивается тканью из шелка или атласа. Практически на все модели устанавливаются 4 ручки, защелки, которые не дают открыться гробу при транспортировке. Чтобы исключить вероятность запрокидывания головы усопшего гроб оборудуется специальным накатом. Дополнительно может наносится на ткань символика, атрибутика, но это по желанию клиента.</div>
            </div>
            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Где купить гроб недорого в Минске?</div>
            </div>
            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">У нас всегда в наличии большой выбор гробов по доступной стоимости. Все наши изделия имеют высокое качество и отличный внешний вид. Подобрать его можно как для женщины, так и для мужчины. Чтобы сделать заказ, не обязательно куда-то ехать. Вы можете позвонить нам и получить бесплатную консультацию. Наши специалисты помогут сделать выбор, подберут необходимые товары и атрибуты для красивого захоронения усопшего. Гробы у нас купить можно обитые тканью, полированные, разных размеров и форм. Цена на всю продукцию невысокая. Мы понимаем и без того всю сложность ситуации, поэтому максимально стараемся снизить затраты на погребение, оказываем услуги по захоронению в счет пособия или с отсрочкой платежа. Похороны — сложный этап в жизни каждого. Наша миссия сделать его, несмотря на всю трагичность ситуации, красивым и искренним. Обращаясь к нам, вы можете надеяться на понимание и помощь в решении любых вопросов, касающихся захоронения.</div>
            </div>
            <!-- конец блок магазина -->
        </main>
        <!--= footer -->
        <footer class="footer">
            <div class="footer__item-img">
                <picture>
                    <source srcset="img/footer/Logo-1.webp" type="image/webp">
                    <img loading="lazy" class="footer__img" src="img/footer/Logo-1.jpg"  alt="логотип похороны в минске" width="298" height="100">
                </picture>
            </div>
            <div class="footer__item">
                <div class="footer__title">адрес</div>
                <div class="footer__text">г.Минск</div>
                <div class="footer__text">пр-т Партизанский 5</div>
            </div>
            <div class="footer__item">
                <div class="footer__title">телефоны</div>
                <a class="footer__text" href="tel:+375447695139">+375447695139</a>
                <a class="footer__text" href="tel:+375295057052">+375295057052</a>
            </div>
            <div class="footer__item">
                <div class="footer__title">часы работы</div>
                <div class="footer__text">24 часа</div>
                <div class="footer__text">круглосуточно</div>
            </div>
        </footer>
        <!-- end wrapper -->
    </div>
<script src="dist/bundle.js?v=2.6"></script>
</body>
</html>