<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" type="image/png" href="img/home/favicon.png">
    <link rel="stylesheet" href="css/style.css?v=2.6">
    <title>Корзины ритуальные</title>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(88857516, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/88857516" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TQPKWTP');</script>
<!-- End Google Tag Manager -->
</head>
<body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQPKWTP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">

        <!--= heder -->
        <header class="header">
            <div class="header__up">
                <div class="header__logo">
                    <img class="header__logo-img" src="img/home/logo-new.png" alt="логотип сайта похороны в минске">
                </div>
                <h1 class="header__title"><span>Ритуальные услуги в Минске</span></h1>
                <a href="tel:+375447695139" class="header__tel">тел.+375 44 769 51 39</a>
            </div>
            <div class="header__down">
                <div class="header__burger">
                    <div class="header__button">
                        <span></span>
                    </div>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__line">
                            <a href="index.html" class="header__link">главная</a>
                        </li>                      
                        <li class="header__line">
                            <a href="#" class="header__link  _sub">услуги</a>
                            <ul class="header__list-sub">
                                <li class="header__line-sub">
                                    <a href="burial.html" class="header__link-sub">Захоронение</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="cremation.html" class="header__link-sub">Кремация</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="ritual-agent.html" class="header__link-sub">Ритуальный агент</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="copter-graves.html" class="header__link-sub">Копка могилы</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="rent-catatal.html" class="header__link-sub">Аренда катафалка</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="loaders.html" class="header__link-sub">Носильщик гроба</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="cargo-200.html" class="header__link-sub">Груз 200</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="production-of-monuments.html" class="header__link-sub">Помощь в изготовлении памятников</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__line">
                            <a href="#" class="header__link  _sub">товары</a>
                            <ul class="header__list-sub">
                                <li class="header__line-sub">
                                    <a href="shop-coffins.html" class="header__link-sub">Гробы</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-wreaths.html" class="header__link-sub">Венки ритуальные</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-baskets.html" class="header__link-sub">Корзины ритуальные</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-crosses.html" class="header__link-sub">Кресты</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-clothes.html" class="header__link-sub">Одежда</a>
                                </li>
                                <li class="header__line-sub">
                                    <a href="shop-payment.html" class="header__link-sub">Доставка и оплата</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__line">
                            <a href="information.html" class="header__link">важная информация</a>
                        </li>
                        <li class="header__line">
                            <a href="morgues-in-minsk.html" class="header__link">морги в минске</a>
                        </li>
                        <li class="header__line">
                            <a href="reviews.html" class="header__link">отзывы</a>
                        </li>
                        <li class="header__line">
                            <a href="contacts.html" class="header__link">контакты</a>
                        </li>
                    </ul> 
                </nav>
            </div>
        </header>

        <!--= main -->
        <main class="main">

            <!-- шапка -->
            <div class="heder-page heder-page_margin">
                <h1 class="heder-page__title">Корзины ритуальные</h1>
                <div class="heder-page__img">
                    <picture>
                        <source srcset="img/home/grob-500.webp" type="image/webp" media="(max-width: 750px)">
                        <source srcset="img/home/grob-500.jpg" type="image/jpeg" media="(max-width: 750px)">
                        <source srcset="img/home/grob.webp" type="image/webp">
                        <img src="img/home/grob.jpg" alt="фото гроба">
                    </picture>
                </div>
            </div>

            <!-- предупреждение -->
            <div class="attention">
                <div class="attention__text">Уважаемые клиенты и посетители нашего сайта, обращаем Ваше внимание, что цены на продукцию, могут быть не корректными, так как нет возможности синхронизировать и единомоментно внести изменения на весь ассортимент сразу. Будьте любезны, перед тем как буквально «ехать» в магазин, уточните пожалуйста цену на заинтересовавший Вас товар, у нашего сотрудника по телефонам, указанным на сайте. С уважением, администрация сайта.</div>
            </div>

            <!-- блок с товарами -->
            <div class="shop-block"> 
                <!-- карточка товара -->   
                <div class="shop-block__item flex-baskets">
                    <div class="card">
                        <div class="card__body">
                            <div class="card__title">Корзина к-7/к</div>
                            <div class="card__img  card__img_height-baskets">
                                <picture>
                                    <source srcset="img/__shop-baskets/1.webp" type="image/webp">
                                    <img src="img/__shop-baskets/1.jpg" alt="гроб">
                                </picture>
                            </div>
                            <div class="card__prais">94 BYN</div>
                            <a class="card__button" href="contacts.html">купить</a>
                        </div>
                    </div>
                </div>
                <!-- карточка товара -->   
                <div class="shop-block__item flex-baskets">
                    <div class="card">
                        <div class="card__body">
                            <div class="card__title">Корзина к-7/ф</div>
                            <div class="card__img  card__img_height-baskets">
                                <picture>
                                    <source srcset="img/__shop-baskets/2.webp" type="image/webp">
                                    <img src="img/__shop-baskets/2.jpg" alt="гроб">
                                </picture>
                            </div>
                            <div class="card__prais">94 BYN</div>
                            <a class="card__button" href="contacts.html">купить</a>
                        </div>
                    </div>
                </div>
                <!-- карточка товара -->   
                <div class="shop-block__item flex-baskets">
                    <div class="card">
                        <div class="card__body">
                            <div class="card__title">Корзина к-4/с</div>
                            <div class="card__img  card__img_height-baskets">
                                <picture>
                                    <source srcset="img/__shop-baskets/3.webp" type="image/webp">
                                    <img src="img/__shop-baskets/3.jpg" alt="гроб">
                                </picture>
                            </div>
                            <div class="card__prais">50 BYN</div>
                            <a class="card__button" href="contacts.html">купить</a>
                        </div>
                    </div>
                </div>
                <!-- карточка товара -->   
                <div class="shop-block__item flex-baskets">
                    <div class="card">
                        <div class="card__body">
                            <div class="card__title">Корзина к-4/ф</div>
                            <div class="card__img  card__img_height-baskets">
                                <picture>
                                    <source srcset="img/__shop-baskets/4.webp" type="image/webp">
                                    <img src="img/__shop-baskets/4.jpg" alt="гроб">
                                </picture>
                            </div>
                            <div class="card__prais">50 BYN</div>
                            <a class="card__button" href="contacts.html">купить</a>
                        </div>
                    </div>
                </div>
                <!-- карточка товара -->   
                <div class="shop-block__item flex-baskets">
                    <div class="card">
                        <div class="card__body">
                            <div class="card__title">Корзина к-5/ж</div>
                            <div class="card__img  card__img_height-baskets">
                                <picture>
                                    <source srcset="img/__shop-baskets/5.webp" type="image/webp">
                                    <img src="img/__shop-baskets/5.jpg" alt="гроб">
                                </picture>
                            </div>
                            <div class="card__prais">65 BYN</div>
                            <a class="card__button" href="contacts.html">купить</a>
                        </div>
                    </div>
                </div>
                <!-- карточка товара -->   
                <div class="shop-block__item flex-baskets">
                    <div class="card">
                        <div class="card__body">
                            <div class="card__title">Корзина к-5/к</div>
                            <div class="card__img  card__img_height-baskets">
                                <picture>
                                    <source srcset="img/__shop-baskets/6.webp" type="image/webp">
                                    <img src="img/__shop-baskets/6.jpg" alt="гроб">
                                </picture>
                            </div>
                            <div class="card__prais">65 BYN</div>
                            <a class="card__button" href="contacts.html">купить</a>
                        </div>
                    </div>
                </div>
                <!-- карточка товара -->   
                <div class="shop-block__item flex-baskets">
                    <div class="card">
                        <div class="card__body">
                            <div class="card__title">Корзина к-4/k</div>
                            <div class="card__img  card__img_height-baskets">
                                <picture>
                                    <source srcset="img/__shop-baskets/7.webp" type="image/webp">
                                    <img src="img/__shop-baskets/7.jpg" alt="гроб">
                                </picture>
                            </div>
                            <div class="card__prais">50 BYN</div>
                            <a class="card__button" href="contacts.html">купить</a>
                        </div>
                    </div>
                </div>
                <!-- карточка товара -->   
                <div class="shop-block__item flex-baskets">
                    <div class="card">
                        <div class="card__body">
                            <div class="card__title">Корзина к-4/б</div>
                            <div class="card__img  card__img_height-baskets">
                                <picture>
                                    <source srcset="img/__shop-baskets/8.webp" type="image/webp">
                                    <img src="img/__shop-baskets/8.jpg" alt="гроб">
                                </picture>
                            </div>
                            <div class="card__prais">50 BYN</div>
                            <a class="card__button" href="contacts.html">купить</a>
                        </div>
                    </div>
                </div>
                <!-- карточка товара -->   
                <div class="shop-block__item flex-baskets">
                    <div class="card">
                        <div class="card__body">
                            <div class="card__title">Корзина к-4/c</div>
                            <div class="card__img  card__img_height-baskets">
                                <picture>
                                    <source srcset="img/__shop-baskets/9.webp" type="image/webp">
                                    <img src="img/__shop-baskets/9.jpg" alt="гроб">
                                </picture>
                            </div>
                            <div class="card__prais">50 BYN</div>
                            <a class="card__button" href="contacts.html">купить</a>
                        </div>
                    </div>
                </div>
                <!-- карточка товара -->   
                <div class="shop-block__item flex-baskets">
                    <div class="card">
                        <div class="card__body">
                            <div class="card__title">Корзина к-3/p</div>
                            <div class="card__img  card__img_height-baskets">
                                <picture>
                                    <source srcset="img/__shop-baskets/10.webp" type="image/webp">
                                    <img src="img/__shop-baskets/10.jpg" alt="гроб">
                                </picture>
                            </div>
                            <div class="card__prais">47 BYN</div>
                            <a class="card__button" href="contacts.html">купить</a>
                        </div>
                    </div>
                </div>
                <!-- карточка товара -->   
                <div class="shop-block__item flex-baskets">
                    <div class="card">
                        <div class="card__body">
                            <div class="card__title">Корзина к-3/c</div>
                            <div class="card__img  card__img_height-baskets">
                                <picture>
                                    <source srcset="img/__shop-baskets/11.webp" type="image/webp">
                                    <img src="img/__shop-baskets/11.jpg" alt="гроб">
                                </picture>
                            </div>
                            <div class="card__prais">47 BYN</div>
                            <a class="card__button" href="contacts.html">купить</a>
                        </div>
                    </div>
                </div>
                <!-- карточка товара -->   
                <div class="shop-block__item flex-baskets">
                    <div class="card">
                        <div class="card__body">
                            <div class="card__title">Корзина к-3/k</div>
                            <div class="card__img  card__img_height-baskets">
                                <picture>
                                    <source srcset="img/__shop-baskets/12.webp" type="image/webp">
                                    <img src="img/__shop-baskets/12.jpg" alt="гроб">
                                </picture>
                            </div>
                            <div class="card__prais">47 BYN</div>
                            <a class="card__button" href="contacts.html">купить</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Похороны — тяжелый этап, пережить который хочется по всем канонам и правилам. Довольно сложно в состоянии скорби учесть все детали, предусмотреть все. Необходимо выполнить множество задач, чтобы достойно проводить усопшего. Подготовка к погребению отнимает много времени, сил, но мы стараемся всячески помогать в этом непростом вопросе. Наше агентство выполняет полный спектр ритуальных услуг, в том числе и занимается продажей ритуальных корзинок из искусственных цветов. Это обязательный и важный атрибут похорон. Каждый человек, желающий почтить память умершего, приносит искусственные или живые цветы. Это символ памяти, скорби, дань уважения. Если еще несколько лет назад ритуальные корзинки с цветами были редкостью, то сегодня купить их можно без труда и в любом исполнении. Они представлены разных размеров, дизайна, цветовой гаммы. Выбор ограничивается лишь финансовыми возможностями и предпочтениями покупателя.</div>
            </div>

            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Преимущества ритуальных корзин:</div>
            </div>

            <!-- UL-LI: -->
            <div class="text-page container">
                <div class="text-page_margin">
                    <ul class="text__list">
                        <li class="text__line">Долговечность. Изготавливают их из проволочной корзины, которая имитирует лапник еловый. Также для лукошка может использоваться ивовая лоза. Выбор этих материалов не случаен — они символизируют непрерывность жизни, тонкую грань между мирами.</li>
                        <li class="text__line">Привлекательный вид. Наполнение корзины может быть разным. Это могут быть розы, лилии, каллы, хризантемы. Искусственные цветы способны простоять довольно длительный период, несмотря на погодные условия, без потери первозданного вида.</li>
                        <li class="text__line">Доступная цена. Стоимость на ритуальные корзины невысокая. У нас эти изделия можно купить по очень демократичным ценам, а ассортимент порадует даже самых требовательных покупателей.</li>           
                    </ul>
                </div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Подбирается ритуальная корзина не только с учетом пожеланий, но и в зависимости от пола, характера усопшего. Например, для мужчины лучше всего подойдут вариант сине-белых роз или лилий, а для женщин — красные или розовые цвета. Конечно, строгих ограничений при выборе ритуальной корзинки нет, но это стандартные рекомендации.</div>
            </div>

            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Где купить ритуальную корзину в Минске по доступной цене?</div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">У нас всегда в наличии есть большой выбор атрибутов для захоронения. Кроме того, мы оказываем полный спектр услуг, в том числе и консультационную помощь в выборе всех аксессуаров. Ритуальные корзины с искусственными цветами изготовлены опытными флористами с учетом всех требований и особенностей ритуала. Размеры их могут совершенно разными, как и исполнение. Цена на ритуальную корзину зависит от количества искусственных цветов, оформления. Например, можно ее дополнительно украсить ленточкой, добавить элементов и т.п. Никаких ограничений, кроме вашей фантазии у нас нет. И главное — мы стараемся делать все, чтобы похороны проходили с минимальными финансовыми затратами. Для нас важно не продать, а сделать так, чтобы прощание с вашим близким человеком прошло на высочайшем уровне.</div>
            </div>

            <!-- title: -->
            <div class="text-title container">
                <div class="text-title_margin">Как сделать заказ ритуальной корзины?</div>
            </div>

            <!-- текст: -->
            <div class="text-page container">
                <div class="text-page_margin">Вы можете выбрать понравившееся изделие в онлайн-каталоге и позвонить нам. После уточнения всех нюансов изделие будет дожидаться вас или будет доставлено в ближайшее время по указанному адресу.</div>
            </div>
            

<!-- конец блок магазина -->
        

        </main>
        <!--= footer -->
        <footer class="footer">
            <div class="footer__item-img">
                <picture>
                    <source srcset="img/footer/Logo-1.webp" type="image/webp">
                    <img loading="lazy" class="footer__img" src="img/footer/Logo-1.jpg"  alt="логотип похороны в минске" width="298" height="100">
                </picture>
            </div>
            <div class="footer__item">
                <div class="footer__title">адрес</div>
                <div class="footer__text">г.Минск</div>
                <div class="footer__text">пр-т Партизанский 5</div>
            </div>
            <div class="footer__item">
                <div class="footer__title">телефоны</div>
                <a class="footer__text" href="tel:+375447695139">+375447695139</a>
                <a class="footer__text" href="tel:+375295057052">+375295057052</a>
            </div>
            <div class="footer__item">
                <div class="footer__title">часы работы</div>
                <div class="footer__text">24 часа</div>
                <div class="footer__text">круглосуточно</div>
            </div>
        </footer>
        <!-- end wrapper -->
    </div>

<script src="dist/bundle.js?v=2.6"></script>
</body>
</html>